[2021-03-01 23:15] 8gentile opened #276 "[Bug] attachFile called once, but posting two files"
### Current behavior:

Attempting to use this package with `react-dropzone` and I have the following code which does everything I want except it does it twice for every time I call it.

[code]

![Screen Shot 2021-03-01 at 6 09 03 PM](https://user-images.githubusercontent.com/21317200/109571171-42038f00-7ab9-11eb-98ea-28fd03bdb302.png)

If I add a second call, I get four. Seems like it is performin

[2021-03-01 23:26] 8gentile commented on #276
For clarity, if I remove the processingOptions

[code]

I get only a single file, the expected behavior.

I'm reporting this bug for the drag and drop option.

[2021-03-02 23:17] boardofchris commented on #276
Same issue with `{ subjectType: 'drag-n-drop' }`. Attached is test runner showing two upload events.

![Screen Shot 2021-03-02 at 3 13 28 PM](https://user-images.githubusercontent.com/17031385/109727959-299f7d00-7b6a-11eb-817c-282821add294.png)

[2021-03-05 22:08] antonipelka commented on #236
Hey there!
I just come with a similar problem. The thing was working yesterday, but today after I've done some changes it broke.
The thing I did was simply adding `tsconfig.json` as it is [suggested](https://docs.cypress.io/guides/tooling/intelligent-code-completion.html#Reference-type-declarations-via-tsconfig) in Cypress documentation.
The outcome was that Cypress was using wrong package version

[2021-03-06 00:16] ismail-codinglab commented on #236
@abramenal with the issue located, a reproducable example and exact method identified. Do you think it's possible to get a fix out the door?

[2021-03-09 12:52] abramenal commented on #132
@MaxChu23 I think you're using newer plugin version where the command signature has slightly changed.
I suggest to either set specific v3 version in package.json, or look through the new API docs to see what's changed.

[2021-03-12 16:33] jenkma02 commented on #236
I am seeing this issue as well - Cypress 6.6.0 and cypress-file-upload 5.0.2. @slinkardbrandon i tried adding the mimeType and unfortunately that didnt work for me. i get an error `mime is not defined`

[2021-03-15 15:23] Ckrill commented on #250
I started seeing a similar error (`TypeError: o.default.basename is not a function`) after upgrading to  Gatsby 3 (3.0.4), and therefore Webpack 5 (5.16.0).
Could it be that the Webpack upgrade caused this?

[2021-03-17 12:45] mysticdevx commented on #141
Hey @abramenal, any update on this?

[2021-03-17 12:46] mysticdevx commented on #141
Hey @endymonium can you share pseudocode on how you achieve this?

[2021-03-17 18:42] anark opened #277 "[Bug] lastModified on file is changed on every use"
### Current behavior:
Currently if you upload the same file fixture twice it will create two uploads with a different `lastModified` and lastModifiedAt` data on the file uploads.  This makes it impossible to create a test that tests what happens if the same file(with the same metadata) is uploaded twice

[code]
Each upload will have a different `lastModified` and `lastModifiedAt`

The same is true

[2021-03-20 17:15] #277 closed

[2021-03-20 19:47] abramenal commented on #277
Thanks for submitting the issue and making a contribution as well!
Release in `v5.0.3`

[2021-03-25 16:59] vitalii commented on #276
any workarounds for it?
Have the same issue

[2021-03-26 02:16] MuckT commented on #241
An update on this. I am using cypress-file-upload. If I do a global install of cypress I have no problem running it on the build machine. If I do a global install of cypress-file-upload I am unable to use it on a build machine.

[code]

[2021-03-26 06:08] MuckT commented on #241
@abramenal was an issue with nvm. After uninstalling and using node directly I was able to do a global install and move the installed node_modules folder to `C:\node_modules`. Probably not the best solution, but the reduction in e2e test execution time was worth it.

[2021-03-26 08:56] abramenal commented on #241
Thanks for this info @MuckT. Really good to know that ppl have such use case, and that it's not working properly with nvm.
I'll leave it open then, but don't expect it to be fixed really soon

[2021-03-26 14:40] xdumaine commented on #122
FWIW I _thought_ had this issue, but I did not. I just did this to get it working. Trying to read the file directly with `cy.fixture` failed.

[code]

[2021-03-26 17:35] andrico1234 commented on #177
This worked for me when trying to test uploading an encrypted file

thanks @jerdaane

[2021-03-28 18:42] abramenal commented on #239
Hey peeps, can anyone check if this issue is reproducible in this package's version?
In your package.json:
[code]

It tooks the code from this PR's branch: https://github.com/abramenal/cypress-file-upload/pull/285

[2021-03-28 18:42] abramenal commented on #250
Hey peeps, can anyone check if this issue is reproducible in this package's version?
In your package.json:
[code]

It tooks the code from this PR's branch: https://github.com/abramenal/cypress-file-upload/pull/285

[2021-03-29 22:31] adamalston commented on #276
One workaround is deleting the second uploaded file (from Cypress) so that only one file gets uploaded in the end. How to delete the duplicate upload would vary by project.

[2021-03-30 10:23] Donaab commented on #141
Hello ... is there any update on this? We would also need to upload a directory structure (folder with files and subfolders).
@endymonium Could you please write an example how your workaround looks like for this.

I couldn't find anywhere example how to test folder structure upload with cypress.

[2021-04-01 10:24] Donaab commented on #141
@abramenal Can you maybe use this implementation https://github.com/knotthere/cypress-file-upload/blob/21e16fbbc0f9d1f8b842eab390a3beebbe53ce1f/src/attachDirectory.js ?

[2021-04-01 12:49] abramenal commented on #141
Hey @Donaab, this looks good – just wondering why @knotthere didn't submit a PR with this.
I can pick it up early next week

[2021-04-01 13:07] Donaab commented on #141
@abramenal Only thing with that command is it doesn’t recognize a subfolder as item to add to the dataTransfer. It just reads the files from that folder for me.

[2021-04-01 14:33] Donaab commented on #141
@abramenal Maybe it would be good idea to add an option to add some items in the dataTransfer .

This is how my dataTransfer looks like:

`dataTransfer: {
        items: [
          {
            webkitGetAsEntry: () => ({
              isDirectory: true,
              isFile: false,
              fullPath: '/foo',
              createReader() {
                return {
                  sentEntri

[2021-04-02 16:10] Rafsonic commented on #276
Have the same issue

[2021-04-02 22:33] BryantDavis1986 commented on #239
upgrade from Cypress 6.2 --> 6.8 and changed cypress-file-upload from 5.0.2 --> "github:abramenal/cypress-file-upload#feature/fix-bundle"

this resulted in
![image](https://user-images.githubusercontent.com/62255879/113458889-b4250780-93c8-11eb-8b5c-bdc295d44d58.png)

[2021-04-06 18:40] #239 closed

[2021-04-06 20:17] abramenal commented on #141
Would be nice if someone can join code review – I am not sure I fully understand use cases, so might have done some garbage instead of solution 😉

[2021-04-07 07:14] Ckrill commented on #250
Hi @abramenal
I am still seeing my error message, but I will try to upgrade to Cypress 7 and test if it persists after that.

[2021-04-07 07:32] abramenal commented on #250
Hi @Ckrill, thanks for quick feedback. Have you tried it with `v5.0.4` that was released yesterday?

[2021-04-07 07:33] Ckrill commented on #250
Yes, I just tried that one.

[2021-04-07 08:12] abramenal commented on #250
@Ckrill I'm struggling with reproducing this issue – are you (or someone else) able to set up a minimal repo with this issue?

[2021-04-07 09:35] andrei10k opened #289 "[Bug] ERR_INVALID_ARG_TYPE when uploading a file with the new cypress v7.0.0"
### Current behavior:

with the new cypress v7.0.0 and cypress-file-upload v5.0.4 the pdf upload is not working. i got the following error:

[code]

### Desired behavior:

the upload should work as with version 6.8.0

### Steps to reproduce: (app code and test code)

[code]

### Versions

[2021-04-07 11:53] Ckrill commented on #250
Hi @abramenal we are not currently using the official Cypress package. Due to its lack of support for Webpack 5, we are using the one referenced in this [github issue comment](https://github.com/cypress-io/cypress/issues/8900#issuecomment-726066997).
I think the first step for us is to upgrade to the new Cypress 7, that now has support for Webpack 5.
If we continue to have the issue, I can try to

[2021-04-07 12:23] abramenal commented on #250
👌 makes sense
Please note there is this issue opened against cypress7 https://github.com/abramenal/cypress-file-upload/issues/289
I am going to prep a fix for it soon

[2021-04-07 12:26] abramenal commented on #289
Hi @andrei10k
Thanks for submitting the issue!
Consider this as top priority issue, working on it

[2021-04-08 13:54] MikeDabrowski opened #291 "[Bug] Ngx-dropzone duplicated events"
### Current behavior:

When using this plugin to upload files onto ngx-dropzone (angular) the `changes` output fires twice.
This happens when using subject 'drag-n-drop'. When using 'input' output fires once but the event that it is passed is of wrong type (CustomEvent). Current workaround would be to modify my app to handle that CustomEvent structure too, or to debounce that event.

### Desired b

[2021-04-08 14:54] abramenal commented on #291
Hi @MikeDabrowski
Thanks for submitting the issue!

I think it is related to #290

[2021-04-08 20:58] gparrar commented on #192
Hi, I'm having this issue same issue here.

this is my code:

[code]
I'm still getting a Blank pdf when I upload using cypress. I tried uploading the file manually and it works fine.

I'm using
"cypress": "^7.0.0",
"cypress-file-upload": "^5.0.2",

Please help

[2021-04-08 21:57] #276 closed

[2021-04-08 22:03] abramenal commented on #291
@MikeDabrowski `v5.0.5` is just released, can you please check if this issue still persists?

[2021-04-09 06:42] MikeDabrowski commented on #291
@abramenal I can confirm it works with `v5.0.5`. Good catch!

[2021-04-09 06:42] #291 closed

[2021-04-09 16:03] pvogel2 opened #293 "[Bug] Drag and drop not working as expected"
### Current behavior:
I am not sure if this is a bug:
When I run  cypress test  with drag and drop variant nothing is uploaded. As far as I can see the problem is that in the dataTransfer object the'types' array is empty. My drag and drop implementation checks this property for including 'Files' type to allow uploads from drag and drop.

In general I think to simulate native behaviour the types pr

[2021-04-09 22:23] slinkardbrandon commented on #289
Thanks for looking into this @abramenal, is there anything we can do to help? I just started running into this as well. I'm happy to investigate it a bit but I don't want to step on your toes. If I can help at all I would love to though.

[2021-04-09 22:31] michaeljaltamirano commented on #293
When I undo my change in #290 I am indeed able to get the behavior working in Firefox, but types still shows up as an empty array:

[code]

It seems like there's different behavior in Chrome and Firefox, for which there's already precedent in the codebase: https://github.com/abramenal/cypress-file-upload/blob/1ae2d71821780c2f5f720c2e3a6be0593fa70825/lib/browser/isManualEventHandling.js

I wonder i

[2021-04-11 11:16] abramenal commented on #289
I couldn't reproduce the issue locally. Here is what I've used:
[code]

It would be really nice if someone can set up a small repo with reproducible example. cc @slinkardbrandon

[2021-04-11 11:21] abramenal commented on #236
I think these are 2 separate issues:
- `mime is not defined` should've been addressed in `v5.0.4` with fixing the build configuration
- `i.getType is not a function` might be related to `tsconfig`, and in this I'm not sure how to fix this properly

[2021-04-11 11:33] abramenal commented on #293
Hi @pvogel2
Thanks for submitting the issue!

No worries @michaeljaltamirano, thanks for investigating it further. Something like this indeed should work – I would only opt for checking browser since this is browser-specific thing. This can be done by having a new `/lib/browser` util.
Will you be able to create a PR for that change?

[2021-04-12 02:23] daggmano commented on #289
Sounds like it may be a Cypress issue? See https://github.com/cypress-io/cypress/issues/15901

[2021-04-12 12:13] tmjoen commented on #293
Drag and drop uploading broke between 5.0.4 and 5.0.5 for me -- cypress 6.9.1 running on Chrome. Is this the same issue you think, or a different one?

[2021-04-12 15:43] michaeljaltamirano commented on #293
@tmjoen Can you share more details? Many chrome users were seeing duplication with 5.0.5 (https://github.com/abramenal/cypress-file-upload/issues/276). Are you seeing no uploads at all (like this issue)?

[2021-04-14 11:00] tmjoen commented on #293
Yes, there are no updates when drag-n-drop'ing to my upload component

[code]

The same code works in 5.0.4.

I'm afraid I'm not sure how to debug further :(

[2021-04-15 07:47] #293 closed

[2021-04-15 08:02] abramenal commented on #293
`v5.0.6` is released containing the fix from @michaeljaltamirano
We have also enabled Firefox tests on CI, so I expect such things don't break easily now.

[2021-04-15 08:08] tmjoen commented on #293
The problem persists on 5.0.6 for me with Chrome, so it is maybe not related to this?

[2021-04-15 08:34] abramenal commented on #293
Hey @tmjoen
I believe these issues might be unrelated, can you please open a separate issue describing your setup, versions, which drag-n-drop implementation you are using, and maybe a HTML sample of that `employee_avatar_` element?

[2021-04-19 16:30] sandra-ouadghiri opened #298 "[Feature] Glob support for fixture file"
### Current behavior:

If you have
fixture (folder) > licences (folder) > valid-licence.json and unvalid-licence.json

This doesn't work
[code]

This doesn't work
[code]
(nor any variations around that)
Error message resolves 'ok' on paper, but I guess ** is not interpreted as I hope it would.
[code]

This works
[code]

### Desired behavior:

I'd like to be able not to specify the folder path prec

[2021-04-23 11:10] joehansen opened #299 "[Bug] ngx-file-drop not working with Version >= 4"
### Current behavior:

We are using ngx-file-drop ( https://github.com/georgipeltekov/ngx-file-drop ) in our Angular App to upload files. We update our npm packages and now all our e2e cypress test with file upload don`t work anymore.

We set cypress-file-upload version from version 3.4.3 to 5.0.6 and change code specific to changes (attachFile instead of upload).

It seems that the onFileDrop fro

[2021-04-27 13:50] tagliala commented on #289
cypress-io/cypress#15901 should have been fixed in 7.2.0

btw, I'm successfully using 7.2.0 w 5.0.6 version of this gem and file uploads works on Chrome

[2021-04-27 13:57] donalmurtagh commented on #289
I've tested with 7.2.0 and the issue still exists. See [this comment](https://github.com/cypress-io/cypress/issues/15898#issuecomment-827617631) for further details

[2021-04-28 07:08] jozso39 commented on #289
This problem still exists for me as well on cypress 7.2.0
The crash doesnt occur on the file upload step, but only when trying to `cy.intercept` the request that uploads the file.

[2021-04-29 04:52] Nikeshbajra opened #300 "File is uploaded but the angular class ng-invalid is not changed to ng-valid after upload"
![image](https://user-images.githubusercontent.com/80874229/116503799-a9319a00-a8d6-11eb-97ec-e1a276eb3901.png)
![image](https://user-images.githubusercontent.com/80874229/116503849-c5cdd200-a8d6-11eb-926b-805419ddcdb9.png)

I have uploaded the image using the plugin but angular doesn't seem to change the class from ng-invalid to ng-valid

[2021-04-29 13:56] cuadllop commented on #289
Still happening to me as well in 7.2.0

[2021-04-29 16:16] JaydenNavarro-at opened #301 "[Bug] Dependency on node.js 'path' breaking tests with certain bundlers (e.g. esbuild)"
### Current behavior:

`The following error originated from your test code, not from Cypress. > process is not defined`
<img src="https://user-images.githubusercontent.com/62629279/116583061-cf513d00-a8ca-11eb-9989-aeb6799b9c14.png" width="400">
<img src="https://user-images.githubusercontent.com/62629279/116583290-0b849d80-a8cb-11eb-80a7-42999cd7bfb1.png" width="500">

### Desired behavior:

The

[2021-04-30 14:50] abramenal commented on #301
Hi @JaydenNavarro-at
Thanks for submitting the issue!

This is something I've been struggling to fix. The idea is – Cypress allows using node.js built-ins inside your custom command, but using any bundler by end user breaks this.

For now I have 2 ideas:
- get rid of literally any Node.js built-in usage (which is couple of places, but still weird to have own implementation of something like this)

[2021-04-30 14:57] abramenal commented on #300
Hi @Nikeshbajra
Thanks for submitting the issue!

Can you please describe your setup? Like:
1. which file upload component you are using
2. which event is required by its implementation to "consume" the file object
3. how you are selecting target element to upload your file into?

[2021-04-30 15:01] abramenal commented on #298
Hi @sandra-ouadghiri
Thanks for submitting the issue!

I believe this is something that should be resolved by end user. For example, what I have in mind is:
[code]
Would this work? Or am I missing something?

I feel having a glob implemented would make file upload more error-prone. Imagine situation where I have this folder structure:
[code]

If I would use glob in tests
[code]
which file is suppo

[2021-04-30 15:03] abramenal commented on #299
Hi @joehansen
Thanks for submitting the issue and setting up a reproducible example, appreciate that!

Please stay on v3 for now, and in the meantime I'll take care of this

[2021-04-30 15:08] abramenal commented on #250
Related to #301

[2021-04-30 15:09] abramenal commented on #236
Might be also related to #301

[2021-04-30 16:07] sandra-ouadghiri commented on #298
Hi,
It's kind of what I do currently.

[code]

`When  I upload the invalid.json license file`

[code]

But I felt like stating the folder name like that was a bit forced. I try as much as possible to prevent showing the test framework implementation to emerge in gherking sentecnes but I guess sometimes it can't be prevented.

I did only consider a case where the dev doesn't name everything the sam

[2021-04-30 16:13] sandra-ouadghiri commented on #298
Are the ** in your first example a typo? I guess it is.

[2021-04-30 18:29] pyrocat101 commented on #301
@abramenal

Cypress by default uses the webpack preprocessor to bundle the test file for running in the browser. It only supports Webpack <= 4 [so far](https://github.com/cypress-io/cypress/issues/8900#issuecomment-815032431). By default, Webpack 4 [polyfills](https://webpack.js.org/blog/2020-10-10-webpack-5-release/#automatic-nodejs-polyfills-removed) node core modules.

To replicate this setup,

[2021-05-02 14:10] abramenal commented on #239
Should be resolved in `v5.0.4`, but feel free to reopen if you still observe this.

[2021-05-02 14:13] abramenal commented on #301
@pyrocat101 thanks for explaining this. I think the easier way then is indeed replacing with custom implementation.
Working on this now.

[2021-05-02 18:24] abramenal commented on #236
So mime dependency is now bundled within command's source code, and #302 introduces a replacement for all node.js internals. Hence, the package will not have a single dependency required.

[2021-05-02 18:24] #236 closed

[2021-05-02 18:34] #250 closed

[2021-05-02 18:41] #301 closed

[2021-05-02 18:42] abramenal commented on #301
Released in `v5.0.7`

[2021-05-02 18:42] abramenal commented on #250
Released in `v5.0.7`

[2021-05-02 18:49] #206 closed

[2021-05-02 18:50] #202 closed

[2021-05-02 18:51] #204 closed

[2021-05-02 22:05] pyrocat101 commented on #301
Thank you!

[2021-05-03 13:13] StephaneColson commented on #300
I have a very close issue with an Angular popup and a file upload inside it.

### Current behavior:

After selecting a file name with this cypress call `cy.get('input[name=fichier]').attachFile(filename);` the "Save/Enregistrer" button remains disabled when used in an Angular popup. According to front end code, the "Save/Enregistrer" button is disabled because the form is detected as still invalid

[2021-05-03 15:05] vishnuprabhu-95 commented on #69
Can anyone help me with the folder upload. Please help with the same.

[2021-05-03 15:18] abramenal commented on #69
@vishnuprabhu-95 this hasn't been implemented yet as of #288

Please follow #141 for further updates

[2021-05-04 11:21] Nikeshbajra commented on #300
My Code:
cy.get('input[type="file"]').attachFile(['Images/mart_logo.png'])

I am using the cypress-file-upload plugin
![image](https://user-images.githubusercontent.com/80874229/116996274-e1801080-acfa-11eb-807d-37f34262fae0.png)

![image](https://user-images.githubusercontent.com/80874229/116995859-569f1600-acfa-11eb-9123-44057e408d89.png)
![image](https://user-images.githubusercontent.com/808742

[2021-05-04 19:03] vishnuprabhu-95 commented on #141
I have an use case,
It like uploading a folder with multiple files. Then we list all the files in UI. After reviewing, it will be submitted in the application.

It’s almost like google drive folder upload behaviour.

Can you please help me, when can I use this feature?
@abramenal

[2021-05-05 02:50] strass commented on #289
the fix in 7.3.0 pre-release here worked for me: https://github.com/cypress-io/cypress/issues/15898#issuecomment-831987480

[2021-05-07 07:21] StephaneColson commented on #300
@Nikeshbajra ok but maybe the same issue cause.

[2021-05-19 03:54] abhidp commented on #232
@MCFreddie777  Until this bug/feature is fixed, you can use the the `readFile` option as a workaround

[code]

[2021-05-21 02:55] jackguoAtJogg commented on #136
The upload not longer work, all you need to do is to change from `upload` to `attachFile`.

[2021-05-21 18:28] tnrich commented on #183
I'm seeing this issue in Cypress v7.1.0

Still not sure how to fix it.. I can't change the internals of how papaparse work. Has anyone got this working with papaparse specifically?

Thanks!

[2021-05-22 01:31] jtneal opened #305 "[Bug] All cypress types placed in global namespace"
### Current behavior:

All Cypress types are put into the global namespace:
https://github.com/abramenal/cypress-file-upload/blob/main/types/index.d.ts#L1

![Screen Shot 2021-05-21 at 9 26 35 PM](https://user-images.githubusercontent.com/5340961/119210712-aeb87500-ba7b-11eb-9f0e-55fd342ac2bc.png)
![Screen Shot 2021-05-21 at 9 26 41 PM](https://user-images.githubusercontent.com/5340961/119210713-ae

[2021-05-24 19:19] vishnuprabhu-95 commented on #141
Please provide this feature soon. Waiting for six months. @abramenal

[2021-05-25 19:16] haggen opened #307 "[Feature] Allow for mocking file size"
### Current behavior:

When attaching a file you can provide the description of a file (`{ filePath, mimeType, ... }`) and even mock its contents via `fileContent`, but you can't mock its size.

### Desired behavior:

I wish I could provide the file size without resorting to mock its content. That would be especially useful for mocking large files.

[code]

### Versions

n/a

[2021-05-28 15:18] HindyB commented on #136
Hello,
Thank you for this, however, I'm trying to upload large or small video files then accepted, in order to test the right error message. The following result is obtained:
![image](https://user-images.githubusercontent.com/55153633/120005902-03f70800-bfe1-11eb-962f-3fd10ba3fb2f.png)

[2021-05-30 18:04] HindyB opened #308 "Trying to upload large or small video files then accepted fails"
Hello,
Thank you for this, however, I'm trying to upload large or small video files then accepted, in order to test the right error message. The following result is obtained:
![image](https://user-images.githubusercontent.com/55153633/120005902-03f70800-bfe1-11eb-962f-3fd10ba3fb2f.png)

_Originally posted by @HindyB in https://github.com/abramenal/cypress-file-upload/issues/136#issuecomment-850492

[2021-06-06 17:01] anark commented on #141
I'm trying to help with this.

It seems the simplest solution would be to fix the upload fixtures so they return the correct information on when `webkitGetAsEntry`(https://wicg.github.io/entries-api/#dom-datatransferitem-webkitgetasentry) is called on the dataTransfer items.

For some reason when uploading files via cypress-file-upload `webkitGetAsEntry()` always returns null.  If we could fix thi

[2021-06-07 07:15] LoganWlv commented on #273
Having the same issue though the error is slightly different (~500MB .csv file):

![image](https://user-images.githubusercontent.com/22358070/120974600-9d0be880-c770-11eb-827c-cb7284eed055.png)

[code]

[2021-06-08 18:42] anark commented on #141
I believe the reason that `webkitGetAsEntry` is null is because the drag item is stuck in `protected` mode.  This data is only accessible on the drop event(not drag or drag over). https://stackoverflow.com/a/31922258

[2021-06-09 09:32] Ckrill commented on #250
Hey @abramenal,
I just wanted to let you know that I finally had time to test the new version. It looks like it is running smoothly now in our solution with Webpack 5.
Thanks for fix, good job!

[2021-06-09 19:31] pmerwin commented on #136
for others this is what worked for me:

[code]

[2021-06-14 10:02] alucardu opened #309 "[Bug] Imaged uploaded to dropzone, not available in dropzone but test passes."
### Current behavior:

Imaged is not getting attached to dropzone:

![image](https://user-images.githubusercontent.com/779921/121874504-43e60c80-ccbc-11eb-9100-888eea203fab.png)

As you can see on the screenshot the test succeeded:

    it('Add passport front to file upload', () => {
      const fixtureFile = 'paspoort-voorkant.jpg'
      cy.get('[data-cy="dropzone_front"]').attachFile(fixtureFile

[2021-06-14 11:12] alucardu commented on #309
Closed.

    it('Add passport back to file upload', () => {
      cy.get('[data-cy="file-input"]')
        .attachFile('paspoort-voorkant.jpg', { subjectType: 'drag-n-drop' })
    })

[2021-06-14 11:12] #309 closed

[2021-06-14 19:12] HindyB commented on #136
This works great for me, excluding uploading large video files

[2021-06-16 08:54] dungphung commented on #238
``` cy.get('[data-cy="file-input-po"]').attachFile({ filePath: "file.pdf", encoding: "base64" });```

Thanks. This is solved my problems

[2021-06-21 07:34] #305 closed

[2021-06-21 17:19] david-fong opened #311 "[Bug] Typing support clash with user's custom typings"
### Current behavior:

The recommended way of adding typings support (`import 'cypress-file-upload';`) clashes with the user's typings for their custom commands.

[code]

I think this happens because the addition of the "import" keyword [turns the file into a module](https://www.typescriptlang.org/docs/handbook/2/modules.html#how-javascript-modules-are-defined). I tried adding the export keywords

[2021-06-22 13:08] elisa-dc opened #312 "[Bug]"
### Current behavior:
Hello!
we use the plugin to upload a single jpeg file

`cy.get('my_file_input_selector').attachFile('flle_to_upload.jpeg');
`

This works as expected when running the tests in the browser, but it fails when we run the test in --headless mode

![image](https://user-images.githubusercontent.com/41437937/122929578-68508180-d36b-11eb-886a-397bb9cb016f.png)

### Desired behavior:

[2021-06-24 19:26] JonathanDaflon opened #313 "MimeType option question"
Hi, I'm currently testing an application that can be configured to accept or deny some mimeTypes based on the customer settings. So I'm using this lib to upload files, and it has worked great, but I stumbled on this scenario where I want to set a different mimeType for an extension (example: 'file.pdf' with mimeType 'video/x-ms-wmv') to see if everything works fine.

**Current Behavior:**
Setting

[2021-06-28 07:53] hoeni commented on #299
Same here with Angular 12 and ngx-file-drop. The `onFileDrop`-Event of ngx-file-drop does not arrive in my app when using cypress-file-upload.

[2021-07-14 15:16] Blaimi commented on #299
using the [Drag-n-drop component](https://github.com/abramenal/cypress-file-upload#drag-n-drop-component) works for me as a workaround.

[2021-07-16 06:21] ajreynon opened #314 "Unable to upload .xlsm file using cypress-file-upload plugin"
### Current behavior:

![image](https://user-images.githubusercontent.com/23646694/125901165-1cd7ff2d-aa4f-4355-8d5f-60955edd93f6.png)

Does not upload successfully using automation but when I do it manually it successfully uploads the file

### Desired behavior:

It should upload successfully

### Steps to reproduce: (app code and test code)

`cy.get('input[type=file]').attachFile('PHINMA-TOR-Tem

[2021-07-19 00:56] #314 closed

[2021-07-20 03:24] sinbargit opened #315 "[Bug] md5 change after uploaded via this plugin"
### Current behavior:

md5 change after uploaded via this plugin

### Desired behavior:

md5 not change after uploaded via this plugin

### Steps to reproduce: (app code and test code)
Get the file md5 with md5sum tool
Get the file md5 after uploaded with md5sum tool
The two md5 not same
### Versions
cypress-file-upload : 5.0.7
cypress: 7.6.0

[2021-07-20 06:22] sinbargit commented on #315
using encoding base64 as workaround. close it

[2021-07-23 20:54] BenAhlander commented on #189
I know this is closed...but if anyone lands here in the future, this worked for me

    cy.fixture("image.jpg").then((fileContent) => {
      cy.get("#fsp-fileUpload").attachFile({
        fileContent,
        fileName: "image",
        encoding: "base64",
        mimeType: "image/jpg",
      });
    });

[2021-07-25 08:00] alapanme opened #316 "[Bug] Getting errors on installing cypress-file-upload 5.0.8 with cypress 8.0"
Cypress is unable to resolve dependency tree -

[code]

[2021-07-25 08:12] alapanme commented on #316
I just checked the logs the issue was caused by some other plugin (cypress-real-events). So this is invalid.

[2021-07-25 08:12] #316 closed

[2021-07-25 14:14] FahirL opened #317 "[Bug] failed upload"
Hey, I have a problem with the upload. One file is successfully uploaded, but one is not. The file that was successfully uploaded is .x_t, and .slt cannot. I've tried different ways with different codes, but it won't.
![Screenshot_1](https://user-images.githubusercontent.com/54484112/126902020-88afb8cf-6176-456e-918e-09bc2eb804e8.png)
![Screenshot_2](https://user-images.githubusercontent.com/54484

[2021-07-27 09:13] symon-skelly opened #319 "[Bug] File upload unsuccessful in Firefox, but successful in Chrome"
### Current behavior:

I am able to successfully use this plugin to upload photos & videos using Chrome Browser for e2e tests, however when the same tests are run in Firefox, the Video upload test will fail at the point where I am waiting for the video to finish uploading (it never does when using this plugin).

### Desired behavior:

Firefox Browser should be able to successfully upload and proce

[2021-07-29 15:54] warpdesign opened #320 "[Bug] Upload not working on Firefox"
### Current behavior:
I am trying to upload a file using a React app which uses [react-dropzone](https://github.com/react-dropzone/react-dropzone).

This is the cypress code:

[code]

On Chrome, it works as expected, but on Firefox, nothing happens. After digging into `react-dropzone` and `cypress-file-upload` the problem appears to be here:

[code]

After this code, on Firefox, `dataTransfer.type

[2021-07-30 15:10] dgarofalo commented on #136
I'm not getting any errors when following the above, but I am however still seeing issue with the video encoding and the output is not playable by the browser. Any suggestions would be helpful.

Versions:
`
    "cypress-file-upload": "^5.0.7",
    "cypress": "8.0.0",
`

[2021-08-09 12:57] devnev opened #321 "[Bug] Files can be attached to disabled inputs without force:true"
### Current behavior:

An element `<input type=file disabled>` can have a file attached to it using this plugin without specifiying `force: true`.

### Desired behavior:

Attaching a file to a disabled input should fail as the user would be unable to do so.

The documentation for cypress-file-upload specifies:

But for cy.trigger and other actions, actionability is documented to exclude disabled e

[2021-08-13 18:05] edgarbarcenas opened #322 "[ERROR FILE VIDEO]"
### Current behavior:

  **Problem encoding a video**

### Desired behavior:

When uploading a video from an input file it does not encode it

### Versions
    "cypress": "^8.2.0",
    "cypress-file-upload": "^5.0.8"

[2021-08-13 18:17] edgarbarcenas commented on #322
I solved the problem by editing the plugin directly on line: 174 at the end of the object's plugin object
`MP4: 'mp4'`
-
-
at line: 281 of the bundle.js file
Add below
-
` [FILE_EXTENSION.MP3]: ENCODING.BINARY`
add the following line of code
-
 `  [FILE_EXTENSION.MP4]: ENCODING.BINARY`
-
-
With that the plugin encoded mp4 files

[2021-08-17 05:49] nikhilnayyar002 commented on #132
@MaxChu23 may be you can do this to check if your custom button is working

[code]

Basically we check if button does have a code registered to click an input[type=file]
Set `shouldWork` to true when you want button to work. Set false when you do not want it to work (to test file upload disabled functionality).

[2021-08-17 13:41] abramenal commented on #322
@edgarbarcenas please note that once you do `npm install` these changes will be overwritten.
There is an API exposed for that matters:

[code]

[2021-08-23 10:46] TiManGames opened #323 "[Feature] Uploading files with invalid syntax (Such as broken .json file) for testing web application behavior"
Consider the following .json file:

[code]
I have a web app that accepts files, if the user decides to upload a broken .json file, an error message appears. I want to test that scenario, and so I wanted to upload this file using cypress-file-upload.

However, it seems I can't do that, this is the result I get:

![image](https://user-images.githubusercontent.com/37684593/130434874-c80fb0c1-d97f-426

[2021-08-25 09:57] NikolaiB opened #324 "[Feature] Upload files from downloads folder, not only from fixtures"
Add an ability to set another folder for storing pictures for upload.

Problem:
Now, to upload the file it should be located in `fixtures` folder, but in some cases it requires to download the file first, that stores in `downloads` folder, and upload it further from this folder. Currently is not possible to do from the box.

[2021-08-25 12:58] AbrahemAlhofe opened #325 "[Bug] “Parameter is not valid” asp.net bitmap, upload image using cypress"
I want to test file input by uploading image with `cypress-file-upload` but asp.net `Bitmap` class
throw exception error `Parameter is not valid` when it gets the image by `InputStream`

Cypress spec command
[code]

Asp.net class that handling image compressing process
[code]

[2021-08-25 14:34] patroza commented on #175
@abramenal I use it like so:
[code]

and couldn't for the life of me figure out why the behaviour is different when using:
[code]

Maybe if the fileContent is a blob, don't overwrite it when fileName ends in .json?

[2021-08-30 12:33] #324 closed

[2021-08-31 14:39] abramenal commented on #175
@patroza well in your first example there is no way to determine file encoding automatically (as it is internally based on file extension). If you would like to pass whatever `fileContent` you should also specify `encoding` field, which determines the approach to build blob out of file content: https://github.com/abramenal/cypress-file-upload/blob/d553e202f3303cd201bff272cdadf45473bc86bc/lib/file/

[2021-08-31 14:42] abramenal commented on #323
Hi @TiManGames
Thanks for submitting the issue.
I think in this case you have to specify `encoding: 'utf-8'` so cypress won't try to parse it.
Can you please try something like this and let me know about the results
[code]

[2021-09-08 08:29] C3PablO commented on #141
Same problem. We're using webkitGetAsEntry together with react-dnd to distinguish between files and directories. Any workaround?

[2021-09-11 05:26] sprotznock85 commented on #273
This is still an issue and has nothing to do with the server side.
How can this be down by a workaround?
I try it with a one Gb file. This is working well in production but not with cypress.
Is it possible to trigger the change event of the input type file?

[2021-09-16 13:19] sprotznock85 commented on #273
Really need a workaround on this bug. Cannot use cypress otherwise. Any help?

[2021-09-21 18:14] RajS999 opened #327 "[Bug]"
### Current behavior:

When I upload the png file (when the expected input file is something else, in my case *.py file), website gives error

    ERROR: You have submitted a file factorial.py of type py but the contents are of application/octet-stream type.

I get same error with jpg and mp3 file upload.

### Desired behavior:

Website should give error:

    ERROR: You have submitted a file fact

[2021-10-10 20:23] aldipower commented on #320
Same problem here.

[2021-10-10 20:25] aldipower commented on #313
I have a simillar problem here, which makes my upload fail.
The "Content-type" in the multipart/form-data for the file is not set and is just "null", not respecting the mimeType setting.

[2021-10-10 21:04] warpdesign commented on #320
Since I could not wait for the bug to be fixed, I did a quick ugly fix: https://github.com/warpdesign/cypress-file-upload/commits/fixed-firefox-datatransfer-type

[2021-10-21 12:52] #232 closed

[2021-10-24 19:52] manuel-neto-maitha opened #337 "[Bug] The payload is malformed after upload XML file"
### Current behavior:

In my application, when uploading an XML file, manually, the request payload is formed correctly, and the upload is successful. The payload is similar with the json bellow, the application get the XML file and convert the file to one base64 string, and the string is invited in the payload.
[code]
However, when the upload is doing by the automated test with cypress-file-uploa

[2021-10-25 15:57] #337 closed, assigned to abramenal

[2021-10-26 15:55] BlueWinds opened #338 "[Feature] Cypress adding native attach file support in 9.3.0"
cypress-file-upload has a variety of issues with file encoding, and an ongoing support log about working with binary files. This is understandable - cypress has historically been very text-centered, and not had much interest in supporting binary files.

In 8.8.0, cypress will be adding the option to pass `null` as an explicit encoding, which will return a `Buffer` directly, no base64 encoding inte

[2021-11-04 19:16] Blaimi commented on #299
My investigation so far because the drag-n-drop workaround doesn't work on chrome or electron:
* chrome/electron doesn't like the `dragstart`-event, it is also in reallife never fired and it shouldn't in this component (`dragstart` is used on elements which I want to move to somewhere else). `dragenter` and `drop` is enough, even if I couldn't find any difference without `dragenter`.
* ngx-file-dr

[2021-11-05 11:05] SantiagoSM opened #339 "[Bug] - attachFile method is duplicating attachments in Firefox"
** Current behavior:**

I have a suite with different tests to add attachments following the next structure :

`let filenames = ['files/test2.pdf','files/test3.pdf'];`
`cy.get('.mydropzone').attachFile(fileNames, { subjectType: 'drag-n-drop' });`
`
The first test is executing fine in Firefox, adding the two files, but the second, adds 4 files, the thrid 6 files...and so on

###
![image](https://us

[2021-11-11 07:40] mall3r opened #342 "uploading file [Bug]"
### Current behavior:
When i upload a Example.csv file it show that the file have been uploaded but the Upload button is still cant be clicked
when i upload the file manually after cypress stop it works fine

![image](https://user-images.githubusercontent.com/79092326/141257406-fa02c3b4-3e67-4a2a-89a7-1ccba1fe8d6f.png)

### Desired behavior:

the file get uploaded successfully and the upload butto

[2021-11-14 16:43] #320 closed

[2021-11-14 16:47] #238 closed

[2021-11-14 16:49] abramenal commented on #275
Not an issue, since png/jpg/jpeg/gif/etc file extensions are being resolved into `base64` file encodings. If your filename does not have extension (or have a different one), you have to specify encoding explicitly.

[2021-11-14 16:49] #275 closed

[2021-11-14 16:56] abramenal commented on #179
Don't think this is relevant anymore. Feel free to reopen if you still experience this.

[2021-11-14 16:56] #179 closed

[2021-11-14 16:58] abramenal commented on #216
Don't think this is relevant anymore. Feel free to reopen if you still experience this.

[2021-11-14 16:58] #216 closed

[2021-11-14 16:59] abramenal commented on #233
Don't think this is relevant anymore. Feel free to reopen if you still experience this.

[2021-11-14 16:59] #233 closed

[2021-11-14 16:59] abramenal commented on #272
Don't think this is relevant anymore. Feel free to reopen if you still experience this.

[2021-11-14 16:59] #272 closed

[2021-11-14 17:05] abramenal commented on #342
Hi, thanks for submitting the issue.
I believe the file path is incorrect here, since it uses `fixtures` folder as a root by default. Can you try this?
`const test_upload = "example.csv"`

Feel free to reopen if this is still not working.

[2021-11-14 17:05] #342 closed

[2021-11-14 17:26] abramenal commented on #338
Hi @BlueWinds 👋
Removing intermediary base64 encoding indeed sounds like a nice improvement.

From my perspective, the biggest points are:
- working with `DataTransfer` and `File` objects, see https://github.com/abramenal/cypress-file-upload/issues/69 https://github.com/abramenal/cypress-file-upload/issues/141 https://github.com/abramenal/cypress-file-upload/issues/320

Note: different file drop U

[2021-11-15 16:18] juanan22 commented on #317
I had a similar problem but not the same, maybe this works:
Try "cy.get('input[type="file"]').attachFile(nameoffilegoeshere.stl).trigger('input');"
Adding the trigger('input')

[2021-11-15 16:20] juanan22 commented on #300
Thank you @0xbane it solved the problem for me. I couldn't find the solution anywhere else
👍

[2021-11-15 21:39] ngianluca opened #346 "[Bug]"
### Current behavior:

Uploading a jar file corrupts it and it becomes unusable.

### Desired behavior:

The file is able to be uploaded without being corrupted.

### Steps to reproduce: (app code and test code)

[code]

### Versions:
8.0.0 of cypress
5.0.8 of the plugin

tested with the latest chrome and firefox

[2021-11-15 22:14] Tacoholic opened #347 "Getting a false positive about a file uploading[Bug]"
### Current behavior:
So I am currently trying to create a test where I can upload a file from my computer. When I run the test, it tells me it passed, but when I check the browser to look at the way the test was executed, the file did not upload. So I then added an assertion that confirms that the message "File Successfully Uploaded!" will display when a file is uploaded.  It is not failing.  I f

[2021-11-16 16:57] tomaszczura commented on #347
I used `attachFile` in a few of my tests and didn't have any problems with that. `attachFile` is not synchronous - it does not wait until file is uploaded. Second thing - `cy.contains("File Successfully Uploaded!")` probably look through your whole DOM, so how do you show that text? Is this just hidden before upload, or it is added to DOM when file is uploaded?
Could you also paste code which you

[2021-11-16 20:18] Tacoholic commented on #347
@tomaszczura It turns out that the input was well hidden in the Dom.  It was in the `app-root`, inside a selector called a`pp-file-selector.`   Test is working and passing.

[2021-11-16 20:18] #347 closed

[2021-11-17 21:02] abramenal commented on #346
Hi @ngianluca
Thanks for submitting the issue!
Currently `jar` file extension is not supported out of the box, so you have to specify `encoding` property. I think it should work if you do as follows:
[code]

Please let me know if that works out, so I can add built-in support for this extension. Cheers!

[2021-11-17 21:02] #346 closed

[2021-11-17 21:05] abramenal commented on #347
@all-contributors add @tomaszczura for question

Thanks for helping out here, really appreciate that!

[2021-11-17 22:37] BlueWinds commented on #338
I've started work on the implementation - https://github.com/cypress-io/cypress/pull/18825 is the current PR, would welcome a review if you'd like. This is just the simplest implementation so far, without any thought with how files are loaded - there are follow-up tickets in https://github.com/cypress-io/cypress/issues/18753 and https://github.com/cypress-io/cypress/issues/18754.

The current thou

[2021-11-17 22:47] BlueWinds commented on #338
I also wrote a fairly in-depth technical brief, which goes over a lot of our internal discussion around the feature. It goes over the full plan, even though the current PR doesn't implement loading files from disk yet.

https://github.com/cypress-io/cypress/blob/issue-18752-attachFile/packages/driver/src/cy/commands/actions/attach-file-tech-brief/README.md

[2021-11-23 15:59] abramenal commented on #338
Sounds good! I'll try to review the tech proposal this week.
As for credits – fine with me. Once this is usable as an internal cypress module, I'll deprecate this package & create a migration guide, if that will be necessary.

[2021-11-28 21:34] VRa3 opened #349 "[Bug] Cannot set property name of which has only getter. Where does it come from?"
### Current behavior:
I wrote a function that allows me to upload files by request when needed (e.g. creating default project without UI clicking). Here's code for it :
[code]
And this works just fine, it does its job.

However, in next test suite I use `cypress-file-upload` package and method `attachFile`
[code]

to upload files using the UI and I get this error. You can see that after using `att

[2021-12-05 05:44] aktibaba opened #350 "cannot upload PDF file from fixture [Bug]"
### Current behavior:
 it seems like uploading but
<img width="552" alt="uploadpdf-1" src="https://user-images.githubusercontent.com/19630064/144735141-fee3b9e4-ea51-446e-8fc4-13f21523b539.PNG">

<img width="759" alt="uploadpdf-2" src="https://user-images.githubusercontent.com/19630064/144735161-9623845d-94e6-43af-9867-4f90b06e390e.PNG">

-------------------------------------
cy.get("div.button").

[2021-12-12 23:09] blindahl commented on #241
I have this issue as well since we're running cypress folder in folder parallell to where webapp/node_modules folder is. File structure is like this:
[code]
So when trying to run cypress it complains that:
[code]
since it doesn't go into src\main\webapp folder to look for cypress-files\upload. Any idea how to solve this?

[2021-12-12 23:17] aktibaba commented on #350
file upload is only working with input

[2021-12-12 23:17] #350 closed

[2021-12-14 20:21] BlueWinds commented on #338
Ok, some more updates. We have finalized (or nearly finalized) PRs for both the code itself and four our updated documentation. Aiming to get this in the 10.0 release, scheduled tentatively for mid-January.

Code: https://github.com/cypress-io/cypress/pull/19332
Documentation, including a migration guide for users of cypress-upload-file: https://github.com/cypress-io/cypress-documentation/pull/424

[2021-12-26 02:20] kkdv opened #352 "cypress-file-upload with subjectType: "drag-n-drop" does not work on Chrome & Electron but works fine with Firefox"
Cypress interactive test using cypress-file-upload (v 5.0.8) with subjectType: "drag-n-drop" does not work in Chrome & Electron but works flawlessly in Firefox.  Are there any config settings in Chrome to make this work?

**Environment**
MacOS 11.6.1 BigSur
Cypress 9.0
Browser versions: Chrome 96 ; Firefox 95 ; Electron 94

**Cypress Spec file**
filepath = "/tmp/index2.html"
cy.get('.file>files-su

[2021-12-27 13:36] dschulten opened #353 "attachFile is not a function"
### Current behavior:

On a website that seems to use dropdown.js, I cannot find the element that supports attachFile. The website is not under my control, so it is not easy to find out how they implemented their dropzone, but I can see that they import dropzone.js in html head using the URL https://dev.service-bw.de/serviceportal-theme/js/dropzone.js?t=1640100138000.

However, apparently they hav

[2022-01-03 18:20] BlueWinds commented on #338
Update: I've renamed our version from `attachFile` to `selectFile` so that there won't be any conflict - users of this plugin won't be forced to switch over or update anything, it'll just keep working as expected.

With that done, we've also moved this to the 9.3 release, which should go out around the 17th. New PR for develop branch: https://github.com/cypress-io/cypress/pull/19524

[2022-01-05 11:25] Herbrandus commented on #209
It might be interesting for people still running into issues with this that the default mimeType for XML files in attachFile will be 'application/xml' and not 'text/xml'. We had an issue with this because our API only accepted 'text/xml' and we assumed that the type as okay. Once we configured the mimeType to 'text/xml' it all worked fine!

[2022-01-12 12:54] KleisKlasKluss commented on #319
I'm experiencing the same thing using Firefox. The test works without problems in Edge and Chrome.
In FF my test freeze at some point during upload, and the route doesn't match.
I bit annoying.

[2022-01-14 08:47] sergio-everis opened #355 "[Bug] Upload file without input element"
### Current behavior:

When I run the test case, I correctly select the element button in the DOM with attachFile() but I cannot upload the file and there isn't any error. It just keep running the next instruction.
I don't have any input in my selected element, only a link i

### Desired behavior:

Upload a file properly

run time
![image](https://user-images.githubusercontent.com/86286053/1494802

[2022-01-20 20:54] BarryThrill opened #363 "[Question] How to add custom file"
Hello people!

I'm currently working on doing a drag and drop file where I basically have a file format called BMPROJ which contains a JSON. However the website works that it needs to drag and drop the file as a BMPROJ file to be able to accept it (A raw json would not work) and inside the BMPROJ it is just a simple json file.

The reason I am writing here is that I have a code that is following:

[2022-01-24 22:05] abramenal commented on #363
Hi @BarryThrill,
Thanks for submitting the issue!

Currently there's no way to give the tool absolute file path. For doing what you want, you can use raw file contents:
https://github.com/abramenal/cypress-file-upload/tree/v5.0.8#working-with-raw-file-contents

Let me know if that works out. Also feel free to reopen in case you have something concerning this.

[2022-01-24 22:05] #363 closed

[2022-01-24 22:25] abramenal commented on #338
Cool stuff @BlueWinds, it is finally released!
I am really glad that it's finally an out-of-box feature. Long-awaited, I must say 🥇

This also means it's been almost 3-year-long journey for the package ([first commit](https://github.com/abramenal/cypress-file-upload/commit/9ec0ab2ef7a78b02a3c8893cbd138d440c02e9e1) made on Feb '19).

I will be preparing some deprecation notes as well as migration g

[2022-01-24 22:48] BlueWinds commented on #338
So first off, there are a couple of missing features with the 9.3.1 release.

- https://github.com/cypress-io/cypress/pull/19794 - in a honking big oversight, we left out mimeType support. Uh... whoops! It'll be added in 9.4.0.
- https://github.com/cypress-io/cypress/pull/19820 - selectFile() didn't behave intuitively with aliases. In 9.4.0, it'll retain filenames from fixtures / readFile() even w

[2022-01-24 23:15] BlueWinds commented on #338
We also wrote up a migration guide - any feedback is appreciated, of course.

https://docs.cypress.io/guides/references/migration-guide#Migrating-from-cypress-file-upload-to-selectFile

The bit about mimeType being unsupported will of course be updated when it actually is supported. :)

[2022-02-23 04:24] kkdv commented on #352
Any update on this?

[2022-03-03 07:12] adammfrank commented on #273
I also need this.

[2022-04-13 04:48] JoanSernaLeiton commented on #311
What happened with this bug?  🤔

[2022-04-14 09:01] ibenjelloun commented on #177
Faced the issue while attaching a pptx file to input and adding the encoding fixed :

Failing code :
[code]

Working code :
[code]

Edit sometime after :

After it worked for sometimes, its stopped working, can't make it work anymore.

[2022-04-26 16:02] NandoSangenetto commented on #307
This feature would be awesome. Is there a way in doing that? I'm willing to help.

[2022-04-29 15:03] abramenal commented on #307
Hi @nandosangenetto,
There are some samples I found on Stackoverflow ([this](https://stackoverflow.com/questions/49433241/creating-an-empty-file-of-a-certain-size) and [this](https://stackoverflow.com/questions/56837994/creating-a-file-of-certain-size-on-the-go-in-cypress?noredirect=1&lq=1)).
If you are interested, please feel free to submit a PR. This could be indeed a nice addition to simplify f

[2022-05-23 15:49] carlosvega commented on #192
Same issue here with the very same version of cypress-file-upload and cypress 9.6.1. and

```.attachFile(filename);```

but this fixed it

[code]

[2022-06-18 11:56] Parth909 commented on #136
What do you mean by large. Approximately how much large

[2022-07-08 00:06] OndeVai commented on #312
Bump!

[2022-07-15 05:41] rjena2 opened #372 "[Bug]Unable to uploading image when html tag as button"
### Current behavior:

Unable to uploading image when html tag as button

### Desired behavior:

Should able to upload image for tag as button

### Steps to reproduce: (app code and test code)
fixtures file:
copy an image file under fixture folder
eg. 'test.jpg'

spec file:
const img = 'test.jpg'

cy.contains('Upload').should('be.visible').should('be.enabled')
Above step is working as expetced.

c

[2022-07-29 08:43] Wheedman commented on #273
I also stumbled now over this and it would be nice to have a workaround for that

[2022-08-29 12:33] fahdilahady commented on #300
I face same issue, however i have my type=file element was hidden. so the trigger should be the button. is it possible to attach to the hidden element?

[2022-09-08 20:44] #338 closed

[2022-11-17 21:34] raja28april commented on #132
Still the issue persists

I tried to upload file using
**approach1:**

 and got the below error message
cy.selectFile() can only be called on an <input type="file"> or a <label for="fileInput"> pointing to or containing one. Your subject is: <button name="button" type="button" data-source="attach">

I tried with the below code as well
**approach2:**

**approach3:**

for approach 2 and 3 there isn'