[2019-02-10 07:58] syedfaizanalef opened #6 "not working with electron headless"
When I do cypress run it does not trigger drop event, using react-dropzone.

[2019-02-12 14:07] abramenal commented on #6
Hi @syedfaizanalef
I have added an example app and it uses `react-dropzone` so that you can see how it is supposed to work.

https://github.com/abramenal/cypress-file-upload/tree/master/example

If that does not work for you, please feel free to open an issue with more detailed explanation. This should follow bug template and describe your setup, the issue you see with logs/screenshots/etc.

Cheer

[2019-02-12 14:08] #6 closed

[2019-02-12 21:30] lunxiao opened #12 "[Bug] -- cypress-file-upload does not work with Electron or headless Chrome during cypress tests"
### Current behavior:

I saw the Wrap but not the Trigger. File is not put into the file loader.

### Desired behavior:

The file is attached to file loader.

### Steps to reproduce: (app code and test code)

This is the code used:
` cy.fixture('test.csv', 'ascii').then(content => {
        cy.get('[id=fileUpload]').upload(content, 'test.csv', 'application/plain');
        cy.wait(10000);
     });

[2019-02-13 17:15] abramenal commented on #12
Hi @lunxiao
Thanks for contribution!

Can you please also describe your app setup: framework/library, element with id: fileUpload nature (is it a HTML input or some component?
If you can make a code snippet with your source code that can help a lot in finding the cause of issue you're facing.

[2019-02-18 21:35] oliverodaa commented on #12
I am also experiencing this problem.

The following code **does** work with the Cypress UI, but not with headless. In other words:
- `yarn run cypress open` works 👍
- `yarn run cypress run` fails 👎

[code]

The error is:
[code]

[2019-02-18 22:01] oliverodaa commented on #12
Here is a snippet that can reproduce the issue:

[code]

If you run it with `yarn run cypress open`, the test will pass.

If you run it with `yarn run cypress run`, the test will fail.

---

**Note**: the page being visited above is a CodeSandbox example. You can see the source code at https://codesandbox.io/s/o10k74xq06

Actually... Here's the source code anyway, just in case you can't visit the

[2019-02-18 22:27] oliverodaa commented on #12
Interesting update: the snippet above works correctly if you move some code to an `afterEach()` block:

[code]

[2019-02-18 23:02] oliverodaa commented on #12
New update: seems like a race condition issue. The solution is to make the `upload` command `then`-able.

[code]
Then the test can do stuff in a `then` block like so:

[code]

[2019-02-19 08:55] abramenal commented on #12
Hi @oliverodaa
Thanks for the investigation!

It definitely might be a race condition since I've experienced the thing you mentioned some time ago. Cannot recall it right now, but will find that test case during this week for sure.
Your effort should definitely be recognized! If you can make a pull request with this tiny change I would be happy to add you to our contributors honor list 💪
We just n

[2019-02-19 16:19] oliverodaa commented on #12
Hi @abramenal, here is the PR: https://github.com/abramenal/cypress-file-upload/pull/13

[2019-02-25 16:01] #12 closed

[2019-02-26 06:25] km333 opened #15 "how to open an image file (help wanted)"
Hello any help appreciated.
I think I have a very simple situation and I must be missing something.

I've installed the npm pkg and added the import to commands.js, and copied my file to fixtures

My html (Vue) is:
[code]

My Cypress test is:

[code]

However when I run it the input is not populated with the file, and the @change event is not triggered either. This is a Vue project by the way.

An

[2019-02-26 06:53] km333 commented on #15
Update: For now I am using this solution instead from
https://github.com/cypress-io/cypress/issues/170 which is working for me

[code]

[2019-02-28 11:03] abramenal commented on #15
Hi @km333
Thanks for contribution!

It seems that originally I was thinking more on drag-n-drop inputs, thus it works via "drop" event.
https://github.com/abramenal/cypress-file-upload/blob/master/index.js#L9

Your case is a bit more simple and straightforward so I think it is definitely good to support that.
 How I see that is we need to explicitly point out which case to use - drag-n-grop or sim

[2019-03-07 17:49] #15 closed

[2019-03-10 08:29] kmui2 opened #20 "[Feature] Multiple Files Support"
### Current behavior:
`upload` takes only a single file at a time.
https://github.com/abramenal/cypress-file-upload/blob/master/README.md#api

### Desired behavior:
`upload` can take multiple files at a time.

### Versions
Chrome Version 72.0.3626.121

    "cypress-file-upload": "2.0.0",
    "cypress": "3.1.5",

[2019-03-10 17:44] abramenal commented on #20
Hi @kmui2
Thank for contributing!

That sounds good! Need to think how to make the API convenient for both cases (single/multi).. hopefully this week will take a look and open a PR so we can review it together.

In the meantime it will be wonderful if you have some spare time and can take a look on it as well. You'll appear in the list of our dear contributors 😈

[2019-03-10 17:45] kmui2 commented on #20
@abramenal sounds good. I'll take a look too.

[2019-03-13 19:47] #20 closed

[2019-03-16 05:09] benwurth opened #25 "Engine Dependency needs to be updated"
### Current behavior:

When installing with yarn I received this error
[code]

### Desired behavior:

I would like to be able to install this fine module on a machine running nodejs 8.x.x

I expect this can be fixed (and still retain the desired behavior) by changing the dependency requirement to `>=8`.

### Steps to reproduce: (app code and test code)

1. Install nodejs 8.15.1 (I expect it to be

[2019-03-16 07:54] abramenal commented on #25
Hi @benwurth
Thanks for submitting the issue!

This definitely should be fixed with `>=8` node engine version. I would be grateful if you can make a PR with this tiny change so we can place you in our honored contributors list.
If you're not able to make that – that's totally ok, I will do that later today.

[2019-03-17 11:46] #25 closed

[2019-03-19 06:32] DragorWW opened #30 "[Feature] Run example cypress test on pull request as E2E"
It would be convenient if you run cypress tests on PR.

[2019-03-21 11:20] abramenal opened #34 "[Bug] Upload with HTML file input does not work in Chrome 73"
### Current behavior:

File upload does not gets triggered when using Chrome v73 and higher.
There were no info in Chrome changelog:
https://developers.google.com/web/updates/2019/03/nic73

UPD:
Found related Chromium bug which seems to be fixed in corresponding Chrome release:
https://bugs.chromium.org/p/chromium/issues/detail?id=792336

Code snippets:

Electron 59: `el.files = [testFile]` trigge

[2019-03-23 12:05] abramenal commented on #34
The issue is fixed, but I'll keep this issue open for a while in order to receive some feedback if it's still persist for some other browsers.

[2019-03-25 02:52] maple-leaf commented on #34
Not working if `input` is hidden, please check this PR: https://github.com/abramenal/cypress-file-upload/pull/38/files

[2019-03-26 12:03] janhesters opened #40 "[Bug] CSV upload doesn't process"
### Current behavior:

Here is the code that I use:

[code]

Here is the error message:

[code]

### Desired behavior:

The file should get uploaded correctly and trigger [the `onFileUpload` method.](https://github.com/nzambello/react-csv-reader)

### Steps to reproduce: (app code and test code)

Here is the code for the component:

[code]

The code for the test is above.

Folder structure:

`src/

[2019-03-26 12:11] abramenal commented on #40
Hi @janhesters
Thanks for submitting the issue!

I was kinda expecting this issue to appear because some of the files are not being processed properly with base64 strings. (see https://github.com/abramenal/cypress-file-upload/blob/master/index.js#L6).
CSV is a good example of that.

Will extend the implementation to support it during this week.
Any help on coding that is welcome! 😈

[2019-03-26 12:15] janhesters commented on #40
@abramenal Thank you for the fast answer!

I'm new to Cypress and I unfortunately have no idea of `Blob` files. Let me know if I can help in any way, but I'm afraid I can't help out with the code.

[2019-03-26 17:47] rchovatiya88 commented on #34
hey guys, thanks for all your help! idk why mine's not working on Chrome 73, it used to work :(

`const UPLOAD_DOCS = 'uploadDocs';
Cypress.Commands.add(UPLOAD_DOCS, () => {
  cy.fixture('license.jpg', 'base64').then((fileContent) => {
    cy.get('.front-image > .image-upload > p').upload(
      { fileContent, fileName: 'license.png', mimeType: 'image/jpg' },
      { subjectType: 'drag-n-drop' }

[2019-03-26 22:31] daniula opened #41 "[Bug] Upload to hidden input doesn't work"
### Current behavior:

Uploading file to a hidden input ends up with below error:

There is no way to pass option `{ force: true }` as an error message suggests. Current workaround is calling `.invoke('show')` before calling `.upload()`:

[code]

### Desired behaviour:

`.upload` command accepts `force` option:

[code]

### Versions

* cypress: 3.2.0
* cypress-file-upload:  3.0.4
* operating syste

[2019-03-27 10:50] ChrisSargent commented on #34
Hey - would also really like the option to force this change because our inputs are often not visible (e.g. when using a label element to handle the clicks etc.)

[2019-03-27 11:12] abramenal commented on #34
@ChrisSargent @rchovatiya88
thanks for the feedback!
Will release this change today.

[2019-03-27 17:37] abramenal commented on #41
Hi @daniula
Thanks for your contribution.

Just released v3.0.5!
Check out the new API and re-open issue in case of any further issues.

@allcontributors[bot] add @daniula for question

[2019-03-27 17:37] #41 closed

[2019-03-27 17:39] abramenal commented on #34
@ChrisSargent @rchovatiya88

Just released v3.0.5!
Check out the new API and re-open issue in case of any further issues.

[2019-03-27 17:39] #34 closed

[2019-03-27 17:39] abramenal commented on #34
@allcontributors[bot] add @ChrisSargent for question

[2019-03-27 17:40] abramenal commented on #34
@allcontributors[bot] add @rchovatiya88 for question

[2019-03-28 00:46] ChrisSargent commented on #34
Awesome, thanks for the quick update!

[2019-03-29 17:07] rchovatiya88 commented on #34
Thanks for the quick update and adding me as a contributor!

@abramenal @ChrisSargent
i've updated to `3.0.5` but was still facing issue. 😞 This is my workaround which worked for me. 😄

`/upload.spec.js` - Test File

[code]

`/command.js`  -

[code]

[2019-03-29 17:12] rchovatiya88 commented on #30
i've used `gitlab` or `circleci` to run my cypress test per build

Here is a example of my `.gitlab-ci.yml` file -

[code]

[2019-03-31 14:21] abramenal commented on #34
@rchovatiya88

As a first step I would suggest providing `force` parameter to manually trigger the change event. See https://github.com/abramenal/cypress-file-upload#api

If that works for you, likely this is a bug connected to our environment auto-detection. If so, please bring more details on your setup (node / browser / os versions, dockerfile, etc., anything that may be useful for investigatio

[2019-03-31 15:04] abramenal commented on #40
@allcontributors[bot] add @janhesters for question

[2019-04-01 11:08] janhesters opened #50 "[Bug] CSV Uploads are still not working"
### Current behavior:

While the test won't fail for uploading the file, the file doesn't get read correctly.

![Screenshot 2019-04-01 at 13 04 08](https://user-images.githubusercontent.com/31096420/55323182-a9080b80-547e-11e9-8ac9-9a2a7eaa4f18.png)

Instead of the csv data, an 'object promise' is being given to the input.
Here is the tests code:

[code]

BTW, logging out `fileContent` gives the c

[2019-04-01 11:16] abramenal commented on #50
@janhesters
Thanks for submitting the issue!

I will take a look on the issue asap & also add an example with CSVReader component.

[2019-04-01 11:17] janhesters commented on #50
@abramenal Thank you, excellent. I was literally coding up an example to contribute to your docs, while I found this bug.

[2019-04-01 11:19] abramenal commented on #50
If you still wanna do that PR – welcome, the fix and examples can be 2 separate PRs 😈

[2019-04-01 11:20] janhesters commented on #50
@abramenal As soon as its fixed I will make the PR 👍

[2019-04-01 13:41] abramenal commented on #50
I am afraid file upload plugin (and Cypress itself) has nothing to do with this issue.
In a nutshell cypress-file-upload does nothing with the file content itself. Specifically for input elements, it just passes the fixture contents as files to the input (see https://github.com/abramenal/cypress-file-upload/blob/master/src/handlers/handleInput.js#L5), that's it.
It seems to me the problem is in th

[2019-04-02 07:31] janhesters commented on #50
@abramenal Thank you for the help! 🙏🏻

Hmm, but if the problem is really on the CSV reader's and not on Cypress' end, why does it work correctly if I upload a file manually outside of the tests? Should'nt Cypress be able to mimic that behaviour?

[2019-04-02 13:17] philjones88 opened #51 "[Bug] Not adding file correctly "[object Promise]" contents always"
### Current behavior:

[code]

Against an ng2-file-upload target https://github.com/valor-software/ng2-file-upload

The HTTP request then made by angular is:

[code]

Which is wrong as it should be the file contents.

The angular app logging shows the file in ng2-file-upload as:

<img width="801" alt="image" src="https://user-images.githubusercontent.com/677167/55405552-3ec09b00-5552-11e9-86aa-b89

[2019-04-02 14:27] abramenal commented on #50
Same stuff with #51

[2019-04-02 14:29] philjones88 commented on #51
Was able to workaround it by using this approach from the thread I found this package in:

https://github.com/cypress-io/cypress/issues/170#issuecomment-477421775

[2019-04-02 14:36] abramenal commented on #51
@philjones88 thanks for submitting the issue!

The only thing I've spotted is this async handlers mapping that may not work as we want it to:
https://github.com/abramenal/cypress-file-upload/blob/master/src/helpers/getFileBlob.js#L3

Will take a look later today if that is the cause, cuz the rest is actually the same as on the solution you mentioned, just encapsulated in the plugin.

[2019-04-02 14:58] abramenal commented on #51
@philjones88 can you try out v3.0.7 I've just published? It should solve the issue.

[2019-04-02 14:59] abramenal commented on #50
@janhesters can you try out v3.0.7 I've just published? It should solve the issue.

[2019-04-02 15:03] abramenal commented on #51
If your thing is fixed, I think it might be good to have a separate example folder for angular components related to file upload (like ng2-file-upload you mentioned).

[2019-04-02 19:00] skjnldsv opened #53 "[Bug] Path must be a string. Received { fileContent:...}"
Hey! I'm having issues setting thing sup like you did on the examples.
I have a simple input with the id `#file_upload_start`

[code]

The image exists in the fixtures directory.
I also tried without the `base64`, it also fails.

1 issue I encountered
[code]

[2019-04-02 21:14] abramenal commented on #53
@skjnldsv thanks for submitting the issue!

Can you please bring more details on your setup so we can look into it together? Especially your `package.json`, `cypress/support/index.js` and `cypress/support/commands.js`
For the first look it seems you have some other command bound to `cy.upload`. I even looked into cypress release notes whether they released a new feature called like that 😄 The answ

[2019-04-03 07:05] skjnldsv commented on #53
@abramenal Ah,I'm an idiot, I indeed created an upload command, so it might be that :woman_facepalming:

I assumed there was a difference between a command bound to `cy` and one bound to `cy.get(xxx)`. I'll try to change that and report back ! :grin:
Thanks for your help!!

#### cypress/support/index.js
[code]

#### cypress/support/commands.js
[code]

[package.json.txt](https://github.com/abramena

[2019-04-03 07:37] skjnldsv commented on #53
That was it! :)
It works fine now!

I changed my function name.
Thanks for your time and your awesome plugin! :tada: :rocket:

[2019-04-03 07:37] #53 closed

[2019-04-03 08:26] philjones88 commented on #51
@abramenal nice work, 3.0.7 works with `drag-n-drop` approach :) <3

[2019-04-03 08:27] abramenal commented on #53
@skjnldsv no worries, that happens 😄
Thanks for participating!
@allcontributors[bot] add @skjnldsv for question

[2019-04-03 08:28] abramenal commented on #51
Yay perfect!
@allcontributors[bot] add @philjones88 for bug

[2019-04-03 08:29] abramenal commented on #51
Will work on angular examples later on. Stay tuned :)

[2019-04-03 08:29] #51 closed

[2019-04-03 08:30] abramenal commented on #50
@allcontributors[bot] add @janhesters for bug

[2019-04-03 08:30] #50 closed

[2019-04-03 16:54] skjnldsv opened #57 "[Bug] Cannot upload video files"
Hello again :)

The images processing works fine!
Though I started creating the video tests I have and it failed directly.
After some digging, it might be that the fixture base64 doesn't work with videos.

How can I use your plugin with hex or binary?
Or do you have any other workaround? :)

Thanks a lot!

[2019-04-03 16:58] skjnldsv commented on #57
[code]

[2019-04-03 17:23] abramenal commented on #57
@skjnldsv
thanks for submitting the issue (again)! 😄

Have you tried setting `encoding` explicitly?
https://github.com/abramenal/cypress-file-upload#api

[2019-04-03 17:35] skjnldsv commented on #57
Aaaand i'll stop bothering you now I think! :see_no_evil:
I actually did try that before. I tried combining base64, hex, binary, but it was always failing. I did a lot of code change since and now specifying the encoding to binary seems to work.

No idea what was the issue before then, but it's working great now!
Thanks again! :wink:

[2019-04-03 17:44] skjnldsv commented on #57
Aaha, this time I have something :)
Okay, the file indeed gets uploaded, but it gets corrupted.

proper one:
`feb1d00f4c31952519e206ec9c927a63  video1.mp4`
File on the test server
`24fba509f698e024d1ff9e0415bb4414  video1.mp4`

Any help?

[2019-04-03 17:54] skjnldsv commented on #57
This is a :roller_coaster: :grin:
Okay, so after trying to combine different options, 'base64' in the fixture AND in you file-upload plugin works fine for both :tada:

Thanks a lot for your help @abramenal :hugs: :bowing_woman:

[2019-04-03 17:54] #57 closed

[2019-04-05 07:22] NicolasGehring opened #58 "[Bug] pdf upload not working"
### Current behavior:
When uploading a pdf and having a file name with .pdf it throw TypeError: Cannot read property 'message' of undefined. After a lot of time i found out that the error occurs when a filename with extension .pdf is submitted. changing file extension to e.g. .jpg fixes the problem.

### Desired behavior:
Pdf upload should work without problems

To upload a file with pdf ending
##

[2019-04-05 10:10] Mobiletainment commented on #58
I just had the same issue and can confirm this problem.
Your workaround seems to work for the moment.

[2019-04-06 02:22] kmui2 commented on #58
@abramenal, it seems that the default encodings doesn't include pdf and then throws an error message.
https://github.com/abramenal/cypress-file-upload/blob/5f0513326c98bd9df599280c3cb41696e9787fe3/src/helpers/getValidEncoding.js#L7-L29

There is, however, an additional issue concerning `ERR_TYPES.UNABLE_TO_DECODE`. This isn't defined in `errorTypes.js`:
https://github.com/abramenal/cypress-file-up

[2019-04-06 11:28] #58 closed

[2019-04-06 11:32] abramenal commented on #58
Hi @NicolasGehring

Thanks for submitting the issue!
@kmui2 you are correct, the best way to work with that is optional `encoding` parameter that was created exactly for such purpose.

I've added built-in PDF support as well. It's now released with v3.0.8

[2019-04-06 11:32] abramenal commented on #58
@allcontributors[bot] add @kmui2 for review

[2019-04-06 11:33] abramenal commented on #58
@allcontributors[bot] add @NicolasGehring for bug

[2019-04-06 11:34] abramenal commented on #58
@allcontributors[bot] add @Mobiletainment for question

[2019-04-06 11:39] abramenal commented on #58
Maybe it worth updating README.md as well to make a workaround with `encoding` more clear..

[2019-04-18 17:48] corinnen commented on #40
I installed this plugin yesterday and still getting same error as above with uploading a csv file.

[2019-04-18 19:50] abramenal commented on #40
@corinnen have you tried setting `encoding` to `'utf8'`?

[2019-04-19 01:39] corinnen commented on #40
@abramenal,

`        const fileName = 'statistics.csv';
          const mimeType = 'text/comma-separated-values';
          const encoding = 'utf8';

          cy.fixture(fileName, encoding).then(fileContent => {
      cy.get('[data-qa="upload"]').upload({ fileContent, fileName, mimeType, encoding }, { subjectType: 'input' });

      cy.wait(3000);
      cy.get('[data-qa="import-modal"]')
    });

[2019-04-19 14:37] abramenal commented on #40
@corinnen if you can share your component implementation as well, we can try to figure out what is the issue – at the moment all examples stored in this repo work as expected (both react drag-n-drop implementation and plain HTML5 input)

[2019-04-22 16:25] corinnen commented on #40
@abramenal, yes, I am sure that it is not a bug (feel free to close the issue), I am new to coding/cypress and struggling to implement the plugin.

[2019-04-23 07:28] #40 closed

[2019-04-23 08:18] xiaomeidan opened #66 "[Bug] failed to upload a vcf file"
### Current behavior:
[code]
![image](https://user-images.githubusercontent.com/5284575/56565118-36ec9780-65e2-11e9-8c95-cadc0b9ff18b.png)

### Desired behavior:
upload a vcf file

### Steps to reproduce: (app code and test code)
get a vcf file, thanks

### Versions
Cypress: 3.1.5
OS: Windows10 professional
browser: Chromium 75

[2019-04-23 08:36] abramenal commented on #66
Hi @xiaomeidan
Thanks for submitting the issue.

At first, the mime type you're passing is not correct. It should be somewhat like `text/vcard`.

Have you tried providing `encoding` for the file manually, as the message suggests? See https://github.com/abramenal/cypress-file-upload#api
It depends on what vcard files you're using, but most likely it is in utf-8.

I suppose it should be as follows:

[2019-04-23 08:46] xiaomeidan commented on #66
@abramenal thanks a lot, your suggestion works well

[2019-04-23 15:30] abramenal commented on #66
@xiaomeidan happy to hear! Do you have any suggestions of how to make the error messaging more clear? Like if someone else will be stucked with the same error?

[2019-04-23 20:12] #66 closed

[2019-04-23 20:16] abramenal commented on #66
@allcontributors[bot] add @xiaomeidan for bug

[2019-04-24 01:45] xiaomeidan commented on #66
@abramenal I recheck this error message, it's clear enough, it's my bad not to check api carefully.
Besides, my code is not working without encoding, i'm in 3.1.5

[2019-04-24 06:06] abramenal commented on #66
@xiaomeidan you should install `cypress-file-upload@3.1.1` first

[2019-04-24 06:29] xiaomeidan commented on #66
@abramenal you r right, thanks, working after upgrade cypress-file-upload

[2019-05-07 20:24] abramenal commented on #50
@janhesters thanks for the feedback and contribution!

[2019-05-08 11:44] artemgurzhii opened #69 "[Feature] Folder upload"
Add the ability to upload folders.

We have this functionality in one of our apps. We take the path from the `webkitRelativePath` from the File API which can't be overridden.

This is working fix for it:

[code]

[2019-05-14 10:54] kammerer opened #70 "[Bug] Binary fixture upload"
Not sure if that should be considered a bug in `cypress-file-upload` since there is also an ongoing discussion for `cypress` itself: https://github.com/cypress-io/cypress/issues/1558. Still, I think it makes sense to point out that there is a problem with binaries.

### Current behavior:

I am trying to upload binary files constituting a [shapefile](https://en.wikipedia.org/wiki/Shapefile).
I spec

[2019-05-16 19:29] mark-veenstra opened #71 "[Feature] Support File API polyfill"
### Current behavior:

It throws the following error:
[code]

### Desired behavior:

That the PDF file is uploaded

### Steps to reproduce: (app code and test code)

I try to upload the PDF with the following different solutions of the code. Using `force: true` because elements are hidden:

**TEST 1:**
[code]

**TEST 2:**
[code]

**TEST 3:**
[code]

**TEST 4:**
[code]

I run Cypress in a [docker i

[2019-05-18 11:59] abramenal commented on #71
Hi @mark-veenstra
Thanks for submitting the issue. Let's have a look on it together starting with easy questions.
Can you please share your markup for the layout?
Have you tried to log `fileContent` value before trying to upload it?

[2019-05-18 12:13] abramenal commented on #70
Hi @kammerer

Thanks for submitting the issue!
That is a really nice piece of documentation. Will reference that in README for others.

In the meantime, we can blame Cypress, they are blaming Node.js 😃
Personally I'm not a fan of making something that changes Cypress' behavior, so would wait a bit at least for having the final word from them – especially since we have a workaround you mentioned.
I

[2019-05-18 12:55] abramenal commented on #69
Hi @artemgurzhii
Thanks for submitting the issue!

I think it's not quite a common case, but let's think on it.

At first, you of course may read a folder with Node.js `fs` module and iterate through the files executing our `upload` command.

If not, how do you think the command design should look like?
To me a folder often contain different file formats & extensions. Right now it's not possible t

[2019-05-20 09:20] mark-veenstra commented on #71
@abramenal Thnx for helping out.

I used **TEST 4** from above (no encoding at all).

If I open the console within Cypress, the `fileContent` has some content, see next screenshot:
![image](https://user-images.githubusercontent.com/8984015/58010665-1801f800-7af1-11e9-8ee1-a6b5d813ee62.png)

If I copy the content of `fileContent` from this debug logging, it has the next content:
[code]

[2019-05-20 09:42] mark-veenstra commented on #71
@abramenal I also added a breakpoint [on this line](https://github.com/abramenal/cypress-file-upload/blob/master/src/handlers/handleInput.js#L3) where the error is thrown. At that point `e` which is [this line](https://github.com/abramenal/cypress-file-upload/blob/master/src/handlers/handleInput.js#L3) with the var `file` is also filled as follows:
![image](https://user-images.githubusercontent.co

[2019-05-20 11:04] abramenal commented on #71
@mark-veenstra I've removed the original file content from your comment as it blows the comments history 😄
Okay, got this, but could you please also share the HTML content of your view? Is it plain HTML/JS or any framework-specific component? I would love seeing it as it may also answer the question you're asking.

[2019-05-20 11:57] artemgurzhii commented on #69
@abramenal

It's not really our case, we have something similar to the dropbox or google drive functionality where when user uploads folder - folder is created with files in it.

https://github.com/abramenal/cypress-file-upload/blob/master/src/upload.js#L7

How about this implementation:
[code]

**Usage/Api:**
[code]

[2019-05-20 12:54] mark-veenstra commented on #71
@abramenal We are using cordova and it seems that the plugin `cordova-plugin-file` is overwriting the standard `window.File()` implementation. [As shown here](https://github.com/apache/cordova-plugin-file/blob/master/www/File.js#L31).

When I remove this specific cordova implementation of `window.File()` and I use the `bsase64` enconding all works fine.

[code]

Now I have to figure out how I can

[2019-05-20 14:16] abramenal commented on #71
@mark-veenstra that's actually a great finding!
We may think on encapsulating/forced polyfilling of the dependencies we use internally (exactly like `window.File`).
Example: https://github.com/mailru/FileAPI (maybe not really mail.ru implementation 😈 but still same idea)

[2019-05-20 17:32] mark-veenstra commented on #71
That repository is mentioned on the modernizr Wiki: https://github.com/Modernizr/Modernizr/wiki/HTML5-Cross-Browser-Polyfills#file-api

[2019-05-21 08:20] stefanbrato opened #74 "[Feature] Compatibility with shadow dom"
### Current behavior:

Can this plug-in work with shadow dom as well ?
When I tried to use it with our application I got an exception the element is detached from dom.
It would be really nice if this plug-in can work with shadow-dom.

### Desired behavior:

This plug-in works with shadow-dom. If it is working with shadow-dom if an example could be added to the read-me page would be really helpful.

[2019-05-21 09:06] abramenal commented on #74
Hi @stefanbrato
Thanks for the feedback!

Well, that's actually a nice one.
Can you please share any small snippet of your component implementation + tests as well as exception you get in order to get more context?
I think it might be quite easy one, but need to figure out what is not yet supported (hopefully not the event triggering).

[2019-05-21 13:09] stefanbrato commented on #74
Hello @abramenal ,

Here is a small snippet of the command added in support/commands.js:
`Cypress.Commands.add("uploadFile", (fileName) => {
    cy.fixture(fileName).then(fileContent => {
        cy.get("other-app")
            .shadowGet("other-app-adp")
            .shadowGet("other-app-adp-file-add-modal")
            .shadowGet("div.drop-zone")
            .upload(
                    { fileCo

[2019-05-21 19:35] rchovatiya88 commented on #50
@janhesters @abramenal   Thanks for all the help guys! 👏

For some reason i had to use `mimeType: 'text/csv'` otherwise it wouldn't work but glad it works now 😃

Thought I'd share -

[code]

[2019-05-23 12:06] MaaikeFox commented on #70
Thanks for sharing this workaround!
I'm having the same issue, and now with "bas64" on both fixture and upload, I get this error:

InvalidCharacterError: Failed to execute 'atob' on 'Window': The string to be decoded contains characters outside of the Latin1 range.

The file I'm uploading is a PDF file

Do you have an idea what goes wrong in my case?

[2019-05-23 15:21] kammerer commented on #70
@MaaikeFox It seems my workaround does not work universally :( Have you perhaps tried the approach proposed in https://github.com/cypress-io/cypress/issues/1558#issuecomment-380360944? It did not work in my case but who knows, perhaps it will work for PDFs.

[2019-05-24 13:55] abramenal commented on #74
@stefanbrato I see the case now.
You're using functionality extension for shadow DOM support (that is not yet supported originally).
I see we need to introduce a new command like `shadowUpload` that will work on top of this package.

Prior to that I've created another package – https://github.com/abramenal/cypress-shadow-dom.
Hopefully will finish the implementation really soon – feel free to cont

[2019-05-24 14:01] abramenal commented on #70
@MaaikeFox please let us know your results – if that works, likely I need to extend PDF processing logic to support alternative encoding somehow..

Generally I suggest trying to play with `encoding` – start with the ones mentioned in Cypress docs: https://docs.cypress.io/api/commands/fixture.html#Arguments as those are supported by default.
If that does not work, we can bring a new encoding right

[2019-05-24 14:05] abramenal commented on #69
Well, this is a hackish enough one, I would actually not overwrite your custom `FileCopy` but use it instead when creating a file:
`
const file = new CustomFile([blob], fileName, { type: mimeType });
`

In this case I am fine with the pseudo implementation. One thing that needs to be adjusted is conditional logic based on whether we need this folder path.

I would be happy if you can try out codin

[2019-06-07 09:25] tbigueres opened #75 "[Bug] Force download"
### Current behavior:

I try to upload a file into a hidden input (with display:none).
I've first tried it using the subjectType input :

`    cy.fixture(image1).then(fileContent => {
      cy.get('.popupContent form input[type=file]').upload(
          { fileContent, fileName: image1, mimeType: 'application/pdf' },
          { subjectType: 'input', force:true },
      );
    });
`

But I got the

[2019-06-07 15:07] abramenal commented on #75
Hi @tbigueres
Thanks for submitting the issue!

Regarding case 1: can you please share `image1`? It should be like "myawesomeimage.jpg" – maybe in your case it contains a path to the file, maybe something else. Let's try figuring that out.

Regarding case 2: great catch! never thought it would be needed. This needs to be fixed

[2019-06-10 21:24] tbigueres commented on #75
Hi @abramenal

image1 = "assets/image.jpg";
I've tried moving the image to the root of fixtures and removing assets it still doesn't work.
I also tried it with any other the file and it works with drag-and-drop but not with input. So not sure about the filename stuff.

Let me know if I can help you !

[2019-06-10 21:26] tbigueres commented on #75
Concerning the illegal Constructor thing, here is where the error happens :

![image](https://user-images.githubusercontent.com/2139076/59228064-28c8f980-8bd7-11e9-82a1-9d2f21da9b53.png)

[2019-06-11 14:12] tbigueres commented on #75
Just do know, do you know when you'll be able to modify at least the force state for drag-and-drop ?

Thanks !

[2019-06-11 14:46] abramenal commented on #75
@tbigueres thanks for sharing that.
I consider this as a critical thing so will do that within 2 days – hopefully releasing this tomorrow.

While waiting for the fix I still recommend you to take a look on the examples with plain input (it's located in a separate folder in the repo) to see what can cause this issue – your case seems to be really straightforward but somehow does not work for you.

[2019-06-11 15:26] tbigueres commented on #75
Perfect thanks for the answer, I'll check that and let you know.

[2019-06-12 20:46] #75 closed

[2019-06-12 20:48] abramenal commented on #75
@tbigueres v3.1.3 is out!
Can you please test this on your solution with forced drag-n-drop upload?

[2019-06-12 20:49] #70 closed

[2019-06-17 12:12] mark-veenstra commented on #71
@abramenal Did you close this issue for a reason?

I did open an issue on the issue tracker of Cordova, but as you can see they will not do this within a short notice since it is a breaking change. It can even be that this takes years for them to solve. I have posted more issue on that tracker and some take months to years to solve.

Could we still add a polyfill in this repository? Or do you want

[2019-06-17 12:20] abramenal commented on #71
@mark-veenstra
I saw the issue you open against Cordova and feel this is the only right way of doing that.
But if you say it can take years that's not an option then 😄
Unfortunately at the moment I cannot invest much time on this specific issue, especially since I feel you're the only one who reported on this. Anyway I'm open to design and code that properly as it might come as an issue for furthe

[2019-06-17 13:11] mark-veenstra commented on #71
@abramenal I could also fork the cordova plugin and expose the window.File etc to a differrent namespace and include that forked and adjusted plugin in my project. I understand that you have lack of time and that Cordova should fix this.

Adjusting and forking the plugin is quite easy and a quick win on my side.

[2019-06-17 13:33] abramenal commented on #71
@mark-veenstra
Great! Then please investigate that one, and if it's still easier to adjust that in this plugin, let's think further 😄
Please let me know when you finally decide.

[2019-06-18 05:50] jeffradom commented on #66
I also, have an issue with the uploading of VCF file which I thought is just a regular text file in my opinion
I had used this code and please let me know what might be wrong in my code?  I use Chrome version 75
  cy.fixture(vcf_fileNameAndPath).then(fileContent => {
            cy.xpath(selector).upload(
              { fileContent, vcf_fileNameAndPath, mimeType: 'text/plain' },
              {su

[2019-06-18 06:51] abramenal commented on #66
@jeffradom
the issue is in `.upload` first parameter – it should be an object with `fileName`, `fileContent` and `mimeType` at least. See https://github.com/abramenal/cypress-file-upload#api

Please also note that `fileName` should not contain the path to file, only it's name with extension

[2019-06-18 13:09] jeffradom commented on #66
sorry, i didn't get it after looking into the sample code. Is fileContent is wrong?  Please, clarify

Thanks

Jeff

[2019-06-18 13:13] jeffradom commented on #66
is this from above code correct?
cy.fixture('user.vcf').then(fileContent => {
  cy.get('input[type="file"]').upload(
    { fileContent, fileName: 'user.vcf', mimeType: 'text/vcard', encoding: 'utf8' },
    { subjectType: 'input' },
  );
});

And what will be a syntax when I want to use file name as a variable?

[2019-06-18 14:46] abramenal commented on #66
@jeffradom
Let's see your example:
[code]

I think in your case the code should be as follows:
[code]

Please see the difference. The problem is with `fileName` property you pass – it should contain only name, not path.

[2019-06-18 15:43] jeffradom commented on #66
I'm using this code now and it works but sometimes file uploaded is corruct.  Can you suggest something
 selector = '//input[@placeholder="VCF File Input"]';

       cy.fixture(vcf_fileNameAndPath).then(fileContent => {
            cy.xpath(selector).upload(
              { fileContent, fileName: vcf_fileName, mimeType: 'text/vcard', encoding: 'utf8' },
              {subjectType: 'input' }

[2019-06-18 20:49] jeffradom commented on #66
'll use this code to upload a file cy.fixture(vcf_fileNameAndPath).then(fileContent => {
cy.xpath(selector).upload(
{ fileContent, fileName: vcf_fileName, mimeType: 'text/vcard', encoding: 'utf8' },
{subjectType: 'input' }
);
}); I see that randomly it corrupts a file or interrupt uploading because of some delay. I see data errors once a page is saved. CAn somebody help me and suggest something?

[2019-06-19 08:23] abramenal commented on #66
@jeffradom
That really depends on your case.
At first, please provide any error messages / stacktraces you get. If you can make a short video and upload it somewhere I can say more about the delays you experience.
You should also check if your file is encoded in UTF-8, otherwise encoding should be different.
At last, this seems to be more of some specific issue with your code and/or fixture file,

[2019-06-19 19:05] jeffradom commented on #66
is it any difference between utf8 and utf-8 encodings?

[2019-06-19 21:19] abramenal commented on #66
@jeffradom nope

[2019-06-20 04:40] jeffradom commented on #66
will your plugin support BAM file extension which is a combination of binary and text.  It's one of health since the defacto industry standard like VCF files.  Please, let me know

[2019-06-20 07:15] abramenal commented on #66
@jeffradom
Let's see.. can you try to upload it with `mimeType` set to 'application/octet-stream' and `encoding` set to 'binary'?

[2019-06-20 14:52] jeffradom commented on #66
Can I upload BAM files which are mix of binary and text and defacto  health industry standard?  If I can what should I use for Mime type and encoding?  Please, confirm

[2019-06-20 14:53] abramenal commented on #66
@jeffradom as I told you above, the values are:
mime type: "application/octet-stream"
encoding: "binary"

[2019-06-20 23:29] abramenal commented on #74
@stefanbrato realized that's not a quite easy one to do 😈
Feel free to join testing & designing that package properly:
https://github.com/abramenal/cypress-shadow-dom

[2019-06-23 20:49] abramenal commented on #71
@mark-veenstra any updates on that?

[2019-06-23 20:50] abramenal commented on #30
That's for latter

[2019-06-23 20:50] #30 closed

[2019-06-24 06:40] mark-veenstra commented on #71
I created a fork and changed the way the plugin exposes to the window object and all seems to work.

[2019-06-24 14:50] abramenal commented on #71
@mark-veenstra great!
It seems our issue can now be closed, am I right?

[2019-06-24 14:52] mark-veenstra commented on #71
Well as long as cordova-plugin-file does not solve it and people use this plugin together with your cypress plugin it will fail. People could try the same "hack" I did. Or hopefully a major release in the future of cordova-plugin-file will still solve it completely.

Or as we said before a shim is needed in this plugin. But that feels a bit strange because it a standard API you are using.

[2019-06-25 12:37] stefanbrato commented on #74
Hello @abramenal , indeed it seems it is a bit out of my league to do this modification, but we did find a workaround and I though it would be nice to share it, until the plugin is updated:
[code]

[2019-06-25 13:24] abramenal commented on #74
@stefanbrato that's a great finding!
It seems there's no need to spend effort on supporting shadow DOM but rather adjust the configuration inside to let cypress omit elements validation.
I will check that later today, anyways let you know if I found a way to.

[2019-06-25 13:38] abramenal commented on #71
@mark-veenstra
I understand the pain and see there's no chance apache team will take that.

I don't see any harm in making the change in this plugin, especially if it can be made safely.

If you have time, could you please try experimenting with the plugin?
The line needed is: https://github.com/abramenal/cypress-file-upload/blob/master/src/upload.js#L22

What I would be okay with is having an ext

[2019-06-27 20:16] abramenal commented on #74
Implementation is done, need some time for proper testing – release for this improvement is coming.

[2019-06-27 21:44] abramenal commented on #69
@artemgurzhii is the issue still relevant so I can pay attention on designing and coding?

[2019-06-28 10:29] artemgurzhii commented on #69
@abramenal sorry, totally forgot about this issue, yes, it's still relevant, we currently use this `hack` to accomplish it, but it would be great to have it as a built-in feature

[2019-06-28 21:42] #74 closed

[2019-06-28 21:56] abramenal commented on #74
@stefanbrato

so now you can use the command for shadow dom components as well:

[code]

If you're using https://github.com/abramenal/cypress-shadow-dom
it's likely will look like:

[code]

[2019-06-28 21:58] abramenal commented on #74
I am also working on reference solutions (aka recipes) to demonstrate what we can do with the plugin: #80

[2019-06-28 21:59] abramenal commented on #74
@stefanbrato
Much thanks to you!
That was a great code snippet which helped to understand how to tweak the plugin.
I've added you to our honored contributors list.

[2019-06-28 22:09] abramenal commented on #71
@mark-veenstra
Did you have a chance to take a look? If not, that's fine, I may start doing this as well now 😃

[2019-06-30 00:03] 0xADD1E opened #82 "[Bug] Doesn't fail on non-input targets"
### Current behavior:

When I pass something other than an input to upload (specifically a div containing an input), the library simply ignores it and acts like things are working correctly

### Desired behavior:

Fail when invalid targets are passed

### Versions

Cypress 3.3.1, Fedora Linux, Chrome 73

[2019-07-01 08:31] mark-veenstra commented on #71
Unfortunately not

[2019-07-01 14:57] abramenal commented on #82
Hi @0xADD1E
That's a good catch and definitely a thing to improve.
Thanks for the feedback, will chase that soon!

[2019-07-01 14:58] abramenal commented on #82
@all-contributors add @0xADD1E for bug

[2019-07-05 18:06] aleccool213 opened #84 "Question: Why is the distributable so large?"
<img width="524" alt="Screenshot at Jul 05 14-05-07" src="https://user-images.githubusercontent.com/6475934/60738940-043e1400-9f2e-11e9-8855-c0414ced4f5e.png">

Just wondering! Thanks

[2019-07-11 15:54] #84 closed

[2019-07-11 15:59] abramenal commented on #84
Hi @aleccool213
Thanks for asking!

That was definitely an issue, I was working on some recipes stuff and somehow published all this stuff (even including node_modules for it). Fixed that in v3.2.1 and added you to our contributors list.
Cheers!

[2019-07-11 16:01] abramenal commented on #84
Btw @aleccool213 what is the tool you use for seeing package's size?

[2019-07-11 16:03] aleccool213 commented on #84
@abramenal

We use https://www.npmjs.com/package/@microsoft/rush for installing our packages. The very large ones show up in a separate progress bar and I just happened to notice this. Was by chance!

[2019-07-13 17:56] #82 closed

[2019-07-13 17:57] abramenal commented on #82
Fixed in v3.3.0!

[2019-07-16 07:14] philjones88 opened #88 "[Bug] [cypress-file-upload error]: "encoding" is not valid."
### Current behavior:

[code]

Code that used to work

[code]

That targets an ng2-upload target in Angular.

### Desired behavior:

To accept `utf-8` again

### Steps to reproduce: (app code and test code)

### Versions

Cypress 3.4.0
Cypress File Upload 3.3.1

[2019-07-16 07:17] philjones88 commented on #88
This comes down to:

https://docs.cypress.io/api/commands/readfile.html#Usage

Is the typing from cypress that contains more than:

https://github.com/abramenal/cypress-file-upload/blob/master/src/constants.js#L32

[2019-07-16 16:26] abramenal commented on #88
Hi @philjones88
Thanks for submitting the issue! You're right, new version introduced more agressive validation and it seems I've missed some values from original Cypress' list.

@all-contributors add @philjones88 for bug

[2019-07-16 16:27] #88 closed

[2019-07-16 16:35] abramenal commented on #88
Now it's fixed in v3.3.2

[2019-07-19 06:47] abramenal commented on #74
https://github.com/abramenal/cypress-file-upload/tree/master/recipes/shadow-dom-native

[2019-07-19 15:10] zach446 opened #91 "Waiting for the upload to complete"
### Current behavior:

I have created a custom command that takes in the file name, mime type, encoding, and an attribute value to grab the specific component that will be handling the upload.  Everything works, but I have found that Cypress will move on to the next test, even though the upload has not completed.  Which can fail future tests waiting for the data from the upload.

### Desired behav

[2019-07-19 15:56] abramenal commented on #91
Hi @zach446
Thanks for submitting the issue!

I think that is definitely a good case. Hopefully investigate that during the weekend.

[2019-07-21 20:23] abramenal commented on #91
Well, after thinking a while here's the suggestion.

I think the upload process you mention is more about waiting network request to complete – correct me if I'm wrong.
If that is correct, the only way to do it properly is:
https://docs.cypress.io/api/commands/wait.html#Wait-for-a-specific-XHR-to-respond

Does this help? Or you have something else on your mind?

[2019-07-22 15:05] zach446 commented on #91
I see what you mean. The API call I make after I upload is the process that needs to be waited on, not the upload itself.  That makes more sense.  I don't know why I was thinking it was the other way around.

I will show myself out lol

[2019-07-22 15:05] #91 closed

[2019-07-24 13:13] ChaseBig opened #92 "PDF upload returning unsupported fileOrArray value error even with encoding workaround"
I have reviewed this reported issue given that it is very similar to my error but the encoding workaround does not seem to be working for me. https://github.com/abramenal/cypress-file-upload/issues/58  Any help would be great!

I've followed the steps on the README but have not been able to figure out my issue yet. I'm still quite new to Cypress and javascript in general, so I apologize if I'm mis

[2019-07-24 13:34] abramenal commented on #92
Hi @ChaseBig
Thanks for submitting the issue.
That's totally fine, I'm open for any help related to the plugin.

The problem in your code is quite simple: you just should follow the API guide in README.
upload function receives 2 arguments: 1st is file object, 2nd is options object.
So your code should look like:

[code]

Please try out this, and if it does not work, likely you should add `force`

[2019-07-24 13:34] #92 closed

[2019-07-24 14:03] ChaseBig commented on #92
Thanks for the quick reply, @abramenal!

Again, I apologize for any dumb questions. But I guess I'm a bit confused at the difference between my block of code in the issue description and the blocks of code you posted in your reply.  My comparison mostly just shows that you have slightly different `{ force: true }` flags. It looks like I had all the necessary arguments set in my initial block of co

[2019-07-24 14:12] abramenal commented on #92
@ChaseBig the difference is in `{ force: true }` you placed on the first place, you are right.
Internally the function expects its arguments being passed in correct order.

What you did is passed actually 3 arguments (this object, file contents object, and options object) which is not correct. Thus, function internally sees that passed 1st argument is not a file but something else and throws.
Does

[2019-07-24 14:35] ChaseBig commented on #92
@abramenal Ohhhh I see now! Yes, that makes perfect sense. I appreciate you being patient and taking a moment to help explain that to me a little better!

[2019-07-24 14:36] ChaseBig commented on #92
@abramenal I am now having a different issue with encoding characters. Do I need to open a new issue ticket for this? I've attached a screenshot of the error along with a copy of the testFile.pdf.

```InvalidCharacterError: Failed to execute 'atob' on 'Window': The string to be decoded contains characters outside of the Latin1 range.```

<img width="994" alt="Screen Shot 2019-07-24 at 9 34 42 AM"

[2019-07-24 18:56] abramenal commented on #92
@ChaseBig

So right, if that is a plain PDF, the code should look like:
[code]

the difference is that you basically let the plugin decode PDF naturally (rather than explicitly using base64 which is wrong).

Internally it does some basic mapping based on given file extension
https://github.com/abramenal/cypress-file-upload/blob/master/src/helpers/getEncoding.js
so usually you don't even need to pu

[2019-07-25 15:12] ChaseBig commented on #92
@abramenal Perfect! Thank you so much. It's working great now.

Thank you thank you thank you! 🙏

[2019-07-25 15:24] ChaseBig opened #93 "[Feature] In the GUI, show the number line of code being run rather than the step number"
### Current behavior:

When viewing running tests via the GUI or recordings online, there is a number associated with each step. This isn't really helpful for any of my personal use-cases and I'm unsure if it's really that helpful for anyone else.

<img width="301" alt="Screen Shot 2019-07-25 at 10 10 06 AM" src="https://user-images.githubusercontent.com/10504626/61886423-520ec200-aec5-11e9-8a5d-0

[2019-07-27 15:32] abramenal commented on #93
Hi @ChaseBig
Thanks for submitting the issue!

As far as I'm concerned this is an internal Cypress feature, not really the plugin's one.
Thus, I cannot affect such behavior.
Please let me know if there's something else I can help you with.

[2019-07-27 15:32] #93 closed

[2019-07-29 11:49] ChaseBig commented on #93
Hi @abramenal!

Thank you for replying.

When I click "New Issue", it asks me if I want to submit an issue or submit a feature request. I was intending to submit a new "feature request" rather than an actual "Issue". Do you know where the best place for me to submit this feature request would be?

[2019-07-29 11:53] abramenal commented on #93
@ChaseBig I believe it's https://github.com/cypress-io/cypress

[2019-07-29 12:23] ChaseBig commented on #93
@abramenal I'm an idiot 🤦‍♂ I didn't realize I had submitted this on the cypress-file-upload repo. My apologies.

[2019-07-29 12:34] abramenal commented on #93
@ChaseBig that's fine 😄

[2019-08-01 14:27] bahmutov opened #94 "Make file processing options object optional"
Using `cypress-file-upload@3.3.2`

If my test is

[code]

then the plugin crashes trying to access `subjectType` of the undefined second object

<img width="1276" alt="Screen Shot 2019-08-01 at 10 25 11 AM" src="https://user-images.githubusercontent.com/2212006/62301573-dec9fa80-b446-11e9-8164-27e4dc5bba9f.png">

Adding the default subject type `input` fixes it, but should not even be required

[c

[2019-08-01 14:31] bahmutov commented on #94
doing this for https://github.com/cypress-io/cypress-example-recipes/pull/319

[2019-08-01 17:04] #94 closed

[2019-08-01 17:06] abramenal commented on #94
Hey @bahmutov
Thanks for submitting the issue, I'm happy that Cypress core team pays attention to community contributions!

That's a nice one, for some reason never thought about that though it is quite useful.
Fixed with v3.3.3.

@all-contributors add @bahmutov for ideas

[2019-08-05 19:55] kyledavelaar opened #97 "[Feature] Does upload.() return a promise?"
### Desired behavior:

Great library!  Thanks for making this.  Not sure if this is a bug or could be a new feature.  I'd like upload() to wait until the file has been uploaded and then do something like click a button on the page. In the code below it seems that upload() is not waiting for the file to finish uploading before going into the second .then() block.

### Current behavior:

`cy.fixture

[2019-08-05 20:31] abramenal commented on #97
Hey @kyledavelaar
Thanks for submitting the issue!

We discussed that stuff in #91, here's the answer:

If that is correct, the only way to do it properly is:
https://docs.cypress.io/api/commands/wait.html#Wait-for-a-specific-XHR-to-respond

[2019-08-05 23:13] kyledavelaar commented on #97
Hi @abramenal
Thanks for the response.  Unfortunately I am not needing to wait for an xhr request but for the file to be uploaded.  In my app after I upload the file, I show data on the screen about the file, row mappings (it's a csv file), etc. and I find that when I immediately have cypress look for them after the upload(), they are not there yet.  Currently I am doing a cypress.wait(500) but I'

[2019-08-07 19:02] abramenal commented on #97
@kyledavelaar
Oh I see what you mean. Yes, then likely I need to go through the Promise chain in order to resolve it properly – will likely pick that up this week.

[2019-08-07 19:36] kyledavelaar commented on #97
Cool thanks so much

On Wed, Aug 7, 2019, 12:02 abramenal <notifications@github.com> wrote:

[2019-08-08 11:04] abramenal commented on #97
@kyledavelaar
Can you tell what version of `cypress-file-upload` you're using?
Also, what is the size of that CSV you're uploading?
And finally, what is this `data-cy="map-headers-container"` component?

I feel a bit of misconception here. Ideally you don't need to control the async flow this way – Cypress does that for you for most cases. See
https://docs.cypress.io/guides/core-concepts/introduct

[2019-08-13 20:32] kyledavelaar commented on #97
Sorry was out on holiday and couldn't investigate more.  I see what you mean about the way Cypress handles async.  To answer your questions I'm using the latest version of cypress-file-upload, the size of the csv is 88 bytes, and the data-attribute is for the container that holds the NEXT button.

[2019-08-19 15:50] Pieras2 commented on #70
I also noticed an issue with cypress-file-upload.
When I upload *.zip it's ok, when 7z I get error - I am attempting upload this file to some page which works fine if I do it manually. When uploading by cypress I get error that it cannot be unarchived. Made a test to check it with file write - size is 1kb less.
Moreover optional encoding returns error so I had to enter it myself as (utf-8). I trie

[2019-08-20 19:50] abramenal commented on #70
@Pieras2 thanks for the feedback!
Likely we should create a separate issue for 7z if it's buggy – need to figure out how exactly we want it to be decoded.

[2019-08-20 20:19] Pieras2 commented on #70
@abramenal I found workaround:
- set encoding to base64 in cy.fixture()
- set encoding in cy file upload also to base64.
Works fine then.

[2019-08-24 12:13] benchaminaa opened #98 "[Bug] Drag and drop fails with angular applications using 'ng-file-upload' module for file uploads."
### Current behavior:

Our application under test is created using angular which uses a third party package `ng-file-upload` for file upload functionality.

Cypress throws below error while executing test. After further investigation it is found that this is thrown from ngFileUpload service of third party package `ng-file-upload` which expects `items` object as part of dataTransfer object.

### De

[2019-08-27 11:58] leorigon opened #99 "[Bug] Tests using upload are crashing on jenkins/electron"
Tests should be concluded with success like happens on chrome locally. But in our CI, jenkins, tests are be crashing, the CI don't continued tests after call the upload command. The same problem happens on terminal/electron execution. The test is passing, but not continued to the next step. It's freeze :(

        Given('I have an image {string} and I put on {string}',
            (fileName: strin

[2019-08-27 15:33] abramenal commented on #98
Hi @benchaminaa
Thanks for submitting the issue!
Will take a look on the issue later this weel. Likely will create a separate recipe for ng-file-upload as its quite often used together with this plugin.

[2019-08-27 15:34] abramenal commented on #99
Hi @leorigon
Thanks for submitting the issue!

Could you please also tell what setup you use for your frontend? It is likely the problem with compatibility with that I feel.

[2019-08-27 16:29] abramenal commented on #99
@leorigon are you using plain HTML5 input for file upload? Or component from some package?

[2019-09-02 15:05] harrison9149 opened #102 "[Feature] Add support for xls file types."
### Desired behavior:

Our website requires up to be able to import excel spreadsheets as part of its functionality, is this something which could be added?

[2019-09-03 08:07] abramenal commented on #102
Hi @harrison9149
Thanks for submitting the issue!

I think there might be some issues in cypress itself, see: https://github.com/cypress-io/cypress/issues/1558
Generally if you can use xls within `cy.fixture` it is also possible to do with this plugin.
It might be necessary to put specific `encoding` property (with same value as for `cy.fixture`).

[2019-09-06 20:05] Phillipe-Bojorquez commented on #69
This is relative for me as I need to test bulk upload for drag and drop for our web application.   I'm just learning how to code and got stuck somewhere around here:

[code]

[2019-09-13 23:21] jdcl32 commented on #102
@harrison9149 We needed to test `spss` files upload and this is how I got it to work:
[code]
Setting the encoding as `utf8` on the plugin will pass the fileContent as it is, and since we are passing a binary blob it works as expected. Maybe that will help you with xls files as well

[2019-09-17 02:49] arinanda commented on #34
Hi, I'm using ```3.3.3``` and I can't upload file using chrome 76 :( it works on electron 61

[code]

[2019-09-19 14:23] harrison9149 commented on #102
@jdcl32 Thanks for your input with only a small bit of editing I was able to successfully import using cypress `const fileName = 'successfulImport.xlsx';

        cy.fixture(fileName, 'binary')
        .then(Cypress.Blob.binaryStringToBlob)
        .then((fileContent: any) => {
             cy.get('#__BVID__243').upload({
                 fileContent,
                 fileName,
                 mi

[2019-09-19 14:26] #102 closed

[2019-09-19 14:32] marekdano opened #104 "'result' in FileReader has [object Object] instead of string after using upload method and reading file content"
### Current behavior:

### Desired behavior:

Thanks for creating this library. I like how clear is to use it to test upload file functionality.

I took the library to test uploading a JSON file, read the content in the file, set the state and display file content on the layout. I found while using this library, a JSON file uploads, FileReader executes, but the *result* returns **[objectObject]**

[2019-09-19 18:21] justinlittman commented on #104
Just ran into this myself. The problem is that `cy.fixture` detects that the file is JSON and loads as such. This fixed the problem for me:
[code]

[2019-09-20 09:40] marekdano commented on #104
Thank you, @justinlittman! You'll fix it for me!
I'm closing the issue.

[2019-09-20 09:40] #104 closed

[2019-09-21 14:56] abramenal commented on #104
Hi @marekdano!
Thanks for submitting the issue. I am really happy small community around the plugin now helps each other resolving such tricks.
This thing may be not obvious for other users as well so I intend to put this to README.md#Caveats section.

And shout out to @justinlittman for quick help!
@all-contributors add @justinlittman for question.

[2019-09-21 15:11] abramenal commented on #102
Hi @harrison9149
Thanks for submitting the issue! I am happy that it is resolved now.
Anyway you spotted a bug here – it is true that processing options are optional and could be omitted. I am opening a PR to fix this.

And shout out to @jdcl32 for helping with this!

@all-contributors add @harrison9149 for bug

[2019-09-21 15:12] abramenal commented on #102
@all-contributors add @jdcl32 for question

[2019-09-21 15:26] abramenal commented on #69
@Phillipe-Bojorquez hey there! If the issue is still relevant to you please feel free to open a new issue with your details so we could take a look together quickly.

@artemgurzhii I feel this feature obsolete as for now as no other users were requesting this as well. Feel free to open a PR with these changes if you still feel them reasonable so we could decide. Right now I will close the issue as

[2019-09-21 15:26] #69 closed

[2019-09-21 15:29] abramenal commented on #71
Hey @mark-veenstra
Were you able to progress any of the changes discussed? I wasn't able to take a look.
I feel this feature obsolete as for now as no other users were requesting this as well. Feel free to open a PR with these changes if you still feel them reasonable so we could decide. Right now I will close the issue as "won't do" thing (at least for now). Thank you for understanding.

[2019-09-21 15:29] #71 closed

[2019-09-21 15:33] abramenal commented on #97
@kyledavelaar is the issue still relevant to you?
If yes, you could take a look on #104 bug description, there is a nice way to do the thing which is likely to be same as yours.
If that does not help still, please reopen this one with details.

[2019-09-21 15:33] #97 closed

[2019-09-21 15:37] abramenal commented on #99
Hey @leorigon
Is the issue still relevant to you? Now I finally have time to take a look on the plugin, had a long vacation 😈
I'm doing package cleanup now so will close the issue for now. Please feel free to reopen it if the issue still relevant so we could find out its cause and fix. Thanks for understanding 🙏

[2019-09-21 15:37] #99 closed

[2019-09-21 15:54] kyledavelaar commented on #97
Hi thanks for asking.  Feel free to close the issue.

On Sat, Sep 21, 2019 at 8:33 AM abramenal <notifications@github.com> wrote:

[2019-09-21 16:34] #98 closed

[2019-09-21 16:35] abramenal commented on #98
Hi @benchaminaa
I've added a recipe for angularjs and ng-file-upload.
If you still experience the mentioned issue please take a look on that. If it does not help, feel free to reopen this issue so we can figure out what is your specific issue 😈

[2019-09-23 05:14] benchaminaa commented on #98
Hi @abramenal thanks for the update. I did a quick test after installing latest version and I'm running into same issue. FYI I was having issue in uploading files using drag and drop ` { subjectType: 'drag-n-drop' }` not with file input.

[2019-09-23 08:36] mark-veenstra commented on #71
We are working with a fork of the Cordova plugin for now and changed the expose to a Cordova namespaces window object. Which solves all issues (for now).

[2019-09-23 09:18] abramenal commented on #98
@benchaminaa well I think that is the cause of issue you see. ng-file-upload creates a hidden html file input which should be accessed within your test suite

see source code:
https://github.com/abramenal/cypress-file-upload/blob/master/recipes/angularjs-ng-file-upload/src/index.html#L12

and its test suite:
https://github.com/abramenal/cypress-file-upload/blob/master/recipes/angularjs-ng-file-upl

[2019-09-24 00:51] benchaminaa commented on #98
@abramenal well our application has a div element that uses `ngf-drop` of `ng-file-upload` module which I assume should be used as drop zone to trigger drop event.  Our application provides both drag and drop(ngf-drop) and button click(ngf-select) to upload files. If I use hidden file input to upload files in both cases there is no difference writing two test scenario.

My current work around usin

[2019-10-18 10:37] BavithraDuraisamy commented on #50
I'm getting this error when trying to upload CSV files. can someone help me?
upload is not a function

[2019-10-20 16:47] BavithraDuraisamy commented on #97
i'm getting this error when trying to upload csv file
passed subject element is not valid.

[2019-10-20 18:55] abramenal commented on #97
Hi @BavithraDuraisamy
Let's create a new issue where you describe your setup with code snippets so I can help you quickly

[2019-10-21 04:40] BavithraDuraisamy opened #116 "Upload CSV file using cypress"
### Current behavior:

I have a feature to upload CSV files in my application. and I'm trying the below lines of code. but it says that [cypress-file-upload error]: One or more field is invalid within given file(s).
Please look into docs to find supported "fileOrArray" values

### Code Snippet
    cy.server()
    cy.route('POST', 'https://somesite/upload', 200).as('upload')
    cy.get('input[type=

[2019-10-21 19:39] abramenal commented on #116
Hi @BavithraDuraisamy
Thanks for submitting the issue!

As mentioned in the error you see, `fileContent` should be a valid file object (usually obtained from `cy.fixture`), not just a string. Please take a look on the recipes in the repo for more usage examples.

Thanks!

[2019-10-21 19:39] #116 closed

[2019-10-24 09:17] atemor opened #117 "[Bug] Files upload are blank"
### Current behavior:

When I upload a file (.PDF) the file is upload but the PDF is blank.

### Desired behavior:

I Want to upload the PDF as it exist

### Steps to reproduce: (app code and test code)

[code]

The PDF is in my fixture file

[2019-10-24 15:47] abramenal commented on #117
Hi @atemor
Thanks for submitting the issue!
Which `cypress` and `cypress-file-upload` you're using?
How do you read PDF file content after upload?

[2019-10-25 10:13] atemor commented on #117
Hello :)

@abramenal
Here are the version
cypress-file-upload : 3.3.4
cypress  3.5.0

T read the content file I do it manually in the back office of the app

[2019-10-27 02:18] toshim45 opened #118 "please provide recipes for laravel blade file upload"
Hi,
I try to upload image file, but always got
[code]
here is my laravel blade code, just common file upload html
[code]

and this is my spec

[code]

I use cypress 3.5.0 with cypress-file-upload 3.4.0

I already followed [recipes](https://github.com/abramenal/cypress-file-upload/tree/a0cf1233cee799492ea0e721a5645df426814eec#recipes) (i think the closest one is react html5 input, but still got sam

[2019-10-27 13:36] abramenal commented on #118
Hi @toshim45
Thanks for submitting the issue!

As mentioned in the error you see, your first argument of `upload` method is invalid. It accepts only the following fields: `fileContent`, `fileName`, `mimeType`, `encoding`.
You're trying to pass unknown `fileImage` and do not pass `fileName`.

https://github.com/abramenal/cypress-file-upload/tree/master#api

Let me know if you need any further help.

[2019-10-27 13:37] #118 closed

[2019-10-27 13:45] abramenal commented on #117
@atemor

There is no thing that could be related to this package itself as it does not modify file contents in any way.
Here are some possible reasons you seeing the issue:

- `cy.fixture` returns empty file contents – this can be related to some specific file encoding which should be passed manually both to `cy.fixture` and `.upload` method
- there is some timing issue, like you try to see file c

[2019-10-27 19:59] toshim45 commented on #118
thx @abramenal for fast response.

actually fileImage is just file name, at the top of source

[code]

[2019-10-27 20:36] toshim45 commented on #118
ok I resolve this by renaming the variable `fileImage` to `fileName`
Thanks

[2019-10-27 21:18] abramenal commented on #118
@toshim45 if you want to go with original variable name:
[code]

[2019-10-28 11:03] atemor commented on #117
Hello,
I use cy.wait and i have the same issue.
The PDF is loaded but it's still an empty PDF :(
How can I work on the file encoding ?

[2019-10-28 16:02] atemor commented on #117
@abramenal usualy, when I do the test manualy, I use the same file and it work like a charm.
Thanks anyway, I'll try to catch a dev in my team

[2019-10-29 12:43] Nisgrak opened #120 "[Feature] Select events to trigger"
### Current behavior:
The actual lib call dragcenter, drop and dragleave events, some libs like Quasar needs others events.

In the case of Quasar I use the following code, modifing the lib and deleting the trigger to dragleave
[code]

### Desired behavior:
The most ideal case should be the only use of fixture and upload command, without the previous trigger and deleting the dragleave event, a pos

[2019-10-29 13:00] abramenal commented on #120
Hi @Nisgrak
Thanks for submitting the issue!

I really expected this feature request. It looks logical and makes the plugin compliant to drag events DOM spec. However I was lazy enough not to include it at the beginning 😈

So yes, let's do it!
Actually it might be a good open source contribution. All such people take their place in our honored contributors list in README.md.
Is that sound good to

[2019-10-29 13:02] abramenal commented on #117
@atemor
Please do and in case if he or she won't be able to fix that, let this dev come here and create an issue so we can figure out what is the issue.
Cheers!

[2019-10-29 13:02] #117 closed

[2019-11-04 14:40] adventmedia commented on #57
I cannot upload a video file with the current version (3.4.0)
![e2e-test 2019-11-04 09-37-37](https://user-images.githubusercontent.com/1529172/68128979-bee32080-fee6-11e9-99e2-330744b19cdd.jpg)

The code:
[code]
Also tried with 'binary' for encoding, same error.

[2019-11-04 14:45] adventmedia opened #122 "can't upload video file - encoding fail"
I cannot upload a video file with the current version (3.4.0)
![e2e-test 2019-11-04 09-37-37](https://user-images.githubusercontent.com/1529172/68128979-bee32080-fee6-11e9-99e2-330744b19cdd.jpg)

The code:
[code]
Also tried with 'binary' for encoding, same error.

cypress: 3.6.0
cypress-file-upload: 3.4.0
MacOS 10.14.6
Chrome v.78

[2019-11-04 15:40] adventmedia opened #123 "first run fail of upload"
Problem with uploader (for React);

Here is the html:

[code]
Rendered DOM looks like this:

[code]

This is the test:

[code]
On first run, Cypress throws this:
![uppy timeout](https://user-images.githubusercontent.com/1529172/67896990-dc556a80-fb33-11e9-8e4f-795935295e77.jpg)

This always happens on first run of the spec - subsequent runs usually (not always) pass.

Cypress 3.4.1, 3.5; cypress-f

[2019-11-05 14:46] abramenal commented on #122
Hi @adventmedia
Thanks for submitting the issue!

Can you please share the code snippet you used with `binary` encoding? It should work properly as we had similar issue with videos a while ago.

[2019-11-05 19:59] Nisgrak commented on #120
Hey! I submit a PR a week ago, you have some time to look at it? Thanks :smile:

[2019-11-07 13:04] #120 closed

[2019-11-07 13:08] abramenal commented on #120
Hey @Nisgrak, thanks for nudging me 😄
It's merged, I've also applied some changes (638c92ebdaa7b1d736e72b00a410ae6bdba8ba2a).
Released in `v3.5.0`.

[2019-11-07 13:16] abramenal commented on #123
Hi @adventmedia
Thanks for submitting the issue!

First, you likely don't need any timeout on `cy.fixture`
Then, if you use `force` option on `cy.get` then likely you need it on `.upload` command as well.

Please update your code snippet with mentioned changes and check if that works.

[2019-11-13 16:17] adventmedia commented on #123
Unfortunately none of those suggestions help. In fact, following updates to cypress etc., it now fails every time.
I strongly suspect the issue has to do with the fact that we're using uppy (https://github.com/transloadit/uppy), the input element is created by uppy, it does not exist in the native DOM

[2019-11-14 20:45] abramenal commented on #123
@adventmedia do you mean element is created inside shadow DOM? Or how it isn't exist in native DOM?

[2019-11-14 20:45] #123 closed

[2019-11-15 09:49] ChandraPuvendhan opened #126 "[Bug]Tests using upload are crashing on jenkins"
### Current behavior:

### Desired behavior:

### Steps to reproduce: (app code and test code)

### Versions

[2019-11-16 14:06] abramenal commented on #126
Hi @ChandraPuvendhan
Please submit any details about that issue. Until that I close the issue

[2019-11-16 14:06] #126 closed

[2019-11-18 09:05] ChandraPuvendhan opened #127 "[Bug] https://github.com/abramenal/cypress-file-upload/issues/99"
### Current behavior:

### Desired behavior:

### Steps to reproduce: (app code and test code)

### Versions

[2019-11-20 05:41] ChandraPuvendhan opened #128 "[Bug]Tests using upload are crashing on jenkins"
### Current behavior:

![image](https://user-images.githubusercontent.com/41319515/69211946-c90f4b00-0b85-11ea-93a2-bdc925fbf163.png)
File open dialog box pops up when cypress file upload plugin is used
![image](https://user-images.githubusercontent.com/41319515/69211964-d7f5fd80-0b85-11ea-94ea-d6138162ae36.png)

### Desired behavior:

File open dialog box should not pop up when cypress file uploa

[2019-11-20 05:47] ChandraPuvendhan commented on #99
Still issue exists. Please check on the same. [Bug]Tests using upload are crashing on jenkins #128

[2019-11-20 05:48] ChandraPuvendhan commented on #126
Current behavior:

[image: image]
<https://user-images.githubusercontent.com/41319515/69211946-c90f4b00-0b85-11ea-93a2-bdc925fbf163.png>
File open dialog box pops up when cypress file upload plugin is used
[image: image]
<https://user-images.githubusercontent.com/41319515/69211964-d7f5fd80-0b85-11ea-94ea-d6138162ae36.png>
Desired behavior:

File open dialog box should not pop up when cypress file

[2019-11-23 19:11] abramenal commented on #128
Hi @ChandraPuvendhan
Thanks for submitting the issue.

Is it working on your local machine? Generally there's no reason for Cypress to open file upload dialog until you explicitly click on upload component (this is what you might do in the last line of your code).

Also the txt to base64 excel conversion looks weird, please also check excel-related code samples: https://github.com/abramenal/cypres

[2019-11-23 19:11] #127 closed

[2019-11-25 05:26] ChandraPuvendhan commented on #128
yes it is working on my local machine and nothing explicitly opens locally. Only with Jenkins I face this issue. Please assist. I referred https://gitter.im/cypress-io/cypress for excel conversion

![image](https://user-images.githubusercontent.com/41319515/69514489-81b40080-0f71-11ea-9425-f9805c99e4b6.png)

[2019-11-27 00:39] x-yuri opened #129 "[Bug] `upload` doesn't upload files"
### Current behavior:

`upload` command attaches a file, not uploads anything.

### Desired behavior:

Rename to `attachFile` or something. And you can make the interface easier to read while you're at it:

[code]

compared to:

[code]

[2019-11-28 14:14] eflorent-ineat commented on #117
Same problem here, a diff on the uploaded file shows that at some point it is changed, there is an encoding issue. I am pretty sure it is around the way encoding is done, but have no doc, help or solution yet.

[2019-11-30 09:14] abramenal commented on #128
@ChandraPuvendhan

I am not sure I can assist with jenkins crashes specifically. The only way I see here is to ask other users whether they have faced such issues (like @leorigon). I would also expect your logs to contain any messages related to fixture pick/upload failure.

[2019-11-30 09:27] abramenal commented on #129
Hi @x-yuri
Originally I thought about using `cy.fixture` inside of the command, but then decided to start with smaller thing.
Right now all this seems to be a good suggestion for major v4 release.
However I would not call it a bug but rather an enhancement thing to consider.

Let's keep this issue opened until v4 release. Maybe I or someone else pick this up and code properly.
Thank you!

[2019-12-03 09:27] areshetilo230718 opened #132 "[Feature] Upload file using the button instead of input or drag&drop"
### Current behavior:

There is the possibility to upload the file in case the chosen selector is drag&drop or input, but now I faced with the case when the chosen selector is button. So when I point the SubjectType (button) in the code , the "invalid subjectType" error message is displayed after running the test.

export function uploadReceipt() {
    const fileName = '593523b7eac85260172337.png'

[2019-12-07 09:14] abramenal commented on #132
Hi @areshetilo230718
Thanks for submitting the issue!
The case sounds weird, but fixing this is quite easy and does not affect the whole system.
So I think it's reasonable to do this.

Will you be able to code it so we can review changes together?

[2019-12-09 18:17] thiagobrez opened #133 "[Bug] How to upload to Angular's ngx-dropzone"
### Current behavior:

Hi!

I'm trying to use the provided examples to upload a file via drag n' drop to Angular's `ngx-dropzone`:

[code]

But I'm facing the following error:

![image](https://user-images.githubusercontent.com/26878038/70460421-097f2c00-1a95-11ea-9a59-c5f414f50ae1.png)

This suggests that I should be passing a `FileList`, as `.item` is a property of this class, but I can't, since

[2019-12-10 17:37] abramenal commented on #133
Hi @thiagobrez
Thanks for submitting the issue!

Seems it should work naturally..
Which element has this `data-testid="dropzone"` attribute?
Can you please specify `cypress` and `cypress-file-upload` versions?

Let's fix this and possibly make a recipe with that plugin.

[2019-12-10 18:36] thiagobrez commented on #133
Hey @abramenal, thanks for the quick response!

The test id is on the dropzone itself:

[code]

Package versions are as following:

[code]
Also, I've set a breakpoint on the `drop` event and saw that the `dataTransfer` object looks different between `cypress-file-upload` run and actually dropping the file.

Real file drop:
![image](https://user-images.githubusercontent.com/26878038/70557867-73193c

[2019-12-10 18:51] abramenal commented on #133
@thiagobrez okay, now I see the problem!
I recall my investigation about that API, as per MDN `FileList` object is read-only, however we can utilize `DataTransfer` API which uses it internally.

[2019-12-10 18:52] #133 closed

[2019-12-10 18:52] abramenal commented on #133
@all-contributors add @thiagobrez for bug

[2019-12-10 18:54] abramenal commented on #133
@thiagobrez can you please test this in v3.5.1?

[2019-12-10 19:00] thiagobrez commented on #133
Wow, perfect! Just tested and it is working as intended.

@abramenal Thanks again for package and quick response.

[2019-12-10 19:01] abramenal commented on #133
@thiagobrez thank you for the feedback and detailed investigation!
And welcome to the contributors list 🥂

[2019-12-11 01:49] teophilus opened #136 "[Bug] - Trying to upload a `video/mp4` with `binary` encoding fails"
### Current behavior:

![image](https://user-images.githubusercontent.com/1396018/70584532-7aa30a00-1b8f-11ea-94bc-a4909c7c5c91.png)

![image](https://user-images.githubusercontent.com/1396018/70584941-a377cf00-1b90-11ea-8f92-cb4f251fe7e7.png)

$ file -I test_asset_02.mp4

### Desired behavior:

Trying to upload a `video/mp4` with `binary` encoding fails, I used the same command for Jpegs and such

[2019-12-13 21:22] abramenal commented on #136
Hi @teophilus

Thanks for submitting the issue!
Can you please provide the code snippet? It seems it should work, as binary is one of the supported encodings:
https://github.com/abramenal/cypress-file-upload/blob/master/src/constants.js#L29

[2019-12-17 01:31] jackguoAtJogg commented on #136
I have same issue, here's my code snippet:
[code]

[2019-12-17 01:53] jackguoAtJogg commented on #136
But I'm getting different error.
![image](https://user-images.githubusercontent.com/56273621/70958092-fb995000-202c-11ea-8c78-eb08442410f9.png)

[2019-12-17 03:19] jackguoAtJogg commented on #136
I got it fixed by setting encoding to 'utf8'.
[code]

[2019-12-18 11:41] areshetilo230718 commented on #132
Hi @abramenal
The case really weird, but I face with it quite often

Sorry, I didn`t understand
the part of code I wrote in the issue description

[2019-12-18 19:02] dennismail4u opened #137 "[File upload on shadow dom component]"
### Current behavior:
I have a shadow dom file upload component where I can browse or drag and drop json or csv files. I tried the code you mentioned here. But didnt work. Can someone help me?

### Desired behavior:
Should be able to drag and drop my files to shadow dom file upload component.

### Versions

3.4.0, Windowws 10, chrome/electron

Thanks,
Dennis

[2019-12-19 13:32] yonigibbs opened #138 "[Bug] Version 3.5.1 breaks drag/drop with Elm"
### Current behavior:
Since version 3.5.1, drag/drop operations on pages written in Elm appear to do nothing.  The problem is that the JavaScript generated by the Elm compiler has the following code which is executed when a drop operation occurs:
[code]
The drop operation is accepted only if this function returns `true`. However in version 3.5.1 it now returns false. The value which is sent into t

[2019-12-19 21:47] grivard opened #139 ".xml upload"
I have a need to upload both .csv and .xml files.  cypress-file-upload works great on .csv files, but I can't get it to work for .xml.  The error I'm getting is: "encoding" is not valid.  Please look into docs to find supported "encoding" values.

I looked at your list of encodings (https://github.com/abramenal/cypress-file-upload/blob/master/src/constants.js#L29) as well as Cypress's (https://doc

[2019-12-23 16:39] tiagofernandez commented on #116
I stumbled upon the same issue after upgrading to `3.5.1`, so in my case I just sticked with `3.1.2`.

[2019-12-24 07:47] yonigibbs commented on #139
@grivard, in case it's of use to you, we have tests which upload XML files. We use `"utf-8"` as the value for the `encoding` parameter. The file itself is saved using UTF-8 encoding, which is the default encoding for XML files.  Hope this helps.

[2019-12-24 20:47] abramenal commented on #116
@tiagofernandez can you please describe your issue? The original issue is about improper API usage.
Feel free to create a new issue and link with this one if you feel they are related.
Thanks!

[2019-12-27 01:24] grivard commented on #139
Yes, that helps a lot!  Import of .xml works for us now!  Thanks a lot for the help!

[2019-12-27 01:24] #139 closed

[2019-12-30 15:10] Adambs opened #140 "Cannot upload json file[Bug]"
### Current behavior:

Error: JSON content could not be parsed
    at JSON.parseWithDate (/****/node_modules/json.date-extensions/json.date-extensions.js:93:23)

![image](https://user-images.githubusercontent.com/13707440/71587523-ab3ee980-2b26-11ea-95cb-8f9733388e7d.png)

### Desired behavior:

I try to upload the json file

### Steps to reproduce: (app code and test code)

cy.fixture(fileName).t

[2019-12-31 06:31] tiagofernandez commented on #116
@abramenal IIRC after upgrading all my packages, tests I had involving file uploads started failing with the same error message as in this issue's description. As I wasn't upgrading this package for any particular reason, I decided to just downgrade it back. I'll create a detailed issue next time I try.

[2020-01-02 13:26] endymonium opened #141 "[Feature] adding webkitdirectory to support directory uploads"
I would like to test a directory upload input, for that it should be enough to set the `webkitRelativePath` property in the created `File` object(s), eg:

[code]

The [File](https://developer.mozilla.org/en-US/docs/Web/API/File) constructor does not support that, but you can force set it afterwards via `Object.set`. I'm using that approach already in my app if the user selects a single file instea

[2020-01-05 12:28] abramenal commented on #140
Hi @Adambs
JSON files are supported for sure,
please check out existing recipe:
https://github.com/abramenal/cypress-file-upload/blob/master/recipes/react-html5-input/cypress/integration/mimeTypes.spec.js#L30

[2020-01-05 12:31] abramenal commented on #137
Hi @dennismail4u
Thanks for submitting the issue!
Have you tried this recipe? It should work well
https://github.com/abramenal/cypress-file-upload/tree/master/recipes/react-dropzone

[2020-01-05 12:33] abramenal commented on #132
Sorry @areshetilo230718 I meant making the fix in the plugin's source code. Thought it might be interesting for you to make a contribution yourself 😈

[2020-01-05 12:36] abramenal commented on #136
@jackguoAtJogg
Thanks for this!

@all-contributors add @jackguoAtJogg for question

[2020-01-05 12:37] #136 closed

[2020-01-05 12:39] abramenal commented on #136
Mentioned the workaround in 97e2f46d426bc57d1befc51072cea384161cba69

[2020-01-05 12:40] #140 closed

[2020-01-05 12:44] abramenal commented on #138
Hi @yonigibbs
Thanks for submitting the issue!
The weird thing here is how it was working before – can you please check what type does the `value` have when using `v3.5.0`?

For sure this might be one of config parameters to pass. Let's investigate it together and figure out proper fix.

Thank you!

[2020-01-05 12:47] abramenal commented on #141
Hi @endymonium
Thanks for submitting the issue!
It was requested a while ago from @artemgurzhii in #69 but there was not much users so I decided not to do that.

Right now I feel it might be a good thing to implement, but not sure if I can help with coding that. Can you please look through the source code and make a PR for that? We can review it together with @artemgurzhii and finally make it happ

[2020-01-05 12:49] #137 closed

[2020-01-05 12:53] #132 closed

[2020-01-05 12:53] abramenal commented on #132
Release with `v3.5.2`

[2020-01-05 13:17] abramenal commented on #138
@yonigibbs finally I've found the root cause. It appeared to be a bigger problem – whole plugin suite were using constructors from cypress' runner window, not the application's one. Thus, two different constructors and not working instanceof.

Similar thing but with `File` constructor is described here:
https://github.com/cypress-io/cypress/issues/933

Coming with fix in a while.

@all-contributor

[2020-01-05 13:27] #138 closed

[2020-01-05 13:30] abramenal commented on #138
@yonigibbs released in `v3.5.3`

[2020-01-06 08:36] yonigibbs commented on #138
Brilliant!  Thanks @abramenal.  Much appreciated.  Have grabbed `v3.5.3` and can confirm it resolves the issue for us. 👍

[2020-01-06 21:00] dennismail4u commented on #137
Hi Abramenal,
Yes I tried the same. I am getting error saying "encoding is not valid". Below is the code I am trying. I wanted to upload both .bz2 and CSV files. Can you please help what should do to fix this.

const fileName = "sample.csv.bz2";
cy.fixture('testFile.png', 'base64').then(fileContent => {
                    cy.document({log: false})
                        .shadowGet("file-upload")

[2020-01-06 21:08] dennismail4u opened #146 "[Bug] File Upload on Shadow Dom throws Encoding is not valid."
### Current behavior:
Hi Abramenal,
I am getting error saying "encoding is not valid". Below is the code I am trying. I wanted to upload both .bz2 and CSV files. Can you please help what should do to fix this.

const fileName = "sample.csv.bz2";
cy.fixture('testFile.png', 'base64').then(fileContent => {
                    cy.document({log: false})
                        .shadowGet("file-upload")

[2020-01-06 21:35] abramenal commented on #146
Hi @dennismail4u
Thanks for submitting the issue!

There's a file option called `encoding` which internally helps using proper function to process file contents. Normally it gets automatically assigned based on file extension, but `.bz2` is not the one supported by default. Thus, you need to specify it explicitly, so your code should look like:
[code]

I am not completely sure whether utf8 will wo

[2020-01-06 21:35] #146 closed

[2020-01-06 22:27] dennismail4u commented on #146
Hi Abramenal,
I tried by passing different encoding values such as 'binary', 'utf8', etc. Now I am not getting any error, but the file is not getting uploaded to the component. Can you suggest some clue how should proceed? Should I try uploading into diff DOM element than the one i tried?

Dennis

[2020-01-07 01:40] jackguoAtJogg commented on #136
Wow~ is my honor to be part the contributor~ 😁

[2020-01-07 14:44] abramenal commented on #146
@dennismail4u if that is drag-n-drop component you should look for the element to which the drop event handler is attached to. If you're using some external component, it is likely its' root element.

[2020-01-07 15:49] dennismail4u commented on #146
@abramenal I tried to drag and drop with different DOM elements, but didnt work. But I was able to upload the file using input type into one element. Thanks for all your help on this.. Cheers :)

Dennis

[2020-01-13 11:08] pkell opened #147 "[Bug] Drag n Drop not working in headless Chrome with Cypress V3.8.2"
### Current behavior:

When running cypress tests under headless Chrome, drag n drop upload does not work. Video playback shows nothing is triggered on the drop zone. The tests pass when run under headed chrome.

### Steps to reproduce:
1. Run a drag n drop upload test using the --headless --browser chrome flags

### Versions

Windows 10, Chrome 81 (canary), Cypress 3.8.2

[2020-01-13 23:18] jimpriest opened #148 "[Bug] InvalidStateError: Failed to set the 'value' property on 'HTMLInputElement'"
### Current behavior:
I have a vanilla web form and I'm trying to upload a file (just getting started with Cypress)

I am getting an error when I submit form:

### Desired behavior:

Have the file uploaded with no error.

### Steps to reproduce: (app code and test code)

Using examples I've found on the web I have:

Form:
[code]

Spec:
[code]

This works!  The file is uploaded...  But my test fail

[2020-01-22 15:32] abramenal commented on #148
Hi @jimpriest
Thanks for submitting the issue!

Your example seems to be correct, let me check later this week if there's any changes in latest Chrome that does not allow to do this. More to come

[2020-01-22 15:33] abramenal commented on #147
Hi @pkell
Thanks for submitting the issue!

Will try to take a look on this later this week.

[2020-01-23 01:35] jimpriest commented on #148
I think this may be something weird on my end. :(

I setup a vanilla PHP form on my personal site and was able to successfully upload a file there.

At work we're using ColdFusion and even using a stripped down form I still get this InvalidStateError error.  Going to continue to simplify things and see if I can make it work.

Let me know if you find anything on your end :)

[2020-01-23 11:05] Aymkdn opened #149 "[Docs] Waiting for the upload to complete"
### Current behavior:

There is no documentation on how to deal with the upload completion. You mentionned to use https://docs.cypress.io/api/commands/wait.html#Wait-for-a-specific-XHR-to-respond in a couple of issues (like https://github.com/abramenal/cypress-file-upload/issues/97 and https://github.com/abramenal/cypress-file-upload/issues/91), but I still don't get it…

### Desired behavior:

Co

[2020-01-23 13:38] Aymkdn commented on #149
In my scenario, I have a POST that is done at the end of the upload, to an URL that contains `moveTo`, so here is what I did:
[code]

I don't know if it's the best way, but at least I hope it will help others :-)

[2020-01-28 00:49] allanslim commented on #41
Hi Everyone,
I am getting this error even with `force: true`. Does `force:true` only works for input and not in drag-and-drop? I also tried `Invoke('show')` but it didn't help either. The way our upload works, is that the DropZone div disappears after it get's the file, and a button ( "Upload" ) needs to be clicked to upload the file.

[code]
Any help will be greatly appreciated. Here are the vers

[2020-01-28 01:00] allanslim opened #150 "[Bug] force:true does not work for Dropzone drag-n-drop"
Hi Everyone,
How are you? I hope you are all doing fine! I am getting this error (see below) after implementing Dropzone drag-n-drop upload. I tried using  `force: true` parameter, but it only works for input and not for drag-n-drop. The way our upload functionality works, is that the `Dropzone` div disappears after it get's the file and a button ( labeled "Upload" ) needs to be clicked to upload

[2020-01-28 07:27] Ridhib opened #151 "MPEG-4 video files give incorrect encoding error"
Hi
I'm trying to upload a video file which has H.264 encoding, can you help me with what should i use for encoding parameter? Is it supported? I tried every other encoding type, didn't work.

 getFileUpload(fileName){
    cy.fixture(fileName)
      .then(fileContent => {
        cy.get('[id="file_upload_input"]').upload({
          fileContent,
          fileName: fileName,
          mimeType: 'vi

[2020-01-28 07:33] Ridhib commented on #151
nvm it worked with base64 encoding.

[2020-01-28 07:33] #151 closed

[2020-01-28 17:15] allanslim commented on #150
I was thinking along the line of adding a `if (isManualEventTrigger({ window, force }))` check for DragDrop. Thanks.

[2020-01-29 20:35] antarr opened #152 "[Bug] Change event not being triggered"
### Current behavior:

It updates the file name in the UI. But the change event is not fired.

### Desired behavior:

The change event on the input should be triggered after calling upload

### Steps to reproduce: (app code and test code)

[code]

### Versions

Cypress 3.8.1
Ubuntu 16.04.6 LTS
Chrome 79

[2020-02-04 09:21] pkell commented on #147
Seems like this still works with headless chrome under Cypress v3.8.3 if I revert cypress-file-upload to v3.5.0 instead of latest.

[2020-02-08 12:20] warpech opened #153 "[Feature] Upgrade to Cypress 4"
### Current behavior:

This plugin requires Cypress 3.x.x according to https://github.com/abramenal/cypress-file-upload/blob/9df046cc78db802a0943d9dac82bbd60be029072/package.json#L45.

### Desired behavior:

I wish the plugin is updated to work with the current version of Cypress, which is 4.0.1.

Thanks for a great plugin! 👋

[2020-02-10 08:11] sandrina-p opened #154 "[Bug] Support Firefox (Cypress 4.0.1)"
### Current behavior:

I have a test to upload a file (image/png) and it's been working fine on Chrome with Cypress 3.x and the [new release 4.0](https://cypress.io/blog/2020/02/06/introducing-firefox-and-edge-support-in-cypress-4-0/9. But when I run it on Firefox (with Cypress 4.0.1) it doesn't work anymore.

- Firefox Developer Edition 73
![image](https://user-images.githubusercontent.com/148690

[2020-02-11 20:06] benowenssonos opened #155 "[Feature] Support SVG files"
### Current behavior:
It appears as though SVG files are not supported at this time. They are not included in the supported file extensions in https://github.com/abramenal/cypress-file-upload/blob/master/src/constants.js

### Desired behavior:

Support SVG files 😀

### Versions

[2020-02-13 13:26] narinepoghosyan opened #156 "[Bug] Upload with HTML file input does not work in Chrome > 73"
### Current behavior:
File upload does not gets triggered when using Chrome v73 and higher.

### Steps to reproduce: (app code and test code)
For file upload I am using  function like this

[code]
in my test file.
` cy.uploadFile(fileName, fileType, fileInput);`

It's working fine in chrome < 72

Now I am using chrome 80 and want to upload file with cypress-file-upload plugin.

-  First install pl

[2020-02-13 15:23] narinepoghosyan commented on #34
And for me not working. using Chrome 80.
My code working fine in Chrome 70.
commands.js
[code]
test.js
[code]

[2020-02-17 17:21] abramenal commented on #34
Probably this recipe got a bit wasted, so here it is again:
https://github.com/abramenal/cypress-file-upload/blob/master/recipes/react-html5-input/cypress/integration/input.spec.js#L30

[code]

There's an auto-detection mechanism for checking chrome version (and if it is **greater or equal to 73** there's a forced even trigger).
However if you still experience issues like that, please try to set `

[2020-02-17 17:22] abramenal commented on #156
Hi @narinepoghosyan
Thanks for submitting the issue!

I see you've posted also into the recipe issue. Please check out my latest comment there.
https://github.com/abramenal/cypress-file-upload/issues/34#issuecomment-587092333

[2020-02-17 17:26] abramenal commented on #156
I've tested locally Chrome v79, 80 and both works as expected, auto detection mechanism under the hood enforces the change event triggering.

Anyways please try enforcing it, as I posted in mentioned commentt.

I also see possible issue in the specific element selection you drop image into. Can you please share more about your application setup? What lib do you use for input? Isn't it a drag-n-dro

[2020-02-17 17:37] abramenal commented on #155
Hi @benowenssonos

Thanks for submitting the issue!

SVG is still supported by manually setting the file encoding (I omitted the rest):
[code]

Anyways that's a good change so releasing this soon. Stay tuned.

[2020-02-17 17:38] abramenal commented on #155
@all-contributors add @benowenssonos for bug

[2020-02-17 17:39] #155 closed

[2020-02-17 17:41] benowenssonos commented on #155
Thanks so much @abramenal. I will test this tomorrow.

[2020-02-17 17:42] abramenal commented on #154
Hi @sandrina-p
Thanks for submitting the issue!

Never tested v4 yet, so any contribution is appreciated.
I expect to have time fixing it later this week

[2020-02-17 17:49] abramenal commented on #153
Hi @warpech
Thanks for submitting the issue!

I am really happy that the plugin went so widely used among the community 😃
With regards to new version I expect a bunch of issues either related to v4 itself or cross-browser compatibility (like #154)

So I would expect having proper tests and fixing all ongoing issues until the end of February.

Stay tuned! 🌟

[2020-02-17 17:52] abramenal commented on #152
Hi @antarr
Thanks for submitting the issue!

I think this might be related to #156 and the recipe I mentioned:
https://github.com/abramenal/cypress-file-upload/issues/34#issuecomment-587092333

So you're saying manual event triggering works `cy.get('input[type="file"]').trigger('change')`, but the built-in one from upload command does not?

[2020-02-17 17:56] abramenal commented on #150
Hi @allanslim!

Thanks for submitting the issue!
Actually this gets a bit complicated as long as there's an `events` parameter which explicitly states which events to trigger manually.

So I think a proper way now to do it for drag-n-drop is:
[code]

[2020-02-17 18:01] #150 closed

[2020-02-17 18:07] abramenal commented on #149
Hi @Aymkdn
Thanks for submitting the issue!

Your code snippet implements the idea I was suggesting perfectly. Thanks for the effort!
That is definitely a good idea to document that in a recipe as long as for many Cypress newcomers it might be tricky (especially since file upload isn't officially supported).

I've put this to the upcoming release backlog in order to make this. Keeping this issue o

[2020-02-17 18:08] abramenal commented on #149
@all-contributors add @Aymkdn for question

[2020-02-17 18:11] #148 closed

[2020-02-18 08:38] narinepoghosyan commented on #156
Tanks a lot for answer @abramenal.
I am trying the same code in other project and its working, but in my project I can't find any solution, Pls help me.
This is my html code

[2020-02-18 08:50] narinepoghosyan commented on #156
This is my project the same code in chrome 70 version. There are working fine and my image is uploaded
![Screenshot from 2020-02-18 12-48-24](https://user-images.githubusercontent.com/40800905/74719331-3dbd5880-524d-11ea-92de-b970d2e6817c.png)

[2020-02-18 08:55] narinepoghosyan commented on #156
And the same test in Chrome 80. This my image is not uploading.
![Screenshot from 2020-02-18 12-53-06](https://user-images.githubusercontent.com/40800905/74719648-dc49b980-524d-11ea-9507-65b6065fef23.png)
Please help my to find the problem

[2020-02-18 09:50] narinepoghosyan commented on #34
Thanks for the answer, I am sent the new issue with details
https://github.com/abramenal/cypress-file-upload/issues/156

[2020-02-18 14:58] benowenssonos commented on #156
@abramenal I am also running into this issue. It only appears when trying to upload an SVG (since you added this functionality yesterday).

[2020-02-19 12:03] valscion commented on #153
For us, all of our tests, including the ones that used `cypress-file-upload` to upload an image to a form using https://www.dropzonejs.com/, worked flawlessly with Firefox and Cypress v4 :relaxed:

We merely ignore the warning generated by the peer dependency requirement of `cypress-file-upload` for now

[2020-02-20 01:21] burzum opened #160 "[Feature] Recipe for plupload v2"
### Current behavior:

We still use plupload v2 in some places. Now I've tried to add tests to these pages without much success. If I'm doing the same procedure manually the very same file just uploads fine. I've pasted our test, our custom filter code and a screenshot below. I really can't figure out what the difference is in the test.

[code]

Our custom filter we use to validate the image size:

[2020-02-20 02:30] jimmyandrade commented on #153
Given I have `yarn` version ` version 1.21.1` and `cypress-file-upload` version 3.5.3
When I run `yarn install`
Then I find this:

[code]

For now I'm ignoring the warning (like @valscion said) but it would be better if this warning does not appear.

[2020-02-20 16:52] tkeswa opened #161 "xls and xlsx file support"
I am getting error when I am trying to upload excel file (not csv) with encoding as uft-8

 [cypress-file-upload error]: "encoding" is not valid.
Please look into docs to find supported "encoding" values

[2020-02-24 17:16] abramenal commented on #156
@narinepoghosyan can you please also try setting `subjectType: "input"`?
I think will have some time to debug this

[2020-02-24 17:18] abramenal commented on #160
Hi @burzum
Thanks for submitting the issue!

Have you tried that exact code without plupload validation? Did it work?
I am thinking if cypress could modify image's metadata..

Please let me know if that work. I think I'll have some time tomorrow to debug this.

[2020-02-24 17:23] abramenal commented on #161
Hi @tkeswa
Thanks for submitting the issue!

Right now encoding does not get decided automatically which is definitely a thing to improve.
In the meantime, you still can pass encoding explicitly, see: https://github.com/abramenal/cypress-file-upload/issues/102

[2020-02-25 08:38] narinepoghosyan commented on #156
@abramenal  Thanks to answer.
Result  is the same. Chrome 80 - failed, Chrome 70  - pass
Code
[code]
See attached  files
Chrome 80
![Screenshot from 2020-02-25 12-32-38](https://user-images.githubusercontent.com/40800905/75229540-8fc12980-57cb-11ea-9dd8-246926cdd4d2.png)
Chrome 70
![Screenshot from 2020-02-25 12-36-08](https://user-images.githubusercontent.com/40800905/75229558-99e32800-57cb-11ea-

[2020-02-25 13:27] saschahofmann commented on #161
also see cypress-io/cypress#1594

[2020-02-25 23:21] asumaran opened #162 "[Bug] Error when uploading empty file"
### Current behavior:

Cypress results:

[code]

Adding a white space in the file makes the test case not to throw an error.

### Desired behavior:

It should not throw any error

### Steps to reproduce: (app code and test code)

Upload an empty file

### Versions

cypress-file-upload@3.5.3
cypress@3.8.3

[2020-02-25 23:35] asumaran commented on #162
Nevermind. I just read there's a `processingOpts.allowEmpty` option. Setting it to true does the trick.

Closing the bug report. Sorry!.

[2020-02-25 23:35] #162 closed

[2020-02-27 13:26] bbonevPIT commented on #154
I am having similar issue, Its working on chrome but not on firefox, its not failing it but its not working on firefox for sure.

[2020-02-27 15:21] burzum commented on #160
@abramenal thanks for taking care of it. The issue is indeed something within the validation. When I remove the whole rule it uploads the file. The weird thing is, it works on our live site and in my dev environment as well. `file.type` is image/jpg so the type is OK. There must be something else that doesn't work well with this Moxie library but it is a pain to debug. 😞

[2020-02-27 16:07] artemisclyde commented on #156
Any news on this? I'm struggling with the same issue.

[2020-02-29 08:07] abramenal commented on #161
@saschahofmann thanks for your code snippet! Going to make this work out of the box in upcoming major release

[2020-02-29 08:14] abramenal commented on #160
@burzum this seems to be expected behavior:

https://github.com/moxiecode/moxie/wiki/moxie.image.Image#width

[2020-02-29 08:18] abramenal commented on #162
Hi @asumaran
Thanks for submitting the issue!

You're right, this should work properly. Let me know if something goes wrong 😉

[2020-02-29 10:48] abramenal commented on #150
@allanslim I've added a test case to describe how this should work with hidden drag-n-drop:

https://github.com/abramenal/cypress-file-upload/blob/master/recipes/react-dropzone/cypress/integration/dropzone.spec.js

[2020-02-29 10:54] abramenal commented on #147
Hi @pkell
I've tested this on latest master and cannot reproduce the issue. Added the recipe to cover both visible and hidden drag-n-drops:
https://github.com/abramenal/cypress-file-upload/blob/master/recipes/react-dropzone/cypress/integration/dropzone.spec.js

I'm going to release a new version in the upcoming days so then you could test this with your setup. In the meantime you can try running t

[2020-02-29 14:57] abramenal commented on #156
Hey @narinepoghosyan @benowenssonos @artemisclyde @olibanjoli can someone provide a sample repo containing some code snippet and failing test? I cannot reproduce the issue locally using any of the tests for the recipes.

[2020-02-29 18:47] burzum commented on #160
@abramenal sure but why is it working when I'm not using Cypress but working when doing it manually? I can't really figure out how and were to modify the fixture or data.

I've already put some debug code into my filter.

[code]

But it seems to never go into this part. I've also tried to add `img.preload = function() {...}` to debug it but this seems to never get called either. :(

[2020-03-01 12:06] burzum commented on #160
I'm running the very same code side by side in the browser opened by Cypress and it clearly behaves different when loading the file via Cypress (left) and doing it manually (right):

![image](https://user-images.githubusercontent.com/162789/75625333-71896e00-5bbd-11ea-9567-f3bf33688696.png)

[2020-03-01 18:58] abramenal commented on #160
@burzum can you please create a sample repl with such component so I can investigate?
I am almost done with v4 source code and want to test your stuff there.

[2020-03-01 19:10] burzum commented on #160
@abramenal I'll do so tomorrow!

[2020-03-01 19:49] #128 closed

[2020-03-02 09:54] narinepoghosyan commented on #156
Sorry @abramenal , I can't to send You. Our project is private and my manager don't let me to send. Sorry again.

[2020-03-02 10:48] abramenal commented on #156
@narinepoghosyan it's fine. I actually meant that you could create a small project where you just use that dropzone component (is it open source one?) and test it with same code.

I expect the new release to come in the following 2 days, so if it's non-prio for you let's just wait a bit.

[2020-03-02 13:30] bbonevPIT commented on #154
I installed the latest changes from the plugin but it still doesnt upload the image in firefox, it doest on chrome though without problems as usual.

I dont get an error in firefox its just passing it but not uploaded, has anyone else have the same issue with latest version of cypress?

[2020-03-02 13:40] abramenal commented on #154
Hi @bbonevPIT v4 is not yet released, expect it not later than Wednesday this week 🥂

[2020-03-02 14:35] narinepoghosyan commented on #156
@abramenal Okay I will wait and thanks a lot

[2020-03-02 15:43] asumaran commented on #162
@abramenal actually, the `allowEmpty` doesn't work quite properly. I left some comments here https://github.com/abramenal/cypress-file-upload/pull/119#pullrequestreview-364531524

[2020-03-02 15:46] abramenal commented on #162
@asumaran that's a good point and it is already fixed in v4 which is coming not later than Wednesday.

Thanks anyway!

@all-contributors add @asumaran for bug

[2020-03-03 10:04] bbonevPIT commented on #154
@abramenal ah great, thank you very much. great job guys!

[2020-03-06 09:21] burzum commented on #160
@abramenal I've extracted the plupload to a new repository that includes our upload filter as well that validates the image. For whatever reason, when extracted to this lib it even fails for me if I do it manually. In our application it works as expected... We decided to delay Cypress tests for pages with the upload and remove plupload because it seems to be unmainted and outdated and switch to ht

[2020-03-06 10:16] Regnander opened #167 "[Bug] Unable to upgrade to ES6 in my TypeScript project"
### Current behavior:

Setting `"target": "ES6"` in tsconfig.json will highlight `upload()` with the error "**Property 'upload' does not exist on type 'Chainable<JQuery<HTMLElement>>'**", as if VS Code cannot find the module. Setting `"target": "ES5"` works just fine.

### Desired behavior:

I want to be able to upgrade `target` to ES6.

### Steps to reproduce: (app code and test code)

tsconfig.j

[2020-03-10 21:14] domeknn commented on #167
+1

[2020-03-11 09:48] Glinkis commented on #167
We also have this issue with `"target": "esnext"`

[2020-03-20 16:00] dotwork commented on #154
My company has started using Cypress for our functional testing and we're loving it. We're hoping to replace our robot framework tests, but we need to have Firefox coverage. Any chance this fix will be coming in the next week or so?

[2020-03-22 15:06] abramenal commented on #161
Hi @saschahofmann
It should be supported now out of the box. Please check out v4!

Cheers!

[2020-03-22 15:06] #161 closed

[2020-03-22 15:07] abramenal commented on #156
@narinepoghosyan @artemisclyde @benowenssonos finally got it done with v4.
Please check out and feel free to reopen if the issue persists.

Cheers!

[2020-03-22 15:07] #156 closed

[2020-03-22 15:07] abramenal commented on #154
Hi all,
@sandrina-p @bbonevPIT @dotwork it's supported now with v4 release.
Please check out!

Cheers!

[2020-03-22 15:07] #154 closed

[2020-03-22 15:09] abramenal commented on #153
Hi @warpech @valscion @jimmyandrade,
it's now fixed with v4 release, please check out!

Cheers!

[2020-03-22 15:09] #153 closed

[2020-03-22 15:09] abramenal commented on #147
Hi @pkell
Tested this in v4, it's working.
Please check out and feel free to reopen in case you spot something!

Cheers!

[2020-03-22 15:09] #147 closed

[2020-03-22 15:10] abramenal commented on #152
Closing the issue as manual trigger is supported by the API.

[2020-03-22 15:10] #152 closed

[2020-03-22 15:10] abramenal commented on #129
@x-yuri finally got time to improve this.
Thanks!

@all-contributors add @x-yuri for ideas

[2020-03-22 15:11] #129 closed

[2020-03-22 15:16] abramenal commented on #167
Hi @Regnander @domeknn @Glinkis
I'm not really into TypeScript stuff at the moment, but tried to fix it roughly.
Check out if that's fixed in v4.0.3

[2020-03-23 09:43] DamienCassou opened #171 "[Bug] Regression in v4"
### Current behavior:

In v3, I have the following code:

[code]

This correctly results in this data to be sent to my server:

[code]

As you can see, `text/plain` is sent as content type.

With v4, the code is much simpler (thank you):

[code]

But I didn't find a way to specify the content type and this is what is sent to the server:

[code]

The content type is now `null` instead of `text/plai

[2020-03-23 10:13] saschahofmann commented on #161
XLSX works like a charm. Not sure about XLS. Haven't dug deeper but there seems to be an issue.

Also the  docs link here: https://github.com/abramenal/cypress-file-upload/blob/master/src/constants.js for the encodings.

[2020-03-23 13:20] dotwork commented on #154
Excellent, thank you!

[2020-03-23 13:22] Regnander commented on #167
Unfortunately not. The only difference I could find is that Cypress code, which normally works for 3.5.3 or when uninstalled, stops working in ES5 for 4.0.3 ("**Property 'fixture' does not exist on type 'cy & EventEmitter'.**"). Otherwise I get the same error.

&nbsp;| ES5 | ES6
-|-|-
**4.0.3**|![4 0 3 ES5](https://user-images.githubusercontent.com/17113053/77310920-75616980-6cff-11ea-9332-23234e7

[2020-03-23 13:53] dotwork commented on #154
I have installed version 4.0.1, and am now getting the error `TypeError: cy.get(...).upload is not a function` on both Chrome and Firefox.

[2020-03-23 13:57] dotwork commented on #154
To sanity check, I downgraded and re-ran tests on Chrome without any code changes and it worked fine.

[2020-03-23 13:58] abramenal commented on #154
@dotwork the command itself was upgraded to simpler notation, please check out latest API guide 😄

[2020-03-23 15:17] dotwork commented on #154
Got it, thank you! I do notice one side-effect seems to be more generic mimetypes. Where before I got:

- epub > application/epub+zip
- docx > application/vnd.openxmlformats-officedocument.wordprocessingml.document
- odt > application/zip to equal application/vnd.oasis.opendocument.text

now all 3 above just return `application/zip`. Is there a way to get the specific mimetype again?

[2020-03-23 15:26] dotwork commented on #154
Also, nice improvement to the command! Much cleaner.

[2020-03-23 15:36] dotwork commented on #154
I'm having a problem with the file upload. When uploading a valid docx file, it works on my test server if I do it manually, but when cypress does it, I get an error about it being corrupted. I've tried not passing an encoding, as well as using `base64` which is what was working on the previous version, and `binary` as well.

Also, I am getting more generic mimetypes when I check the uploaded file

[2020-03-23 15:39] dotwork commented on #154
Here is the docx file I am testing...
[valid_minimal.docx](https://github.com/abramenal/cypress-file-upload/files/4370372/valid_minimal.docx)

[2020-03-23 19:24] abramenal commented on #167
@Regnander in v4 the command changed its API so called now it's `attachFile`

[2020-03-23 19:28] abramenal commented on #154
@dotwork is this relevant only in Firefox?
If not, let's move to a separate issue.

As for the mime type, I'll revert back the possibility to provide mime type manually, now there's auto-detection mechanism which relies on `mime` package.

[2020-03-23 19:44] #171 closed

[2020-03-24 07:27] DamienCassou commented on #171
Thank you very much. It works great now.

[2020-03-24 07:29] abramenal commented on #171
Hey @DamienCassou
Thanks for submitting the issue and verifying the fix! 🥇

[2020-03-24 09:47] vkhalikov opened #174 "[Bug] File is not an instance of File"
### Current behavior:
After upgrading to v4 I've got this strange behaviour.
I'm not sure if that's a file-uploader's bug, but it worked before upgrading.
I have this onChange handler:
[code]
And the following test code:
[code]
So, after running the test I'm getting the error:
"Uncaught TypeError: Cannot read property 'value' of undefined"
<details>
  <summary>Stack Trace</summary>

![stacktrace](

[2020-03-24 09:58] sanduteo95 opened #175 "[Bug] Uploading JSON file regression in v4"
### Current behavior:

In `cypress-file-upload` v3 I could do something like the following, to bypass a known `Cypress.fixture` issue documented here: https://github.com/cypress-io/cypress/issues/3138
[code]
Now in v4, since the `Cypress.fixture` line is built into the behaviour of the `attachFile` function (https://github.com/cypress-io/cypress/issues/3138), I am seeing that the uploaded file is

[2020-03-24 10:02] abramenal commented on #174
Hi @vkhalikov
Thanks for submitting the issue!

It could be related to this line
https://github.com/abramenal/cypress-file-upload/blob/master/src/helpers/attachFileToElement.js#L30

Let me look into and get back with the fix.

[2020-03-24 10:10] abramenal commented on #175
Hi @sanduteo95
Thanks for submitting the issue!

Good catch, didn't know about that workaround.
Will let you know once this is fixed. If I'll get more issue with other fixture types I'll consider keeping original complex API as well.

[2020-03-24 11:34] nerfologist opened #176 "[Bug] Uploading a video file to a Filestack filepicker"
### Current behavior:
In `cypress-file-upload` v3 I could successfully set an mp4 video file in a [Filestack filepicker](https://github.com/filestack/filestack-react) reading the fixtures in `base64` encoding with the following code:
[code]

I cannot do this in v4 due to `.fixture` being integrated into the `attachFile` command. The following code is not working:

[code]
### Desired behavior:
I wo

[2020-03-24 15:32] dotwork opened #177 "[Bug] attachFile results in corrupted Microsoft Word file"
### Current behavior:
I'm having a problem with `attachFile`. When uploading a valid docx file, it works on my test server if I do it manually, but when cypress does it, I get an error about it being corrupted from the server-side software that ingests it. I've tried various encodings, as well as no encoding.

Here is the file in question:
[valid_minimal.docx](https://github.com/abramenal/cypress-

[2020-03-24 16:36] Regnander commented on #167
I ran `npm update` to update to version 4.0.3.

Property 'attachFile' does not exist on type 'Chainable<JQuery<HTMLElement>>'.

![image](https://user-images.githubusercontent.com/17113053/77447364-e2ecc300-6def-11ea-81b0-03144fdb3eeb.png)

[2020-03-27 02:08] reallyusefulengine opened #178 "cant upload image via firefoxe using Cypress"
I am trying to upload an image via cypress. The file upload seems to work with chrome but not with Firefox. The code is as follows:

    it.only('should prevent the user uploading file greater than 1mb', function() {
        cy.visit(locationSettingsPage, {failOnStatusCode: false})
        const fileName = 'heropanel.jpeg';
        cy.fixture('heropanel.jpeg', 'base64').then(fileContent => {

[2020-03-29 22:08] archfz commented on #174
We need to somehow create the file with the dom File constructor maybe using cy.window().then(w => w.File)?

[2020-03-31 06:23] hallowcard13 opened #179 "File is not present [Bug]"
### Current behavior:

### Desired behavior:

I have installed this package and followed the instruction how to use it, it will fill the input element with the file but when i submit my form, the file isn't there.
### Steps to reproduce: (app code and test code)
 cy.get('#favicon').attachFile(logo)

### Versions

4.2.0, macOS Mojave, Google chrome

[2020-03-31 06:24] hallowcard13 commented on #179
I have tried my app manuallu filling up the form and its working fine  so i dont know what i'm doing wrong on cypress with this package installed

[2020-03-31 06:49] hallowcard13 commented on #179
Update, it does not work on chrome 80 but works on firefox 75 beta

[2020-03-31 09:10] sanduteo95 commented on #175
Hi @abramenal, do you have an ETA for this fix?

[2020-03-31 17:17] paul-grimmer opened #180 "[Bug] Can't override file name using attachFile"
### Current behavior:

In v3, you could change the name of the file being loaded from the fixture like so:
[code]
This was useful for us as our application validates that Filenames are Unique. Replacing the filename allowed us to get around this limitation.

The New attachFile function does not accept a parameter for the filename. Meaning that we're stuck with the name of the file on the disk.

##

[2020-03-31 20:38] dotwork commented on #177
A bit more info...

When I read the file it is 18595 bytes, but when Cypress uploads, it has 31383 so for some reason it is almost doubling the length of the content. It has the same number of bytes for binary and base64 encodings, as well as with no provided encoding.

[2020-03-31 20:50] dotwork commented on #177
And a bit more info...
My boss ran a small file through it and compared the bytes to the original. It seems the one that went through cypress is filled with `EF BF BD` which is the dreaded question mark symbol:
https://apps.timwhitlock.info/unicode/inspect?s=%EF%BF%BD

![image (18)](https://user-images.githubusercontent.com/10385611/78073726-0d49fd80-7367-11ea-9c37-fd2f9e723aca.png)

That explains

[2020-04-01 03:23] bestKY commented on #180
In V3, the file rename is very useful for me, too.
I can upload the same file, but different filename, for mt e2e test.
I also hope to the V4 can has this feature as V3. Thanks.

[2020-04-01 18:52] cooleiwhistles commented on #179
I am seeing the same issue here, using Chrome 80. It runs without errors and is picking up the correct file to attach, but nothing is seen in the UI input, and the submission is still disabled.

[2020-04-02 13:50] Regnander commented on #167
I meant 4.0.4. :unamused:

[2020-04-02 14:35] knotthere commented on #180
I too rely on being able to rename the file, so I'll wait for that before moving to v4.

[2020-04-03 08:49] yonigibbs opened #181 "Upload broken on Chrome with Elm in version 4.0.4 of cypress-file-upload"
Hey @abramenal, remember issue #138 which you fixed a while back? It seems it's been reintroduced, but only on Chrome and Electron from what I can see (works fine on FireFox - haven't tried Edge). I've updated the repository I created for the original issue, and added a new branch, where you can see the issue: https://github.com/yonigibbs/elm-drag-drop-cypress/tree/cypress-file-upload-4.0.4. The i

[2020-04-03 12:18] yonigibbs opened #182 "Duplicate definition of Chainable interface in index.d.ts"
The `Chainable` interface seems to be declared twice in `index.d.ts`: https://github.com/abramenal/cypress-file-upload/blob/master/types/index.d.ts#L16-L33. This is showing up as TypeScript compilation warning, both when viewing this file, and also if I declare my own `Chainable` interface and add methods to it. I think the cause is possibly the fact that the same type exists twice in `index.d.ts`

[2020-04-06 08:31] Mitchnsun opened #183 "[Bug] Cannot read property stream of null"
### Current behavior:
I tried to test the upload of a CSV file. Front side, I use [CSV-file-validator](https://github.com/shystruk/csv-file-validator) to read and validate my file. But I have a parsing error (see below, cannot read stream of null) that I do not have outside of cypress.
During cypress test, I can console.log `file` (see code below) and cannot see a difference between in cypress or

[2020-04-07 09:24] Mitchnsun commented on #183
I may find something, in PapaParse they have this condition: `if ((global.File && _input instanceof File) || _input instanceof Object)` (l.246) `_input` is my `file` in this case.

**But** in cypress my `file` is not an instance of _File_ nor _Object_, that's why it cannot parse it.
It seems that cypress-file-upload generate a file with a type `object` not `Object` or `File`

[2020-04-08 11:25] Mitchnsun commented on #183
I create a repo to reproduce easily the issue: https://github.com/Mitchnsun/bug-cypress-csv-upload

I am not sure if the issue comes from cypress-file-upload or from Cypress and how they create a Blob/File.

[2020-04-08 20:10] stevenmusumeche commented on #179
Same issue here, the form appears as if the file was attached, but the uploaded File object is empty.

[2020-04-09 12:40] abramenal commented on #183
Hi, thanks for submitting the issue!

Right now I am not able to take a look into the issue properly.
In the meantime, I can suggest to check if the issue exist in v3 (previous major version):
https://github.com/abramenal/cypress-file-upload/tree/v3.5.3
Sorry about that. Not sure I can provide ETA on solving this issue in v4 since I am the only one contributor and maintainer. If you have ideas on

[2020-04-09 12:40] abramenal commented on #182
Hi, thanks for submitting the issue!

Right now I am not able to take a look into the issue properly.
In the meantime, I can suggest to check if the issue exist in v3 (previous major version):
https://github.com/abramenal/cypress-file-upload/tree/v3.5.3
Sorry about that. Not sure I can provide ETA on solving this issue in v4 since I am the only one contributor and maintainer. If you have ideas on

[2020-04-09 12:41] abramenal commented on #181
Hi @yonigibbs

Right now I am not able to take a look into the issue properly.
In the meantime, please use v3 where it was fixed.
Sorry about that. Not sure I can provide ETA on solving this issue in v4 since I am the only one contributor and maintainer. If you have ideas on fixing that, please feel free to open Pull Request and we can review it together.

Thanks for understanding.

[2020-04-09 12:41] abramenal commented on #180
Hi, thanks for submitting the issue!

Right now I am not able to take a look into the issue properly.
In the meantime, I can suggest to check if the issue exist in v3 (previous major version):
https://github.com/abramenal/cypress-file-upload/tree/v3.5.3
Sorry about that. Not sure I can provide ETA on solving this issue in v4 since I am the only one contributor and maintainer. If you have ideas on

[2020-04-09 12:44] abramenal commented on #179
Hi, thanks for submitting the issue!

Right now I am not able to take a look into the issue properly.
In the meantime, I can suggest to check if the issue exist in v3 (previous major version):
https://github.com/abramenal/cypress-file-upload/tree/v3.5.3
Sorry about that. Not sure I can provide ETA on solving this issue in v4 since I am the only one contributor and maintainer. If you have ideas on

[2020-04-09 12:45] abramenal commented on #177
Hi, thanks for submitting the issue!

Right now I am not able to take a look into the issue properly.
In the meantime, I can suggest to check if the issue exist in v3 (previous major version):
https://github.com/abramenal/cypress-file-upload/tree/v3.5.3
Sorry about that. Not sure I can provide ETA on solving this issue in v4 since I am the only one contributor and maintainer. If you have ideas on

[2020-04-09 12:45] abramenal commented on #176
v

[2020-04-09 12:46] abramenal commented on #174
Right now I am not able to take a look into the issue properly.
In the meantime, I can suggest to check if the issue exist in v3 (previous major version):
https://github.com/abramenal/cypress-file-upload/tree/v3.5.3
Sorry about that. Not sure I can provide ETA on solving this issue in v4 since I am the only one contributor and maintainer. If you have ideas on fixing that, please feel free to open

[2020-04-09 12:54] nerfologist commented on #176
Hello @abramenal and thanks for responding. No problem about the ETA, I am still using v3.5.3 and it works just fine for my use case. I just wanted to report the issue in case it affected anyone else.

In version **3.5.3** I am able to populate a Filestack filepicker, as described in the original issue, using the following code:
[code]
It is currently not working in **v4** with the new `attachFile

[2020-04-09 13:33] vkhalikov commented on #174
Yeah, no problem. I didn't encounter the problem on v3.5.3.
Probably will try to find a solution in the while.

Thank you for your work.

[2020-04-09 14:56] stevenmusumeche commented on #179
@abramenal I understand.  The issue does not exist in 3.5.3 (it works there).

[2020-04-09 16:02] dotwork commented on #177
It does not exist in version 3 and that is what our company is using for
now. We are hoping to move from Robot Framework to Cypress for all our
functional testing, but we need to have firefox support before we can do
that. We will consider looking into it and submitting a PR if we can
resolve it, but I am not sure when (or if) that might be. Thank you!

On Thu, Apr 9, 2020 at 7:45 AM abramenal <no

[2020-04-09 23:00] jdcl32 commented on #180
I have submitted a PR fixing this and other issues: https://github.com/abramenal/cypress-file-upload/pull/184

[2020-04-09 23:00] jdcl32 commented on #174
I have submitted a PR fixing this and other issues: https://github.com/abramenal/cypress-file-upload/pull/184

[2020-04-09 23:04] jdcl32 commented on #175
I have a similar flow to this one but using `wsdl` and `spss` files, I have submitted a PR that allow us to keep the workaround: https://github.com/abramenal/cypress-file-upload/pull/184

[2020-04-09 23:08] jdcl32 commented on #183
this is the same issue as https://github.com/abramenal/cypress-file-upload/issues/174, that can be fixed by: https://github.com/abramenal/cypress-file-upload/pull/184

[2020-04-09 23:10] jdcl32 commented on #181
it seems this can be solved by: https://github.com/abramenal/cypress-file-upload/pull/184

[2020-04-09 23:12] vkhalikov commented on #174
Oh, that's cool. Thank you very much.

[2020-04-09 23:16] jdcl32 commented on #176
this can be fixed by: https://github.com/abramenal/cypress-file-upload/pull/184

[2020-04-10 07:48] Mitchnsun commented on #183
Thanks @abramenal for your answer, I tried with the v3.5.2 and the issue doesn't exist on this version.
Thanks @jdcl32 for the PR

I will work with the 3.5.2 until the @jdcl32 's PR will be merged

[2020-04-10 07:51] yonigibbs commented on #181
Hey @abramenal, that's no problem at all. Totally understand, and no rush at from my point of view. Looks like there's a PR already submitted for this (thanks @jdcl32!) so I'm happy to hang off till hopefully this can be merged at some point.  Thanks!

[2020-04-10 10:31] yonigibbs commented on #182
No worries at all @abramenal. This isn't a big deal, really. Shows up as a compilation problem in my IDE, but doesn't actually stop anything working/building. For the moment I've downgraded to 3.5.3 as you suggested on your readme.

In terms of a PR for this issue, from what I can see, that duplicate definition simply needs to be removed, in other words [these lines](https://github.com/abramenal/c

[2020-04-10 11:36] narinepoghosyan commented on #156
Thanks @abramenal,
I tried it, I still have the same issue

[2020-04-10 16:21] abramenal commented on #167
Can someone check that in `v4.0.5`?
If that still does not work properly, I am asking your help to make proper change in https://github.com/abramenal/cypress-file-upload/blob/master/types/index.d.ts

[2020-04-10 16:22] abramenal commented on #182
@yonigibbs that's a good point, I was just trying to fix the thing I am completely not aware of 🤣
In `v4.0.5` there's a change of that, so it could work now
jfyi: https://github.com/abramenal/cypress-file-upload/issues/167#issuecomment-612105166

[2020-04-10 16:24] abramenal commented on #181
@yonigibbs can you please check whether it is fixed in `v4.0.5`?

[2020-04-10 16:25] abramenal commented on #180
A change of @jdcl32 is released in `v4.0.5` so please take a look and let us know if something isn't working still.

[2020-04-10 16:25] abramenal commented on #175
A change of @jdcl32 is released in v4.0.5 so please take a look and let us know if something isn't working still.

[2020-04-10 16:26] abramenal commented on #174
A change of @jdcl32 is released in v4.0.5 so please take a look and let us know if something isn't working still.

[2020-04-10 17:14] yonigibbs commented on #181
Unfortunately it seems like the new version doesn't resolve this issue, at least on my system. I'm on Ubuntu 18.0.4 with Chrome 81. The repo I linked at the top can be used to demonstrate this (just update the dependency from 4.0.4 to 4.0.5).  Sorry :-(

[2020-04-10 18:12] yonigibbs commented on #167
I've tried v4.0.5 in both IntelliJ and VSCode and both highlight the same problem with the `Chainable` interface defined in `cypress-file-upload`: it's declared twice, with a different generic type parameter in each one (see #182). The IDE warning can be seen by opening `index.d.ts` in the `node_modules/cypress-file-upload` folder. I believe this duplication, which has been in the code in a couple

[2020-04-12 00:27] jdcl32 commented on #181
@yonigibbs I see were the issue is and is easily fixed see this PR for the fix: https://github.com/abramenal/cypress-file-upload/pull/187

[2020-04-12 09:06] abramenal commented on #181
just release with `v4.0.6`

[2020-04-13 07:39] yonigibbs commented on #181
Excellent! Just tested with the new v4.0.6 release from yesterday and can confirm it now works.

Thanks very much @jdcl32 and @abramenal!

[2020-04-13 07:39] #181 closed

[2020-04-13 07:40] yonigibbs commented on #182
The duplicate definition was removed in PR #187 and I can confirm this issue is now resolved in v4.0.6 (it was still a problem in v4.0.5).

Thanks again @jdcl32! 👍

[2020-04-13 07:40] #182 closed

[2020-04-13 07:43] yonigibbs commented on #167
Excellent, looks like I don't need to bother with the PR, as @jdcl32 included the fix mentioned above in PR #187. I've confirmed that v4.0.6 no longer shows the issues mentioned above on my system.

@abramenal, as far as I can see this issue can now be closed again, but like I said I've never been able to replicate the v3.5.3 problem so maybe there's something slightly different in my setup.

Than

[2020-04-13 14:45] peterkrieg commented on #167
Unfortunately, I'm still seeing this error, with upgrading to `cypress-file-upload` 4.0.6:   `Property 'attachFile' does not exist on type 'Chainable<JQuery<HTMLElement>>'`

I'll try and dig into what's going on later!  Weird because if I just copy the same declaration into my `support/index.d.ts` (cypress local types) it doesn't have the error.   🤔

[2020-04-13 14:48] yonigibbs commented on #167
@peterkrieg, do you have a public repo somewhere I can look at to replicate this? Just wondering if I can compare it to my seemingly working one and hopefully get a clue to what's going on.

[2020-04-13 21:30] peterkrieg commented on #167
Unfortunately don't have anything public since it's code at work.  But I'll try and put together a minimum reproducible example!

[2020-04-14 14:26] nerfologist commented on #176
This is now fixed in **v4.0.6**. Thanks for all your work @jdcl32 and @abramenal!

Example code (working):
[code]

[2020-04-14 14:26] #176 closed

[2020-04-15 11:37] vkhalikov commented on #174
Looks like it works. Thank you again for your fix @jdcl32.

[2020-04-15 11:37] #174 closed

[2020-04-15 11:44] Anahkiasen commented on #175
@abramenal I just tried with 4.0.6 and I still get `[Object object]` unfortunately

[2020-04-15 20:59] abramenal commented on #183
Hi @Mitchnsun can you please check that again in v4.0.5?

[2020-04-15 20:59] #180 closed

[2020-04-15 21:00] abramenal commented on #178
Hi @reallyusefulengine
Cross-browser support was introduced in v4, can you please check out latest API and let me know if that works in `v4.0.5`?
Thanks±

[2020-04-16 15:06] Mitchnsun commented on #183
It works fine now with the v4.0.5 !
Thank you

[2020-04-20 03:31] hallowcard13 commented on #179
@abramenal i would love to contribute to resolve this issue. The problem is that i don't know what to do next after i fork the this repo, can you give me some guidelines ?

[2020-04-20 21:04] Meenakshi2018 opened #188 "xlsx file upload test fails due to dragleave trigger failure"
### Current behavior:

I'm trying to upload an xlsx file using drag-n-drop, the `dragenter` and `drop` triggers work fine, however, `dragleave` fails due to the error `element is detached from the DOM`.

Since, `drop` works the file gets uploaded, but the test fails due to the trigger failure.

[code]

It doesn't work with cypress-file-upload 3.4.0, 3.5.3 versions for chrome, Firefox, electron, ed

[2020-04-23 08:29] LouiseReid opened #189 "Upload image to filestack"
I'm trying to upload an image to a file stack drag and drop area. This is my code

[code]
but I get the error

[code]

This creates no errors but doesn't attach the file

[code]

Can someone explain what I'm doing wrong here?

Thanks

[2020-04-27 00:01] konni2020 opened #190 "Lost code intelliSense for jest after installed in a project with `@vue/cli-plugin-e2e-cypress` package"
### Current behavior:

I have a vue project generated by vue-cli, I installed cypress-file-upload, then the code intelliSense  for jest inside VSCode disappeared. If I uninstall `@vue/cli-plugin-e2e-cypress`, the  code IntelliSense will appear again.

One thing I found is that when I hover `expect ()`, it shows
[code]
but after I removing `@vue/cli-plugin-e2e-cypress`,  hover `expect ()` will show

[2020-04-30 10:27] jessielaf opened #191 "MP3 Upload is not working"
### Current behavior:

The file is not processed correctly resulting in the uploaded file not being the same as the original

### Desired behavior:

The file is uploaded with the right encoded data. I have a bell.mp3 and I added it to `cypress/fixtures`. Next up I installed `cypress-file-upload` version `4.0.4` and passed the fixture path. Looking like this:
[code]

I also tried version `3.5.3` :

[2020-05-02 11:40] #178 closed

[2020-05-06 14:49] cooperisduhace opened #192 "pdf upload is blank, DOCX and DOC are corrupted on v3.5.3 onwards"
Hi!

We are looking into using cypress for our automation needs and one of our features include uploading files varying from pngs, pdf, and documents. As I tried to do this with my code(to be posted below), All files were uploaded using your library BUT it seems pdf, docx and doc were corrupted. pdf file was all white while docx and doc were corrupted as a file. Below is my code below

` // Login

[2020-05-07 19:07] craig-dae opened #193 "[Bug] Not working with TypeScript"
### Current behavior:

Added `import 'cypress-file-upload';` to my `commands.ts`

Get this when I run it:
`cy.getByAria(...).attachFile is not a function`

(Note that `getByAria` is a command that I've written. )

I've also tried adding this to `index.d.ts`:

`attachFile(fixture: string, processingOpts: any): Chainable<Element>;`

### Desired behavior:

Works

### Versions

Cypress: 4.5.0
cypress-

[2020-05-17 23:47] jsk95 commented on #193
Does your `getByAria` return a Chainable<Subject>>?

[2020-05-18 13:35] craig-dae commented on #193
Yes. I use it all the time. It's just
`Cypress.Commands.add('getByAria', (label) => cy.get(`[aria-label="${label}"]`));`

We use it to force ourselves to add aria labels to everything that a user would need to interface with.

[2020-05-18 23:33] ajfranzoia commented on #193
@craig-dae I've fixed this issue by adding `cypress-file-upload` to my ts config file. E.g.: `"types": ["cypress", "cypress-file-upload"]`

[2020-05-19 00:44] rafaelyates opened #196 "[Feature] Include timeout parameter"
### Current behavior:

Currently it relies onto Cypress's default timeout (4000 milliseconds)

### Desired behavior:

To be able to configure the timeout

### Versions

~3.6.1

[2020-05-19 04:34] AkramPasha opened #197 "Cypress:Not able to upload a PDF file whose type is "text" and the attachment button is of tag img"
Hi,

I am trying to upload a pdf file using cypress-file-upload. where the HTML code is of not type 'file' it's 'text'

i have tried with following code for uploading the pdf file .

cy.get("input[placeholder='No Files selected']").invoke('attr', 'type', 'file')
 const fileName = "sample.pdf"   // pdf is saved under fixture folder
 cy.fixture(fileName).then(fileContent => {
   cy.get('[type="file"

[2020-05-19 13:23] craig-dae commented on #193
I think the issue was my version number. Seems to be working now. Thanks for your help!

[2020-05-19 13:23] #193 closed

[2020-05-19 15:02] cooperisduhace commented on #192
Hi I filed this issue weeks ago and still no reply while other issues have been looked at.

[2020-05-25 13:17] abramenal commented on #196
Hi @rafaelyates
Thanks for submitting the issue, that is definitely a thing to do.
Will you be able to help with implementing that? I have a working example in another repo as a reference: https://github.com/abramenal/cypress-shadow-dom/blob/master/src/commands/shadowGet/command.js

[2020-05-25 13:20] abramenal commented on #197
Hi @AkramPasha
Thanks for submitting the issue.
I do not see how exactly you want to upload a file into text-based input – it should be originally file input so the browser will handle file contents properly.

Please check out this [html5 input recipe](https://github.com/abramenal/cypress-file-upload/tree/master/recipes/react-html5-input), that should help I think.

Feel free to re-open in case of

[2020-05-25 13:20] #197 closed

[2020-05-25 13:24] abramenal commented on #192
Hi @cooperisduhace
Thanks for submitting the issue! Sincere apologies for not having a look at it since I am the only main contributor to the repo.

As for the issue, I remember same stuff reproducible for XLS, and fix for that was using `encoding: 'binary'`. Can you please try setting that explicitly? If that works, I'll update the plugin internals to support it out of the box.

[2020-05-25 13:25] abramenal commented on #191
Hi @jessielaf
Thanks for submitting the issue!

I think for the audio files you need to use `encoding: 'binary'` explicitly? Can you please try this out? If it'll work, I'll update plugin internals to support that out of the box.

[2020-05-25 13:29] abramenal commented on #188
Hi @Meenakshi2018
Thanks for submitting the issue!
Nice catch, updated source code to handle that.

[2020-05-25 13:30] #183 closed

[2020-05-25 13:33] #188 closed

[2020-05-25 13:37] abramenal commented on #192
As for PDF, please see related comment
https://github.com/abramenal/cypress-file-upload/issues/117#issuecomment-546696082
Is that relevant for your case?

[2020-05-25 13:39] abramenal commented on #177
@dotwork did you use same encoding in v3? I think it should be `binary` for any version

[2020-05-25 13:46] #191 closed

[2020-05-25 13:48] abramenal commented on #179
can someone setup reproducible example repo so I can take a look?

[2020-05-25 13:50] #175 closed

[2020-05-25 13:54] abramenal commented on #175
Just released the fix

[2020-05-26 05:42] AkramPasha opened #201 "Cypress:Not able to upload a PDF file whose type is "text" and the attachment button is of tag img"
Hi @AkramPasha
Thanks for submitting the issue.
I do not see how exactly you want to upload a file into text-based input – it should be originally file input so the browser will handle file contents properly.

Please check out this [html5 input recipe](https://github.com/abramenal/cypress-file-upload/tree/master/recipes/react-html5-input), that should help I think.

Feel free to re-open in case of

[2020-05-26 05:44] AkramPasha commented on #201
Hi @abramenal,

Thank you for the reply.

but in my case i need to attach a pdf file.

![image](https://user-images.githubusercontent.com/17572477/82863867-d9dbb780-9f40-11ea-
9439-420ea2f72014.png)

in which the attachment button is of image tag not "input" tag.
under the image tag there is no type attribute present

please find the below html code for attachment image.

<img src="/static/media/a

[2020-05-26 08:48] MingruiZhang commented on #141
@abramenal Any timeline on when this will happen? We would love to see this feature happen!

[2020-05-26 08:55] abramenal commented on #141
Hey @MingruiZhang
Thanks for feedback!

I am not sure which value is expected for `webkitRelativePath ` – please suggest. Otherwise it can roughly be taken from the command arguments.
For this simple solution I would expect having it by the end of this week. Are you using v4?

cc @endymonium @artemgurzhii

[2020-05-26 13:55] dotwork commented on #177
Yes, I have tried it with `binary` as well. I just happened to copy/paste the version where I was trying out `base64` when I created the ticket. I have tried again with `binary` just now and confirmed again that this issue still exists and the new functionality is still corrupting files. Do you want to re-open this ticket? Should I submit a new one?

[2020-05-26 14:01] abramenal commented on #177
Okay, let's keep this issue then.
For a bit of context, the plugin does not modify file contents in any way. I suppose the problem will be fixed with using proper file encoding. Let me get back to this by the end of the week, I'm just not sure how to test that properly.

So you're saying you used 'base64' encoding in v3 and it worked correctly, right?

[2020-05-26 14:10] abramenal commented on #201
Hi @AkramPasha
I get your setup. You should use either a valid HTML5 file input control or a 3rd-party component that handles file attach events internally.

That means this clip image you're referencing is not an actual element file will be attached to (even if you click there). I suggest checking what event handlers do you have in the application (likely it will be something like onchange/ondrop

[2020-05-26 14:10] #201 closed

[2020-05-26 14:15] abramenal commented on #190
Hi @konni2020
Thanks for submitting the issue!
To be honest, I have no idea how this can affect IntelliSense stuff..
The only side thing except actual code that happens here is extending Cypress types with this code:
https://github.com/abramenal/cypress-file-upload/blob/master/types/index.d.ts
but still I am not sure this can affect IntelliSense.

[2020-05-26 14:17] abramenal commented on #189
Hi @LouiseReid
Thanks for submitting the issue!
For your last code snippet – it looks correct with only one note – you're likely using drag-n-drop component instead of plain HTML5 file input. Thus, please use `subjectType` set to `'drag-n-drop'`, as provided in README docs and example recipes.

[2020-05-26 14:17] #189 closed

[2020-05-26 15:08] dotwork commented on #177
We are using `v3.5.3` in our `master` branch, and yes we are using `base64` encoding for these tests in Chrome and they all work great, testing .docx, .epub, .rft, .odt, .jpg, .zip. When I use `binary` in version 3 instead I get the error `Failed to execute 'atob' on 'Window': The string to be decoded is not correctly encoded.`.

As far as testing, I should think that if you upload a docx file, an

[2020-05-26 21:27] UncleGus opened #202 "[Feature] Update the readme with instructions on how to add the attachFile command to typescript intellisense"
### Current behavior:

When using the `.attachFile()` command, intellisense doesn't recognise it and underlines it red.

### Desired behavior:

Intellisense should recognise the command. This can be achieved by adding the command to `index.d.ts` in the `cypress/support` folder. More details in the Cypess custom commands documentation.

### Versions

N/A

[2020-05-27 14:36] konni2020 commented on #190
Hi @abramenal , thanks for taking the time to reply.
I'm sorry that the reason may not because this package, this [answer](https://stackoverflow.com/a/61838153) solved my issue.

[2020-05-27 14:36] #190 closed

[2020-05-27 21:10] HartiganHM opened #203 "Allow uploading of multiple files outside of chaining `attachFile`"
### Current behavior:

Users are able to upload multiple files by chaining `attachFile` methods.

**Example from docs**
[code]

### Desired behavior:

The above behavior assumes a static number of known files and removes flexibility from previous versions of passing an array of files. It would be nice to have this feature re-implemented in some way.

**Example with old implementation (trimmed down

[2020-05-28 00:07] SonaliAvaya commented on #154
I know this is closed bug but still find the same issue on firefox browser
Upload a file is not working on firefox but its working on chrome and electron.
its not giving any error but file is not uploading as well
Using
"cypress": "^4.7.0",
"cypress-file-upload": "^4.0.0"

[2020-05-28 05:43] AkramPasha commented on #201
Hi @abramenal ,

On clicking the image element is the one that will open the window pop-up for uploading the file.

if i select cy.get('[alt="upload file"]').attachFile().

[2020-05-28 11:35] jessielaf commented on #191
Yes you are right! Changing the encoding to binary worked. Thanks!

[2020-05-29 14:14] abramenal commented on #154
@SonaliAvaya can you please do the following:
- check your setup with latest plugin version (v4.0.7 as of now)
- if that is not working, please check out the usage examples in README or complete setups in recipes folder
-  if that is not working still, please create a new issue and describe more specifically your setup, issue so I can work on that

Right now in auto tests suite I execute tests aga

[2020-05-29 14:15] abramenal commented on #201
@AkramPasha like I said, clicking on image element does not mean it will be the destination of actual file attach

[2020-06-01 22:52] RuslanOmurbekov commented on #74
Hello everyone,
 I am facing the same issue and trying to use the code above. However i am getting an error on upload , Property 'upload' does not exist on type 'Chainable<Document, any>'.  Do you have any suggestions on what i have to change ?
Thanks

[2020-06-02 05:49] abramenal commented on #74
Hi @RuslanOmurbekov
Which version are you using for both packages?

[2020-06-02 13:42] RuslanOmurbekov commented on #74
Hi @abramenal  I guess i am using the latest versions.
"cypress-file-upload": "^4.0.7"
"cypress-shadow-dom": "^1.4.0"

Should i downgrade versions?

[2020-06-02 13:45] abramenal commented on #74
@RuslanOmurbekov nope, the thing is code snippet I gave is actual for cypress-file-upload v3.
If you're using v4, the proper command name is `attachFile` as it is stated in API docs.

[2020-06-02 14:12] RuslanOmurbekov commented on #74
Yes, i am using v4 and i was using 'attachFile'. Actually i figured out , the format of the file wasn't correct.
Anyways, @abramenal thanks  a lot for help!

[2020-06-09 08:17] qstiegler opened #204 "[Bug] Adding multiple files adds them more than once"
### Current behavior:

I have a method which tests the multi file upload of our Angular application. With the package version `3.5.3` it worked perfectly. Now when I updated to `4.0.7`, I got the following issue:

1. Select the first file `pdf-sample-one.pdf`:
    - `pdf-sample-one.pdf` file got attached
    - The result is one file (`pdf-sample-one.pdf`) ready for upload
2. Select the first file

[2020-06-15 13:39] jyteshpunjwani10p opened #205 "[Bug] drag-n-drop not being triggred"
Been using the plugin when function was named as .upload(), after updating to version 4.0.7, its not triggering drag actions

code
[code]

It just passing the whole attachFile function and wait for an element which appears after the upload in done. It never gets the element and hence fails.

I found a previous copy of my tests in which i am running version  "cypress": "^3.5.0" and "cypress-file-up

[2020-06-18 10:50] jyteshpunjwani10p commented on #205
I had this script in my commands.js fileafter commenting it out drag-n-drop worked like a charm

[2020-06-18 10:51] #205 closed

[2020-07-01 10:31] arunkumawat opened #206 "Include suggestion in README file to how to add this plugin in plugins/index.js"
### Current behavior:
New to cypress or E2E. did steps only as mentioned in README.

Running and executing this plugin in development mode works fine. as this NPM package is installed as dev-dependency.

But doesn't work if using inside ci-cd azure pipelines. usign NPM task task: Npm@1,
i guess this needs to register this plugin in plugins/index.js.
Also pipeline passes If i comment out upload fil

[2020-07-06 13:32] scorp-dmitriy commented on #183
For everyone who came here looking for solution, here's a workaround from https://github.com/cypress-io/cypress/issues/933#issuecomment-345554793

[code]

[2020-07-08 11:55] olessavluk opened #207 "[Bug] Extreme memory usage when using large (≥50mb) files"
### Current behavior:

When uploading large files:
 - 50MB memory usage goes up to 3GB usually cause CI to kill process and fail
 - 100MB just fails, see screenshot https://i.imgur.com/Ec2c6ro.png

### Desired behavior:

Memory usage should not be "much larger" than file size

### Steps to reproduce:

Clone [this fork](https://github.com/olessavluk/cypress-file-upload/commit/3d601b188ec79e3f654003

[2020-07-10 07:05] tabcat opened #208 "File lastModified and lastModifiedDate properties are modified"
We are using cypress-file-upload to upload .jpg images. The files being uploaded are having their modified dates changed to the current date, it's important for us that this doesn't happen. Is there anyway to do this?

[2020-07-10 13:37] flignac commented on #156
I have the same issue too and all page where i need to upload a file for a test is impossible with this issue.

[2020-07-22 15:04] eduardovostrofischer opened #209 "[Bug] attachFile does not work with xml encoded files"
Currently trying to upload xml file but i can't make it work.

### Code:
cy.contains('invoice').attachFile({filePath:'invoice.xml', encoding: 'xml'});

### Current behavior:

"file encoding" is not valid.
Please look into docs to find supported "encoding" values

### Desired behavior:
Sucessfully upload file.

[2020-07-23 22:01] akinnee commented on #192
`.pdf` defaults to encoding of `utf-8`. I had to change it to `binary` or else the pages were all blank.

[2020-07-27 16:17] CarlosAmaral commented on #204
I have the same issue. Any workaround for this?

[2020-07-29 07:44] qstiegler commented on #204
I used the old version of the package instead as workaround.

[2020-07-31 22:41] stphnlngdncoding commented on #167
@peterkrieg Any luck here?

[2020-08-01 01:19] stphnlngdncoding commented on #167
I was running in to a problem where my editor (vscode) was recognizing that `.attachFile` was the appropriate command but the cypress test-runner was throwing a type error in the console and in the runner UI.  I noticed that this library contained the appropriate namespace in the library but for some reason it wasn't being recognized.

I had to explicitly include the library in my `tsconfig.json`

[2020-08-03 19:09] tkardos-vintra commented on #177
I am also experiencing the same issue as documented, with a mp4. File size will have nearly doubled upon attachment and the file
 data passed is corrupt. I've passed it with default parameters, also as binary, also as video/mp4.

Cypress 4.9.0
Cypress-file-upload: 4.0.7

Implementation looks like this:

  fileToUpload = fileToUpload + ".mp4";
  cy.fixture(fileToUpload).then((fileContent) => {
  //

[2020-08-04 13:31] IMightGitIt commented on #203
I highly second this.
I have to use multi-upload quite a few times in my testing, and with a various number of files.
Being able to feed an array of files to a central function and have it upload would help me a lot.

[2020-08-05 03:09] yslopezm commented on #69
@abramenal  do you have a solutions? I am facing the same situation.
Thanks in advance.

[2020-08-05 17:12] endymonium commented on #204
Same issue with the most recent versions, I used https://github.com/cypress-io/cypress/issues/170#issuecomment-609395903 as a workaround.

[2020-08-07 07:48] baggasumit opened #210 "[Bug] "Emoji key" link on the Readme file is incorrect."
### Current behavior:

"Emoji key" link on the Readme file is incorrect.

### Desired behavior:

It should point to https://allcontributors.org/docs/en/emoji-key

[2020-08-07 07:52] #210 closed

[2020-08-07 07:53] baggasumit commented on #210
I guess it may have been intentional but it takes two clicks to reach the actual key instead of one.

[2020-08-07 09:08] IMightGitIt commented on #204
ooooh, this was a bug in the library? I have been yelling at FE devs to fix our upload function. 😊
My workaround, for now, is to reload the entire window after each upload.
It's not really pretty but, it does mean I don't have to mess around with old versions.
Once this is fixed I just remove the `cy.reload()` and everything should run faster again.

[2020-08-11 12:53] Ebazhanov opened #212 "[Bug] in README.md `fixtures` -> `fixture`"
### Current behavior:

       Inside [README.md](https://github.com/abramenal/cypress-file-upload/blob/master/README.md) file
      for two blocks we have incorrect name of `fixtures`

![image](https://user-images.githubusercontent.com/13170022/89898251-ab38b900-dbe0-11ea-9e38-3f30bf317dab.png)

### Desired behavior:

       To match requirements we have to use `fixture` instead of `fixtures`

![i

[2020-08-17 07:30] jbpallingayan opened #213 "[Feature]Support for 360 image"
### Current behavior:

PLease support 360 image upload

### Desired behavior:

should able to upload using cypress-file-upload a 360 image

### Versions:
cypress 4.12

[2020-08-18 15:46] Stex commented on #204
Same behaviour here. I reverted to 3.5.3 now until this is fixed.

[2020-08-19 19:19] lvkron7809 opened #214 "File upload failures with new Cypress v5.0.0"
cypress-file-upload plugin working correctly with Cypress v4.11.0 but after updating Cypress to v5.0.0 the file upload functionality fails.

Error: CypressError: `base64StringToBlob()` no longer returns a `Promise`. Update the use of `base64StringToBlob()` to expect a returned `Blob`

![image](https://user-images.githubusercontent.com/45778490/90680917-31c84880-e228-11ea-9725-7b67f85f71ba.png)

[2020-08-20 05:20] jennifer-shehane commented on #214
In 5.0.0, Cypress updated the Blob utility from 1.3.3 to 2.0.2, which itself had a broken change underneath.

The return type of the `Cypress.Blob` methods `arrayBufferToBlob`, `base64StringToBlob`, `binaryStringToBlob`, and `dataURLToBlob` have changed from Promise<Blob> to Blob.

This plugin will need to be updated to reflect this change outlined in our migration guide as well as its documentati

[2020-08-20 06:40] mduft commented on #214
Any way to work around the issue while waiting for an updated release? We're quite heavily relying on this plugin and can't update :D

[2020-08-20 06:45] EtienneBruines commented on #214
@mduft Other than manually patching the changes in #215, there's not a lot that you can do.

We tried manually targeting the PR, but that did not yield any results.

[2020-08-20 11:57] vrknetha commented on #214
By when this can be updated, I am waiting for this to be updated before I upgrade cypress

[2020-08-20 11:59] mduft commented on #214
I tried to test the change, but somehow it does not seem to work for me - still getting the same error message. Maybe cypress devs can help out with some information...

[2020-08-20 13:05] jonstone904 commented on #214
Following, but for what it's worth. Our tests have started to fail as well. However, our tests where we try to upload a PDF document are still passing, but all other doc types fail including (PNG, JPG, DOCX, and XLSX)

[2020-08-20 13:47] bsarel commented on #214
Any workarounds would be great... we need this when uploading XLSX files

[2020-08-20 18:35] jakub-bao commented on #214
Hi, I ran into the same issue today with a slightly different error message:

[code]

A workaround would be great.

[2020-08-20 18:42] jakub-bao commented on #214
This looks like a way for a workaround if you resist downgrading like me :)

[code]

I'm getting `cy.fixtures is not a function` but working on that as well.

[2020-08-20 22:43] SidharthLala1 opened #216 "Unable to upload .xlsx file using file upload plugin"
### I am using file upload plugin to uploag imgages , csv file which works like fine now when i am trying to upload .xlsx file it throwing an error.

![image](https://user-images.githubusercontent.com/33153967/90832634-d69b7080-e363-11ea-8167-4edabdf31086.png)

### Desired behavior:

While using the file upload plugin and using the correct Blob type and mime , i belive i should be able to upload t

[2020-08-24 14:08] craiga commented on #216
Is this a duplicate of (or at least related to) #214 ?

[2020-08-24 15:57] kmichetti commented on #214
cy.fixture singular, no s at the end I think?

[2020-08-25 22:57] caitcif opened #217 "[Bug] Return type of Cypress.Blob changed from Promise to Blob in Cypress 5.0"
### Current behavior:

base64StringToBlob() no longer returns a Promise. Update the use of base64StringToBlob() to expect a returned Blob.Learn more

### Desired behavior:

### Steps to reproduce: (app code and test code)

### Versions

Cypress 5.0

[2020-08-26 04:58] anas-qa commented on #217
@caitcif duplicated with [#214](https://github.com/abramenal/cypress-file-upload/issues/214)

[2020-08-26 10:14] keeema commented on #214
What is the progress of this issue?
I am migrating a quite huge project and this is the last issue I have.

[2020-08-26 10:22] anas-qa commented on #214
@keeema seems will take some time to be fixed as per the above.

I can recommend you to roll-back to `4.12` in case you do not need any of `5.0.0` changelog items

[2020-08-26 10:25] mduft commented on #214
Still waiting for the maintainer to step up and merge and release #215 ...

[2020-08-26 10:37] bbonevPIT commented on #214
any news on this issue? I am experiencing exactly the same problem too with the latest version of cypress.

[2020-08-26 18:58] josephzidell commented on #212
Merged with #211

[2020-08-26 18:58] #212 closed

[2020-08-26 19:20] josephzidell commented on #217
Closing as duplicate of #214

[2020-08-26 19:20] #217 closed

[2020-08-26 19:22] josephzidell commented on #216
@SidharthLala1 Does this work in Cypress v4.12.1?

[2020-08-26 19:34] josephzidell commented on #213
@jbpallingayan Can you include your code, expected and actual results, along with any error messages?

[2020-08-26 19:37] josephzidell commented on #209
@eduardovostrofischer Can you try `utf-8`?

[code]

[2020-08-26 19:45] josephzidell commented on #214
Hey all! After speaking with @abramenal , it seems the best way forward is for another person to become a maintainer on this project. Looking forward to working with you all!

This is my first time being an OSS maintainer, so please be gentle.

There is an open PR and I'm working with the author to get it ready. Thanks for your patience!

[2020-08-26 21:06] josephzidell commented on #208
@tabcat Does this behavior exhibit itself when you upload manually, outside of Cypress?

[2020-08-27 02:55] tabcat commented on #208
Uploading files through the app keeps the files original modification date. app in question: https://github.com/cypsela/sailplane-web

We changed the tests to not check the upload date so they would pass, which has been fine.

[2020-08-27 09:15] abramenal commented on #69
@yslopezm not yet, this needs someone to contribute to since I'm not able to support with that change now

[2020-08-27 13:01] #214 closed

[2020-08-27 14:00] abramenal opened #220 "[Chore] Move CI pipelines to Github Actions"
Current state:

https://github.com/abramenal/cypress-file-upload/blob/master/.circleci/config.yml
https://circleci.com/gh/abramenal/cypress-file-upload

Issue:
Only project creator can have full access to CircleCI pipelines. This can still be shared manually, but ideally any maintainer should automatically be granted to access everything needed.

Desired state:
Any maintainer can have full access

[2020-08-27 15:18] josephzidell opened #222 "[Bug] Cypress 5.0 doesn't like FixtureData object"
### Current behavior:

[code]

### Desired behavior:

The file object uploads

### Steps to reproduce: (app code and test code)

[code]

### Versions

Cypress: 5.0
Operating system: Mac
Browser: Firefox

[2020-08-27 15:29] josephzidell opened #223 "[Chore] Add Cypress 5.0 to CircleCI"
CircleCI needs to run the test suite against both Cypress 4 as well as Cypress 5, since we support both.

[2020-08-27 15:59] josephzidell commented on #216
Alternatively, please test against [`v4.1.0`](https://github.com/abramenal/cypress-file-upload/releases/tag/v4.1.0)

[2020-08-27 18:09] josephzidell commented on #160
@burzum Can this issue be closed?

[2020-08-27 18:13] josephzidell commented on #167
@peterkrieg Have you tried putting this at the top of your file?

[code]

[2020-08-27 20:07] saschwarz commented on #216
My pre-5.0 code for this uses `Cypress.Blob.binaryStringToBlob` and works:

[code]

I don't think .xlsx files are base64 encoded

[2020-08-27 21:29] saschwarz commented on #222
I'm seeing this too with the 4.1.0 version of this plugin.

Looking at the code in the traceback it looks like the `fileContent` is wrapped with a Promise and that triggers the Cypress deprecation:
https://github.com/abramenal/cypress-file-upload/blob/b773da5be776a309f2b8b261911e9bead118869e/lib/file/getFileContent.js#L4

I'm not sure what the solution should be. In my code I ended up doing:
[code

[2020-08-28 06:02] YaroslavMolchan commented on #222
Same problem with Cypress 5.0

[2020-08-28 09:13] mroeling opened #224 "[Bug] Example not correct"
### Current behavior:

According to last example in Readme

    /* when providing fileContent is possible to ignore filePath but fileName and mime type must be provided */

    const special = 'file.spss';
    cy.fixture(special, 'binary')
      .then(Cypress.Blob.binaryStringToBlob)
      .then((fileContent) => {
        cy.get('[data-cy="file-input"]').attachFile({ fileContent, fileName: 'specia

[2020-08-28 14:57] DariaZelenkevich commented on #204
I'm not sure if it can be called a workaround but I've add to the Cypress command.js command based on this package source code:

  Cypress.Commands.add('addFile', (selector, ...fileNamePath) => {

    const dataTransfer = new DataTransfer();

    fileNamePath.forEach(file => {

        cy.fixture(file, 'base64')
        .then(fileData => {
            let blob = Cypress.Blob.base64StringToBlob(fil

[2020-08-28 15:42] danielcaballero commented on #222
https://github.com/abramenal/cypress-file-upload/pull/225

[2020-08-28 16:59] #222 closed

[2020-08-31 21:13] corncobb commented on #167
I tried @stphnlngdncoding and @josephzidell suggestions and neither worked for me unfortunately.

[2020-09-01 17:05] travis-flint commented on #203
This used to work in v 3.4, with cypress 4.3.0, but we updated to cypress 5.0 and the latest version of this library and it no longer works. Some of our tests need to upload more than 1 file all at once. So chaining the call is not a viable option.

[2020-09-03 19:42] Hypercubed commented on #203
I'd be happy to submit a PR for this... but first need to decide on a the API.

Option 1:
Add multiple file support to `attachFile`:
[code]

Option 2:
Add a new command to add mutiple files:
[code]

Option 3: (what I would really like)
Seperate attaching a file and "uploading" (triggering the events):
[code]

[2020-09-04 09:26] abramenal commented on #203
Hi @Hypercubed

Option 1 was used in v3 releases – from my perspective this is better from user experience (single command that accepts anything). You can check v3 docs: https://github.com/abramenal/cypress-file-upload/tree/v3.5.3

Option 2 seems to be a bit easier to support comparing to Option 1, but still fine

Option 3 provides a bit more granular control on what's happening, but requires to h

[2020-09-04 15:25] Hypercubed commented on #203
Yeah... I think #1 is easist and can be done as a non-breaking change.

Regarding #3.  My understanding (please correct me if I'm wrong) is that currently `attachFile` does two things: 1) Adds the file to the file intput element and 2) triggers the event.  My idea was to seperate these to actions.  `attachFile` would add the file to the element and `upload` would trigger the event.  So the state i

[2020-09-04 16:34] abramenal commented on #203
Got your idea 👍
I'm thinking if having 2 different commands still can be frustrating. User can assume `attachFile` can be called independently. We can say that events can be omitted, but when doing e2e we want to simulate real user's behavior as close as possible. This means `attachFile` now should always be followed by `upload` which means they are still indivisible.

[2020-09-04 17:06] Hypercubed commented on #203
:+1:  I have option 1 working and tests added to `recipies/angularjs-ng-file-upload`, PR coming.

With option 1 not sure what to do about #204.

[2020-09-09 14:34] MCFreddie777 commented on #202
Would help a lot.

[2020-09-09 14:42] abramenal commented on #202
Hi @UncleGus @MCFreddie777 did you have a chance to check https://github.com/abramenal/cypress-file-upload/issues/167

`index.d.ts` is currently defined, but for some reason multiple users experience this issue. I'm not sure how exactly it should be fixed

[2020-09-09 16:24] peterkrieg commented on #167
The fix necessary for me (which I just realized, after totally missing before) was to add `cypress-file-upload` into the `types` field of the `tsconfig.json` for cypress.

So, my tsconfig needs the following block in `compilerOptions`:

[code]

This is working for me with latest cypress-file-upload version, `4.1.1`.  Curious if this also works for others in this thread?

[2020-09-09 16:26] peterkrieg commented on #202
@abramenal   I just posted (https://github.com/abramenal/cypress-file-upload/issues/167#issuecomment-689672324)   in that issue (which I think can be closed if the solution works for people).

I'd be happy to make a small PR outlining how to add the `types` to the `tsconfig.json`.  I'm thinking it could be a small blurb similar to how `cypress-testing-library` does it here:  https://github.com/tes

[2020-09-09 21:01] abramenal commented on #202
Hi @peterkrieg
Thanks for this solution! While waiting for someone else's feedback we can work on the PR.
Example that you mentioned is perfect – we can copy both `With TypeScript` and `Intellisense for JavaScript with VS Code` sections and put it between `Installation` and `Usage` too 👍

[2020-09-10 08:55] MCFreddie777 commented on #202
Update:
I tried multiple solutions but only one worked.

Previously I used  typeRoots in my project, so I tried to add it there:

[code]

Using this solution, my IDE (WebStorm) stopped complaining about not existing property, but when I ran the tests, I started getting errors such as `Cannot find type definition file for 'dist'` or `'node_modules'`.

Maybe its worth to mention that I'm running cyp

[2020-09-10 09:24] yonigibbs commented on #167
@peterkrieg, @abramenal: I don't have `cypress-file-upload` explicitly mentioned in `tsconfig.json`: I only have `cypress`. So for my system at least, this wasn't necessary. Glad you at least found a solution, though :-)

[2020-09-10 09:52] MCFreddie777 opened #232 "[Feature] Upload files out of /cypress/fixtures folder"
### Current behavior:

[code]

both result in

[code]

### Desired behavior:

Seems like the package is using `cy.fixture` instead of `cy.readFile` which appends `cypress/fixtures` by default, therefore its impossible to upload file elsewhere than this folder.

### Versions

Cypress: 4.12.1
Chrome: 85
OS: macOS 10.15 Catalina

[2020-09-17 03:46] akashtippa123 opened #233 "Unable to Upload Photos"
i tried to upload photos with this code

it('upload', function() {
const yourFixturePath = 'cypress\fixtures\hd4.jpg';
 cy.get('.upload-button').attachFile(yourFixturePath);
}

it is not working with the above code, I tried an alternative way

cy.fixture('hd4').then((fileContent) => {
            cy.get('.upload-button').attachFile({
               fileContent: fileContent.toString(),

[2020-09-18 09:53] probil commented on #204
@DariaZelenkevich , thanks for this snippet. With few adjustments I've managed to make it work for my project. I don't need cypress-file-upload anymore

[2020-09-18 11:12] DariaZelenkevich commented on #204
@probil , you are welcome. Use it for good)

[2020-09-21 06:57] Buthrakaur commented on #233
@akashtippa123 did you try to use the path without `cypress/fixtures` prefix? I think cypress automatically uses this path so you should provide just file name:

[code]

[2020-09-21 07:03] akashtippa123 commented on #233
yes I tried without the cypress/fixtures prefix, it is not working

[2020-09-22 08:11] Aurangseb opened #234 "[Bug] Regression: Multiple files upload is no more available since 4.0.0"
### Current behavior:

Single file upload with attachFile(). In previous versions upload / uploadFiles was available for multiple file upload

### Desired behavior:

provide attachFiles() in order to be able to migrate code

### Steps to reproduce: (app code and test code)

### Versions

[2020-09-28 13:52] mariuspatrick commented on #233
I also have the same problem, only it's not giving me any errors. Does anyone have a fix for this?
Two weeks when I tried it, it was working.

[2020-09-28 14:16] abramenal commented on #233
It accepts the filename of a file placed in fixtures folder that you want to upload.
So in case you have your `test.png` file put into `cypress/fixtures`, what you should provide into the command is just `test.png`.

[2020-09-28 14:34] mariuspatrick commented on #233
I added the .jpg in the fixtures folder. Then I assign it to a const in my test file, after which I call the .attachFile(variableName)

For some reason, it's not adding the file to the website

[2020-09-28 14:35] abramenal commented on #233
@mariuspatrick is there any error log in console or cypress ui?

[2020-09-28 14:43] mariuspatrick commented on #233
I am using the latest file-uploader version, 4.1.1

There is no error in the cypress ui. The test passes as long as I don't make any assertions to check whether the image is on page, which is strange

[2020-09-28 15:32] mariuspatrick commented on #233
The problem was I was using a cypress recorder and it was selecting the button div, but I needed the input field to upload the file. I used inspect element to find the input field, I selected it and it worked.

[2020-09-28 16:16] akashtippa123 commented on #233
I also inspected input field, and trying to upload image it's not uploaded
for me, I didn't given any error

On Mon, 28 Sep, 2020, 9:02 pm mariuspatrick, <notifications@github.com>
wrote:

[2020-09-28 16:17] akashtippa123 commented on #233
Can you tell me in detail how it works for you

On Mon, 28 Sep, 2020, 9:46 pm Akash Tippa, <akash.tippa@cognitiveclouds.com>
wrote:

[2020-09-28 17:08] akashtippa123 commented on #233
@mariuspatrick  please help me how did you resolve this issue, I am also trying to resolve this from long day

[2020-09-28 17:17] mariuspatrick commented on #233
I will try to explain this in detail, not sure if it will help solve your issue as well

First, I inspected the button element using inspect element in chrome dev tools. My button was inside a div, composed of 2 other elements. One of them was another div and the 2nd element was the actual input data element. I just had to use the 2nd element's selector, which was the input data element, and then

[2020-09-28 18:02] akashtippa123 commented on #233
is your input data element is disabled or enabled?

[2020-10-01 19:07] ismail-codinglab opened #236 "i.getType is not a function"
### Current behavior:

![image](https://user-images.githubusercontent.com/48755937/94850527-574f9100-0427-11eb-940a-a95b40fbb7ba.png)

[code]
### Desired behavior:

Be able to use file without specifying mimetype

### Steps to reproduce: (app code and test code)

I was not able to reproduce it on cypress tiny test

If i add the `mimeType` property it doesn't fail anymore

### Versions

Cypress v5.

[2020-10-09 11:03] 86SUSHIL opened #237 "Unable to see preview for upload document"
I'm able to see  pdf document but getting window pop up to save document with blob link at header
![doc](https://user-images.githubusercontent.com/6176323/95575775-f1798f80-0a4c-11eb-9db7-6d829cf5f2d1.png)

cy.fixture(fileName , "UTF-8").then(fileContent => {
        cy.get('input[type=file]').attachFile({ fileContent, fileName, mimeType: 'application/pdf' }, { subjectType: 'input' });
        cy.

[2020-10-11 15:10] 86SUSHIL commented on #237
if any one can help....

[2020-10-14 01:23] chintan-kablamo commented on #193
to others still seeing this issue after following @ajfranzoia's fix, remember to restart your IDE

[2020-10-14 22:04] karansaini1 commented on #234
When this functionality of uploading multiple files will be added?

[2020-10-15 01:23] kkumarlinz commented on #209
I am having same issue

[2020-10-15 01:58] kkumarlinz commented on #209
Working for me . Here is the code.

cy.fixture("SmallXML_changedToV1_2.xml").then((fileContent) => {
      cy.visit(`/survey/2200927`)
        .login()
        .get('input[type="file"]')
        .attachFile({ fileContent: `${fileContent}` });
    });

[2020-10-15 09:31] abramenal commented on #234
It's currently pending for this PR: https://github.com/abramenal/cypress-file-upload/pull/227
Personally I'm overloaded with job stuff, so would appreciate if someone can also dive into that PR and ensure the implementation passes all existing tests. After that we're free to release it

[2020-10-21 07:19] MohmedEmad commented on #233
@akashtippa123 it's fixed with me by selecting the right input selector from the page, that is it

Thanks @mariuspatrick for your last comment

[2020-10-21 21:53] lamqson commented on #92
@abramenal , I use your code as follow:
[code]
But I got error:
[code]
<img width="798" alt="Screen Shot 2020-10-21 at 2 50 05 PM" src="https://user-images.githubusercontent.com/54222499/96791331-1e169b00-13ad-11eb-84ce-e41af23bec25.png">

Could you help to see what would be the problem? Thanks.

[2020-10-22 13:50] abramenal commented on #92
@lamqson hi there!
Can you please try either using shorthand, or setting encoding explicitly? I'm not sure which one works for you, so please let me know.

shorthand:
[code]

explicitly set encoding value:
[code]

[2020-10-23 07:48] hbuddaraju-CLGX opened #238 "[Bug] .PDF file upload is blank"
Current behavior:
I have uploaded a PDF file and the upload was successful. But when I am trying to view the uploaded PDF document, it remains blank. I have tried uploading the same PDF file manually, its working as expected without any issues.

Desired behavior:
As the document upload was successful and it is having some content, it should not be blank.

Steps to Reproduce:
const fileName = 'test

[2020-10-27 17:02] bluepioupiou opened #239 "[Bug] attachFile doesn't work anymore with cypress 5.3"
### Current behavior:

With cypress 5.3, an error pop with attachFile function that was working before with cypress 4.8. And there is no file really input at the end

![image](https://user-images.githubusercontent.com/3164314/97335385-16a83380-187e-11eb-94a1-263b69df7d62.png)

`(0 , h[e.encoding])(...).then is not a function
C:/Users/abegey/workspace/agence-numerique/node_modules/cypress-file-uplo

[2020-10-29 10:55] ericyahhh commented on #238
I might have a similar problem where uploading a PNG file via 'drag-n-drop' doesn't work (Looks like it's empty/doesn't have a size). Uploading the same file through an 'input' works on the other hand.

[2020-11-02 10:09] hbuddaraju-CLGX commented on #238
@abramenal - Can you please give us an update on this? Is this a defect or is there any workaround for this problem?
Due to this issue our work is on hold from past 10 days. Please give an update as early as possible. Thanks in advance.

[2020-11-02 11:17] ericyahhh commented on #238
We're staying with `3.5.3` for now which seems to work with Cypress `5.5.0` as well 👍

[2020-11-04 05:51] hbuddaraju-CLGX commented on #238
@ericyahhh
I tried with Cypress 3.5.0 and 5.5.0 , still facing the same issue.

[2020-11-11 11:11] geyuqiu commented on #239
I tried `npm i` and it looks again after version update ;)

[2020-11-11 12:24] Hulkmaster opened #240 "[Bug] Wrong content-length with `binary` encoding"
### Description:

We have image upload test, which was working on cypress 5.2.0, now we decided to upgrade to 5.6.0, and we started to have error

(prev usage)
`.attachFile('image/10kb-image.jpg')`

(also not working)
[code]

(hack usage - works)
[code]

with default/binary usage
`Content-Length: 10203`

with ascii usage
`Content-Length: 10204`

So our backend responses with 422, because content l

[2020-11-11 12:47] Hulkmaster commented on #240
also doesn't seem to be Cypress bug 🤔

[code]

[code]

[2020-11-11 13:45] Hulkmaster commented on #240
okay, seems like its `route2` doing something during intercepting

works
`cy.server().route('POST', '...').as('avatar');`

does not work
`cy.route2('POST', '...').as('avatar');`

[2020-11-11 13:45] #240 closed

[2020-11-13 12:10] pcouas opened #241 "global install"
Hi

I have tried an npm install -g cypress-file-upload because cypress is installed on global, but module is not found

Regards

[2020-11-13 15:19] dionisoros commented on #98
I have the same issue. I'm using a button like

[code]

but can't test it using cypress. Do you have any other solutions?

[2020-11-16 22:23] RadwaSaleh commented on #122
I have the same issue I'm using latest version of Cypress, also want to double check what should be the value of fileContent?

[2020-11-17 07:56] abramenal commented on #122
@RadwaSaleh it should be a resulting value from `cy.fixture`

[2020-11-19 01:53] spragya commented on #177
I am seeing same issue with mp4 file upload. After upload file was corrupt . jpg and .pdf  upload works fine.

[2020-11-20 10:01] abramenal commented on #241
Hi @pcouas
which module isn't found? Can you please share more details/stacktrace/etc?

I don't think you need to install this package globally in any case

[2020-11-26 17:02] EsterfanoLopes commented on #239
I'm getting same error/problem with cypress 6.0

[2020-11-27 11:08] zecarrera opened #242 "[Bug] [documentation] Readme's usage session should mention that index.js also needs to import commands.js"
### Current behavior:

The following error is shown if you change command.js but don't change index.js
     TypeError: cy.get(...).attachFile is not a function

As a first time user of cypress, I just followed the instructions here, and therefore the added commands were not loaded.

### Desired behavior:

Under usage section of readme. Add the following line or similar:

Make sure that the followi

[2020-12-02 13:32] anonkey commented on #204
this seems to fix it https://github.com/abramenal/cypress-file-upload/pull/243

[2020-12-03 11:07] hbuddaraju-CLGX commented on #238
@abramenal - Hi, I have raised this issue long back but still there is no response. I got stuck in the middle of automation due to this issue. I have to inform my team on the status. Please suggest a workaround to solve this issue.

[2020-12-03 12:01] abramenal commented on #238
Hi @hbuddaraju-CLGX, thanks for submitting the issue. I recall it was indeed introduced in v4, so should work with v3.5.3, as @ericyahhh mentioned (thanks btw 👍 ).
So at the moment I think this is the only thing I can suggest. Otherwise feel free to take a look what's missing in current implementation ;)

[2020-12-04 09:45] hbuddaraju-CLGX commented on #238
@abramenal, Thanks! will look into it.

[2020-12-07 10:17] jerdaane commented on #177
After looking at https://github.com/abramenal/cypress-file-upload/issues/70 I could workaround this issue (where in my case a pdf file was corrupted) by using base64 encoding

[code]

[2020-12-08 13:52] mingyixu opened #244 "[Bug]Upload image fail"
### Current behavior:
I'm trying to upload an image to a file. This is my code
cy.get('#pic').attachFile({ filePath: 'abc', mimeType: 'image/jpg', encoding: 'base64' }, { subjectType: 'drag-n-drop' });

on mac is success, but cann't upload on linux. its must use :
        cy.fixture("abc.jpg", 'binary')
            .then(Cypress.Blob.binaryStringToBlob)
            .then((fileContent) => {

[2020-12-09 05:43] mingyixu commented on #179
I am seeing the same issue here, too。using Chrome 80. It runs without errors and is picking up the correct file to attach, but nothing is seen in the UI input, and the submission is still disabled.

[2020-12-09 17:10] janetlee commented on #179
Leaving this note if anyone is using newer versions. Totally understand there is only one maintainer and the outlook is bleak on fixing this. Will try the v3 version next.

Firefox 83 and Chrome 87: Runs without errors but it never changes my dropzone appearance leading me to think the file is not actually attached. (Code snippet has two different lines bc I was testing if the issue was missing op

[2020-12-09 21:24] spragya commented on #177
[code]
This worked for me. I am using `Cypress : 6.0.0`, `cypress-file-upload: 4.1.1`

[2020-12-22 17:53] andrico1234 commented on #202
This worked for me straight away, I'm surprised that this is not documented in the README.

[2020-12-22 17:56] abramenal commented on #202
I think README indeed lacks of clarity on using command with TS, might be a good improvement for upcoming v5 release

[2020-12-23 09:08] andrico1234 commented on #202
I whipped up a super quick MR to include @MCFreddie777 's .tsconfig changes to the README, you can find it here: https://github.com/abramenal/cypress-file-upload/pull/246

[2020-12-28 09:26] debbyzang commented on #233
I try to upload files, but it doesn't work. I tried three ways, none is work for me . And I attach the expect result and the actual result

[](url)
<img width="658" alt="Snipaste_2020-12-28_17-24-00" src="https://user-images.githubusercontent.com/21197863/103204117-8ba4f180-4931-11eb-9761-60dd40ef5007.png">
<img width="617" alt="Snipaste_2020-12-28_17-23-19" src="https://user-images.githubusercont

[2020-12-29 11:16] #213 closed

[2020-12-29 11:17] #208 closed

[2020-12-29 11:18] #167 closed

[2020-12-29 11:18] #160 closed

[2021-01-07 05:46] MuckT commented on #239
Getting the similar error after updating from cypress 6.2.0 to 6.2.1; Seems like something is up with this library and how it handles updates to Cypress. I went so far as to delete my 'node_modules' folder and do an ```npm install```, but the issue persists.

[2021-01-11 17:20] maga-polito commented on #179
I'm having same error only on firefox 84, when uploading a json file. on other extensions it works fine

[2021-01-13 03:15] nathanielongyiitak opened #249 "[Bug] File upload to jQuery.filer"
### Current behavior:

Good day, the package doesn't seem to work with the jQuery.filer plugin.

After attachFile:
![image](https://user-images.githubusercontent.com/44321176/104400469-7e247400-558d-11eb-9369-1f02145a0a07.png)

Inspect element:
![image](https://user-images.githubusercontent.com/44321176/104400071-ea52a800-558c-11eb-94bf-1befaea4eda2.png)

### Desired behavior:

Image is successful

[2021-01-13 20:19] pedropacheco-hotmart opened #250 "[Bug] n.basename is not a function error when uploading png image"
### Current behavior:

As I'm running a Cypress test with this package, I'm getting an `n.basename is not a function` error when I call the attachFile function from a hidden input of type file trying to upload a png image. Already tried invoking the `show` method so it's visible before attaching without success.

<img width="398" alt="Captura de Tela 2021-01-13 às 16 37 20" src="https://user-image

[2021-01-14 01:05] ifilatov commented on #216
@saschwarz does the snippet you shared work for you on current versions?
I have cypress-file-upload 4.1.1 and cypress 6.2.1 and sadly it does not work for me (no errors thrown on Cypress side, but my app UI thrown an error that was not able to parse xlsx and find excelSheet)

[2021-01-16 21:37] #203 closed

[2021-01-16 21:37] #234 closed

[2021-01-17 00:27] abramenal commented on #237
Hi @86SUSHIL
I don't get what preview you are referring to. Can you share more details?

[2021-01-17 00:29] abramenal commented on #249
Hi @nathanielongyiitak,
I can hardly imagine paying some time to fix compatibility with jQuery, I'm afraid you're the only user with this specific case.
It is good to keep the issue opened, but I cannot promise you it will be fixed in foreseen future. Unless you have some time to at least debug what's going on with it 🥶
Sorry about that dude

[2021-01-17 00:29] #220 closed

[2021-01-17 00:30] abramenal commented on #223
I assume if it is working in latest version, it should be fine in the previous ones

[2021-01-17 00:30] #223 closed

[2021-01-17 00:38] abramenal commented on #203
Released with `v4.2.0`

[2021-01-17 00:39] abramenal commented on #234
Released with `v4.2.0`

[2021-01-17 01:41] nathanielongyiitak commented on #249
Oh ok 😢 is it because Cypress is not usually used to test web application related to jQuery? Thanks for the response.

[2021-01-17 11:09] abramenal commented on #249
Well, not really, I think it is good for any type of application regardless of library/framework you use.

Since I am the only maintainer here, I cannot fix everything. I try to fix most painful stuff that affects wide audience of people (like issue with certain Cypress version or browser). For less critical stuff I encourage people to do the contribution themselves – but for sure I can support wi

[2021-01-17 11:45] #224 closed

[2021-01-17 11:45] abramenal commented on #224
Hi @mroeling,
Thanks for submitting the issue,
Will release the fix soon!

[2021-01-17 11:49] abramenal commented on #250
Hi @pedropacheco-hotmart
Thanks for submitting the issue!

The only usage of `basename` can be found in this file: https://github.com/abramenal/cypress-file-upload/blob/main/src/helpers/getFixtureInfo.js#L9

So I assume this might be related to your Node.js version, as it's internal Node package.
Can you please share that?

[2021-01-17 11:52] abramenal commented on #242
Hi @zecarrera
Thanks for submitting the issue!
Good one, let me add it

[2021-01-17 11:59] abramenal commented on #209
Encoding and file extension are conceptually different things here. I think it should work either by just omitting the encoding, or setting it to `utf-8`.

[2021-01-17 12:04] abramenal commented on #179
I have updated the implementation for drag-n-drop, so it might be fixed in `v5` I'm gonna release soon.
The issue with empty file contents after it was uploaded should be treated as other issue, as first we need to resolve problems with attaching it in frontend

[2021-01-17 12:08] abramenal commented on #244
Hi @mingyixu
Thanks for submitting the issue!
The two code snippets you mention use different encodings.
I think the correct one is `binary` which should automatically be recognized by the tool.
Here are things you can try:

[code]

[2021-01-17 12:08] #244 closed

[2021-01-17 12:08] #242 closed

[2021-01-17 12:09] #149 closed

[2021-01-17 12:09] #209 closed

[2021-01-17 12:23] abramenal commented on #239
I've tried to reproduce it on CI, but no luck – all works just fine.
Can someone set up some reproducible example so I can work on the fix?

[2021-01-18 10:56] abramenal opened #263 "[Feature] Migrate source code to TypeScript"
### Current behavior:

All the magic is happening in plain JavaScript.

We support types manually, so any API change requires also updating `types/index.d.ts`.

### Desired behavior:

It would be :cool: to have it all written in TS, so we'll
- more structured and cleaner approach
- smoother development process with build-time errors
- no manual support for `types/index.d.ts`

### Versions

V5.1? V

[2021-01-18 14:50] pedropacheco-hotmart commented on #250
Hello there @abramenal! My current node version is `v14.12.0`.

[2021-01-19 07:38] xbill82 commented on #236
I get the same error no matter if I specify the `mimeType` or not

[2021-01-19 10:55] yonigibbs opened #264 "V5.0.0 breaks repeated uploads"
With version 5.0.0, if the test simulates a user uploading one file then another (to replace the first one), on the second upload the system thinks that two files are being uploaded at once, rather than just one. This is different from what happened in v4.x, and is different from what happens if a user manually executes the uploads.

The code I'm using is written in Elm rather than JS or TS, so th

[2021-01-19 15:04] abramenal commented on #264
@yonigibbs hi there, thanks for submitting the issue!

I wasn't completely sure about this logic, but we indeed have place where we keep previously attached files.
https://github.com/abramenal/cypress-file-upload/blob/main/src/helpers/attachFileToElement.js#L5

I think originally it was related to command chaining calls, but since not it is not supported, we can drop this logic as well.

[2021-01-19 16:55] kellyprankin commented on #263
Excited for this.

[2021-01-20 14:16] JanLoebel commented on #264
Same problem here :) Is there any workaround?

[2021-01-20 22:21] abramenal commented on #264
Thanks everyone, just released the fix in `v5.0.1`

[2021-01-21 10:15] yonigibbs commented on #264
Awesome! Thanks for the really fast turnaround, @abramenal 👍

[2021-01-21 13:58] nathanielongyiitak commented on #249
Seems like it's not an error related to the package, solved here https://stackoverflow.com/questions/65774205/file-upload-to-jquery-filer-using-cypress-file-upload-not-working/65818673#65818673, thanks for the response, closing the issue.

[2021-01-21 13:58] #249 closed

[2021-01-22 08:04] viengiang opened #266 "Can't upload file to custom file input."
### Current behavior:

Thanks for your work, this helps me a lot in e2e-testing.
When I tried to upload a file to a custom file input, I don't see anything happen.
![image](https://user-images.githubusercontent.com/61610632/105462568-5e91f780-5cc1-11eb-9d08-559f1291ea2e.png)

![image](https://user-images.githubusercontent.com/61610632/105462426-2f7b8600-5cc1-11eb-8c24-3baaa2ce5b11.png)
So I change

[2021-01-22 10:32] yonigibbs commented on #264
Hey @abramenal. I just tried this out with the example repo I originally linked, and unfortunately it doesn't look like it's resolved the issue (at least in my example). If you check out that repo (the master branch) and update the dependency to v5.0.1 then run Cypress the example test still fails. (It passes when using v4.1.1.)

[2021-01-22 12:01] yonigibbs commented on #264
@abramenal, I might be totally barking up the wrong tree here, but is it possible that NPM hasn't quite got the right version of the code? I see that the code fix was basically to remove the call to `Array.prototype.forEach.call(element.files, f => dataTransfer.items.add(f));` (see PR [here](https://github.com/abramenal/cypress-file-upload/pull/265/files)). I checked the latest code in this GitHub

[2021-01-22 12:45] abramenal commented on #264
@yonigibbs this is rare, but might be possible still. If you still see it there, then it is indeed this. Let me publish a new build then. Will you me able to check it again with `v5.0.2`?

[2021-01-22 12:46] yonigibbs commented on #264
Yup, got the notification email and already tried. 5.0.2 does indeed resolve it. Thanks! 👍

[2021-01-22 12:48] #264 closed

[2021-01-22 12:57] abramenal commented on #266
Hi @viengiang
Thanks for submitting the issue!

That is great. I think what you're missing is correct events to be handled.
So, as you see, the file is actually gets attached to the `input#fileInput` element. I think the difference you're facing when attaching file manually vs doing it with the plugin is events.

I suggest to check out your implementation and see, on which events do you trigger yo

[2021-01-25 06:48] viengiang commented on #266
Thanks for your sharing @abramenal

After reading the comment, I already tried to find out the event and the "click" event is what I need. So, I tried to click first and attach the file after. This actually works.

`cy.get(MY_CONTENT.cssSelector.availableTypes.cmp_product_catalog.cmp_upload_pdf.btn_add_pdf_file).click().attachFile(pdf_file_20mb, { force: true });`

Thank you again. Have a great da

[2021-01-25 08:53] #266 closed

[2021-01-29 04:43] MuckT commented on #239
I can work on an example this weekend as I am still getting this issue with pdf files on cypress 6.2.0 +. Additionally, it appears that the file size is different from a manual upload for pdf files.

[2021-01-30 18:17] vishnuprabhu-95 commented on #141
I’m eagerly waiting to run our pending test case using cypress for folder upload functionality.

[2021-01-31 19:37] BobPilot commented on #239
The same bug on cypress 6.3.0

[2021-02-09 02:03] teebu opened #272 "Running upload test after another upload test fails to trigger upload[Bug]"
### Current behavior:

I can perform each test individually, doing a it.only(), but running them together, 1+ it fails to trigger the upload.

Also tried with 2 seperate describes.

### Desired behavior:

Each test should upload a file and trigger without problems.

### Steps to reproduce: (app code and test code)

[code]

note: this works when the name of the attached file in each test is unique

[2021-02-09 18:39] teebu commented on #272
Works when I use a different name for 2nd test.

[2021-02-09 19:05] teebu commented on #272
After further testing im not sure if it's related to name or not. I added a slight delay, and it seems to be working. Can you verify this is not an issue and close it.

[2021-02-10 22:51] amartinez1558 opened #273 "[Bug]"
### Current behavior:

I have a file that's 100MBs in size. It seems that the cy.fixture is trying to load this into memory before attaching to target input. It seems that this plugin doesn't play well with large files. Can you think of any workaround? Thanks!

![image](https://user-images.githubusercontent.com/53919283/107582767-d95a7e00-6bae-11eb-9170-e90ef35d284a.png)

### Desired behavior:

I

[2021-02-16 12:38] inovramadani commented on #136
Hello, in my case where I used mp4box library to have a check on video metadata before sending a video, the above workaround does not work. It produces wrong video metadata. The below workaround works:
- set encoding to base64 in cy.fixture()
- set encoding in cypress-file-upload .attachFile to base64.

[2021-02-16 13:19] inovramadani opened #275 "[Bug] Need to specify encoding: "base64" for `.png` and `.jpg` images on cypress-file-upload version 5.0.2"
### Current behavior:
Need to explicitly add encoding property to upload image properly. Below is part of my test code:

[code]

Without adding encoding, the image is broken. The file input change handler will upload the image into s3 in my app functionality. If I try to download from s3 url from the upload callback, it will be showing as `It looks like we don't support this file format`. And the

[2021-02-16 21:08] teebu commented on #238
Still an issue, just uploaded a pdf and it's blank pages.

[2021-02-18 23:15] ggimenes commented on #238
I had issue with 2 different mime types and resolved that way:

[code]

This code can be improved but i think it can give you a direction to go!

[2021-02-25 22:31] MuckT commented on #239
This plugin is running fine on Cypress 6.2.0; however, it's showing the file as null in the request body in Cypress 6.2.0+.
Cypress related issue: [Cypress#14275](https://github.com/cypress-io/cypress/issues/14275)

[2021-02-27 04:48] MuckT commented on #238
Think this is an issue with cypress itself - [#15038](https://github.com/cypress-io/cypress/issues/15038)
Also here's a repo to test the some sample file uploads: [cypress-file-upload-tests](https://github.com/MuckT/cypress-file-upload-tests)

[2021-03-01 17:14] slinkardbrandon commented on #236
I still see this issue with `cypress@6.5.0` and `cypress-file-upload@5.0.2`.

[2021-03-01 17:23] slinkardbrandon commented on #236
Also if it wasn't clear from @ismail-codinglab's report, you can work around this by using the object notation and passing mimeType like so:

[code]